<?php
 /**
 * GoMage ProCart Extension
 *
 * @category     Extension
 * @copyright    Copyright (c) 2010-2014 GoMage (http://www.gomage.com)
 * @author       GoMage
 * @license      http://www.gomage.com/license-agreement/  Single domain license
 * @terms of use http://www.gomage.com/terms-of-use
 * @version      Release: 2.1
 * @since        Class available since Release 1.0
 */
 ?>

<?php
    $_item = $this->getItem();  
    $helper = Mage::helper('gomage_procart');  
?>

<a title="<?php echo $helper->__('Subtract'); ?>" class="procart-ab procart-qbh procart-ab procart-qbhl" href="javascript:GomageProcartConfig.qtyDownSidebar(<?php echo $_item->getId() ?>)">-</a>
<input class="input-text qty procart-qty" disabled="disabled" type="text" id="gpc_sidebar_<?php echo $_item->getId() ?>" value="<?php echo $_item->getQty() ?>" />
<a title="<?php echo $helper->__('Add'); ?>" class="procart-ab procart-qbh procart-ab procart-qbhr" href="javascript:GomageProcartConfig.qtyUpSidebar(<?php echo $_item->getId() ?>)">+</a>