<?php if(Mage::getSingleton('cms/page')->getIdentifier() == Mage::app()->getStore()->getConfig('web/default/cms_home_page')) { ?>
<li><a href="https://plus.google.com/114634876003356056993" rel="publisher">Google+</a></li>
<?php } ?>