<!--<a href="#"><img alt="" src="<?php echo Mage::getBaseUrl('media')?>wysiwyg/banneren.png"></a>-->
<?php
	echo $this->getLayout()->createBlock('cms/block')->setBlockId('shipping_fr')->toHtml();
?>