<?php if($this->helper('customer')->isLoggedIn()){ ?>
	<p class="welcome-msg"><?php echo  Mage::helper('core/string')->truncate($this->getWelcome(), '32'); ?> <a href="<?php echo Mage::helper('customer')->getLogoutUrl(); ?>"><?php echo $this->__('(Not you?)') ?></a></p>
<?php }else{ ?>
		<p class="welcome-msg"><?php echo  Mage::helper('core/string')->truncate($this->getWelcome(), '32'); ?> <?php echo ($this->getAdditionalHtml())? '<a href="'.Mage::getBaseUrl().'persistent/index/unsetCookie/">(Not you?)</a>':''; ?></p>
<?php } ?>