<?php 
/*------------------------------------------------------------------------
# APL Solutions and Vision Co., LTD
# ------------------------------------------------------------------------
# Copyright (C) 2008-2010 APL Solutions and Vision Co., LTD. All Rights Reserved.
# @license - Copyrighted Commercial Software
# Author: APL Solutions and Vision Co., LTD
# Websites: http://www.joomlavision.com/ - http://www.magentheme.com/
-------------------------------------------------------------------------*/ 
?>
<?php if($this->getConfig('enabled')==1){ // start enable module?> 
	<?php $this->getListProducts() ?>
	<?php $_productCollection=$this->getProductCollection() ?>
	<?php if(!$_productCollection->count()): ?> <!-- start if exist product -->
			<p>0</p>
		<?php else: ?>
	<div class="mt-products-list">  <!-- start mt products list -->
		<?php if($this->getConfig('title')){?>
			<div class="mt-prolist-title"><h2><?php echo $this->getConfig('title')?></h2></div>
		<?php }?>
			<div class="mt-category-products">
			    <?php $_collectionSize = $_productCollection->count() ?>
			    <?php if($this->getConfig('items')==null){$_columnCount=1;} else { $_columnCount =$this->getConfig('items'); }?>
			    <?php $i=0; foreach ($_productCollection as $_product): ?>
			        <?php if ($i++%$_columnCount==0): ?>
			        <ul class="mt-products-grid  <?php if($i==1) echo ' first';?>">
						<?php endif ?>
							<?php 
								if ($this->getConfig('width')==null){
									$w=0;
								} else {
									$w=$this->getConfig('width');
								}
								if($this->getConfig('height')==null){
									$h=0; }
								else {
									$h=$this->getConfig('height');
								}
							?>
							<li class="item<?php if(($i-1)%$_columnCount==0): ?> first<?php elseif($i%$_columnCount==0): ?> last<?php endif; ?>">
								<?php if(!$this->getConfig('zoom_enabled')): ?>
									<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($w,$h); ?>" width="<?php echo $w?>" height="<?php echo $h?>" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" /></a>
								<?php else: ?>
									<a href="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(600,600); ?>" class = "cloud-zoom product-image" style="position: relative; display: block;" rel="adjustX:10, adjustY:-2, zoomWidth:<?php echo $this->getConfig('zoom_width') ?>, zoomHeight:<?php echo $this->getConfig('zoom_height') ?>"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($w,$h); ?>" width="<?php echo $w?>" height="<?php echo $h?>" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" /></a>
								<?php endif; ?>
								<h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>"><?php echo $this->htmlEscape($_product->getName()) ?></a></h2>																																																																	
								<?php if ( $this->getConfig('review') ): ?>
									<?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
								<?php endif; ?>
								<?php if($this->getConfig('price')): ?>
									<?php echo $this->getPriceHtml($_product, true) ?>
								<?php endif; ?>
								<div class="mt-actions">
									<?php if ( $this->getConfig('addtocart') ){?>
									<?php if($_product->isSaleable()): ?>
										<button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
									<?php else: ?>
										<p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
									<?php endif; ?>
									<?php }?>
									<button type="button" title="<?php echo $this->__('Detail') ?>" class="button btn-detail" onclick="setLocation('<?php echo $_product->getProductUrl() ?>')"><span><span><?php echo $this->__('Detail') ?></span></span></button>
									<?php if( $this->getConfig('addtowishlist') || $this->getConfig('addtocompare') ){?>
									<ul class="add-to-links">
										<?php if( $this->getConfig('addtowishlist') ){?>
										<?php if ($this->helper('wishlist')->isAllow()) : ?>
											<li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
										<?php endif; ?>
										<?php } ?>
										<?php if( $this->getConfig('addtocompare') ){?>
										<?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
											<li><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a></li>
										<?php endif; ?>
										<?php }?>
									</ul>
									<?php }?>
								</div>
								<?php if( $this->getConfig('shortdescription') ){?>
								<div class="mt-desc">
									<?php if( !$this->getConfig('maxlength') ){?>
										<?php echo nl2br($this->htmlEscape($_product->getShortDescription())) ?>
									<?php } else {?>
										<?php echo nl2br(substr($this->htmlEscape($_product->getShortDescription()),0,$this->getConfig('maxlength')).'...') ?>			            
									<?php }?>
									<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>" class="link-more"><?php echo $this->__('Learn More') ?></a>
								</div>
								<?php }?>
							</li>
						<?php if ($i%$_columnCount==0 || $i==$_collectionSize): ?>
						</ul>
		        <?php endif ?> <!--  -->
		        <?php endforeach ?>
		        <script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd','even','first','last'])</script>
			</div>		
		 <!-- end exist product -->		
	</div> <!-- end products list -->
	<?php endif; ?>
<?php } //end of enable module?>

