<?php
/**
 * Author: HieuNT
 * Email: hieunt@smartosc.com
 * Company: SmartOSC
 */

?>

<script type="text/javascript" >
    warehouseQty = [];
    naSymbol = '-';
    changedQty = [];
    coupleQty = 0;
    couple = [];
    coupleMode = false; // be active when pick 2 stock item

    //Initial form containing stock information
    stockform = jQuery("<form id=\"stockinfo\" action=\"<?php echo Mage::getModel('adminhtml/url')->getUrl('*/*/saveall') ?>\" method=\"POST\" style=\"display: none;\"></form>");
    stockform.append('<input type="text" name="form_key" value="<?php echo $this->getFormKey() ?>" />');
    jQuery('body').append(stockform);

    /**
     * This will add params for sending to server
     * */
    function addElement(element) {
        element = element.clone().hide()
        // Check duplicate form element, if so then remove the old one
        jQuery(stockform).children().each(function(){
            if (jQuery(this).attr('name') == jQuery(element).attr('name')) {
                jQuery(this).remove();
            }
        })

        stockform.append(element)
    }
    /**
     * Change the element to edit mode
     * param anchor will avoid this turn off by function disableEditMode(ele,false)
     * */
    function editMode(elm,anchor) {
        if (elm.val() == naSymbol) {
            elm.parent().children('.editable').val('');
        }

        elm.hide();
        elm.parent().children('.editable').show();
        if (anchor) {
            elm.parent().children('.editable').attr('anchor',1);
        } else {
            elm.parent().children('.editable').removeAttr('anchor');
        }
        elm.parent().children('.dancer').show();
        elm.parent().children('.editable').focus();
    }
    /**
     * Turn off the change mode
     * Force in case this elm's edit mode was turn on using param anchor = true
     */
    function disableEditMode(elm,force) {
        if ((elm.parent().children('.editable').attr('anchor') != 1) || force) {
            elm.parent().children('.itext').show();
            elm.parent().children('.editable').hide();
        }
        addElement(elm);
    }
    /**
     * Revert all change value to original
     */

    function reset() {
        for(i = 0; i < warehouseQty.length ; i++) {
            jQuery('.editable').eq(i).val(warehouseQty[i]);
            jQuery('.editable').eq(i).parent().children('span').html(warehouseQty[i]);
        }

        jQuery('.delete').addClass('inactive')
    }
    // params
    // elm: element textbox
    // This function validate value of textbox. If the value are not allow then revert the value to last change value
    function validateInput(elm) {
        error = false;
        if ((isNaN(elm.val()) && elm.val() != ''))  {
            alert('Value must be digit or blank');
            error = true;
        } else if(!isInt(elm.val())) {
            alert('Value must be integer');
            error = true;
        }
        else {
            jQuery('.delete').removeClass('inactive')
            changedQty[jQuery('.editable').index(elm)] = elm.val();
            if (elm.val() == '') {
                elm.val(naSymbol);
                elm.parent().children('span').html(jQuery(elm).val());
            }
            else {
                elm.parent().children('span').html(Number(elm.val()));
            }
        }

        //revert value to original
        if(error) {
            elm.val(changedQty[jQuery('.editable').index(elm)]);
        }
    }

    var grandParent = {};
    // This stuff toggle form input when user click on grid, this should run when the whole page ready
    jQuery(document).ready(function(){
        jQuery('.dancer').each(function(){
            jQuery(this).parent().css({'position':'relative'});
        })

        jQuery('.itext').each(function(){
            jQuery(this).click(function(){
                editMode(jQuery(this),false);
            });
        });

        // toggle form input when finish editing and put value to the form which will be send to saveallAction
        jQuery('.editable').blur(function(){
            // Validate input
            disableEditMode(jQuery(this),false);
        })


        jQuery('.editable').change(function(){
            //validate Input
            validateInput(jQuery(this));
            // check if stock item are changing in couple or not
            sync = false;
            for (var i=0; i<couple.length; i++) {
                if (couple[i].is(jQuery(this).parent())) {
                    sync = true;
                    break;
                }
            }
            if (coupleMode && sync) {
                if (couple.length == 2) {
                    for (var i=0; i<couple.length; i++) {
                        if (!couple[i].children('.editable').is(jQuery(this))) {
                            thisValue = jQuery(this).val();
                            if (thisValue == naSymbol) {
                                thisValue = 0;
                            }
                            if (coupleQty >= thisValue) {
                                couple[i].children('.editable').val(coupleQty - thisValue);
                                couple[i].children('.itext').html(coupleQty - thisValue);

                                // Add changed data to form
                                addElement(jQuery(this));
                                addElement(couple[i].children('.editable'));
                            } else {
                                alert('Not have enough qty for tranfering');
                                // revert value for both textbox
                                jQuery(this).val(coupleQty - couple[i].children('.editable').val());
                                jQuery(this).parent().children('.itext').html(coupleQty - couple[i].children('.editable').val());
                            }
                        }
                    }
                }
            }
        })


        // Save all default warehouse qty for reset function
        i = 0;
        jQuery('.editable').each(function(){
            index = i;
            warehouseQty[index] = jQuery(this).val();
            changedQty[index] = jQuery(this).val()
            i++;
        })

        // Do couple warehouse to transfer stock

        Object.size = function(obj) {
            var size = 0, key;
            for (key in obj) {
                if (obj.hasOwnProperty(key)) size++;
            }
            return size;
        };

        // Initial couple
        jQuery('.dancer').each(function(){
            jQuery(this).click(function(){
                // initial grandparent for comparing. only people has same parent are allowed doing married together
                if (couple.length == 0) {
                    grandParent = jQuery(this).parent().parent();
                } else if(couple.length == 1) {
                    if (jQuery(this).parent().parent().is(grandParent) == false) {
                        return false;
                    }
                }

                // push to couple
                if (jQuery(this).is(':checked')) {
                    couple.push(jQuery(this).parent());
                } else {
                    // remove from couple
                    for (var i=0; i<couple.length; i++) {
                        if (couple[i].is(jQuery(this).parent())) {
                            index = i;
                        }
                    }
                    couple.splice(index, 1);
                }
                // 1 couple have only 2 people
                if (couple.length > 2) {
                    // Remove the recent adding guy
                    for (var i=0; i<couple.length; i++) {
                        if (couple[i].is(jQuery(this).parent())) {
                            index = i;
                        }
                    }
                    couple.splice(index, 1);
                    return false;
                }

                if (!jQuery(this).is(':checked') || couple.length == 1) {
                    coupleQty = 0;
                    coupleMode = false;
                    disableEditMode(jQuery(this).parent().children('.itext'),true);
                } else {
                    if (couple.length == 2) {
                        coupleMode = true;

                        for (var i=0; i<couple.length; i++) {
                            if(!isNaN(couple[i].children('.editable').val())) {
                                coupleQty += parseInt(couple[i].children('.editable').val());
                            }
                        }
                    }
                    editMode(jQuery(this).parent().children('.itext'),true);
                    //Disable change mode of other box
                    for (var i=0; i<couple.length; i++) {
                        if (!couple[i].children('.editable').is(jQuery(this).parent().children('.editable'))) {
                            disableEditMode(couple[i].children('.itext'),true);
                            break;
                        }
                    }
                }
            })
        })

    });

    function isInt(n) {
        return n % 1 === 0;
    }
</script>