<style>
    .am_grid_schedule .data{
        width: 800px;
    }
    
    
    .am_grid_schedule .select{
        width: 100%;
    }
    
    .am_grid_schedule td input.input-text{
        width: 98%;
    }
    
</style>
<script>
    function addRow(){
        var cloneRow = $('schedule_template').cloneNode(true);
        cloneRow.setStyle({
            'display': 'table-row'
        });
        
        $('schedule_grid_body').appendChild(cloneRow);
        return cloneRow;
    }
    
    function removeRow(button){
        $(button).up('tr').remove();
    }
    
</script>
<div class="entry-edit-head">
    <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('Schedule') ?></h4>
</div>
<fieldset>
    
    <div class="grid am_grid_schedule">
    
        <span class="field-row">
            <table class="data" cellpadding="0" cellspacing="0">
                <thead>
                   <tr class="headings">
                       <th><?php echo $this->__('Transactional Email') ?></th>
                       <th><?php echo $this->__('Delivery Time') ?></th>
                       <th><?php echo $this->__('Coupon'); ?></th>
                       <th><?php echo $this->__('Action') ?></th>
                   </tr>
               </thead> 
               <tbody id="schedule_grid_body">
                    <tr id="schedule_template" style="display:none">
                        <td>
                            <select id="email_templates" name="schedule[email_templates][]" class="select">
                            <?php 
                                foreach($this->getEmailTemplatesOptions() as $template){
                            ?>
                                <option value="<?php print $template['value']?>"><?php print $template['label']?></option>
                            <?php
                                }
                            ?>
                            </select>
                        </td>
                        <td>
                            <table cellpadding="0" cellspacing="0">
                                <tr>
                                    <td>Days</td>
                                    <td>
                                        <select id="days" name="schedule[days][]" class="select">
                                            <?php print $this->getNumberOptions(31)?>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Hours</td>
                                    <td>
                                        <select id="hours" name="schedule[hours][]" class="select">
                                            <?php print $this->getNumberOptions(24)?>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Minutes</td>
                                    <td>
                                        <select id="minutes" name="schedule[minutes][]" class="select">
                                            <?php print $this->getNumberOptions(60)?>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table cellpadding="0" cellspacing="0">
                                <tr>
                                    <td><?php echo $this->__('Type') ?></td>
                                    <td>
                                        <select id="coupon_type" name="schedule[coupon_type][]" class="select">
                                            <?php 
                                                foreach($this->getCouponTypesOptions() as $template){
                                            ?>
                                                <option value="<?php print $template['value']?>"><?php print $template['label']?></option>
                                            <?php
                                                }
                                            ?>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td><?php echo $this->__('Discount Amount') ?></td>
                                    <td>
                                        <input id="discount_amount" name="schedule[discount_amount][]" value="0" class="validate-not-negative-number input-text" type="text">
                                    </td>
                                </tr>
                                <tr>
                                    <td><?php echo $this->__('Expired in (days)') ?></td>
                                    <td>
                                        <input id="expired_in_days" name="schedule[expired_in_days][]" value="4" class="validate-not-negative-number input-text" type="text">
                                    </td>
                                </tr>
                                <tr>
                                    <td><?php echo $this->__('Subtotal is greater than') ?></td>
                                    <td>
                                        <input id="subtotal_greater_than" name="schedule[subtotal_greater_than][]" value="" class="validate-zero-or-greater input-text" type="text">
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td><button title="" type="button" class="scalable delete" onclick="removeRow(this)" style=""><span></span></button></td>
                    </tr>   
               </tbody>
            </table>                    
        </span>
    
    </div>
    <button title="Add Column" type="button" class="scalable add" onclick="addRow()" style=""><span><?php echo $this->__('Add E-mail')?></span></button>    
</fieldset>

<script>
    <?php
        $items = $this->getScheduleCollection()->getItems();
        
        if ($this->getModel()->getId()){
            
            foreach($items as $schedule){
            
    ?>
        var tmpAmRow = addRow();
        
        <?php if ($schedule->getEmailTemplateId()) {?>
        tmpAmRow.down('#email_templates option[value=<?php print $schedule->getEmailTemplateId();?>]').setAttribute('selected', true);
        <?php }?>
            
        <?php if ($schedule->getDays()) {?>
        tmpAmRow.down('#days option[value=<?php print $schedule->getDays();?>]').setAttribute('selected', true);
        <?php }?>
            
        <?php if ($schedule->getHours()) {?>
        tmpAmRow.down('#hours option[value=<?php print $schedule->getHours();?>]').setAttribute('selected', true);
        <?php }?>
            
        <?php if ($schedule->getMinutes()) {?>
        tmpAmRow.down('#minutes option[value=<?php print $schedule->getMinutes();?>]').setAttribute('selected', true);
        <?php }?>
            
        <?php if ($schedule->getCouponType()) {?>
        tmpAmRow.down('#coupon_type option[value=<?php print $schedule->getCouponType();?>]').setAttribute('selected', true);
        <?php }?>
            
        
        tmpAmRow.down('#discount_amount').value = <?php print $schedule->getDiscountAmount();?>;

        tmpAmRow.down('#expired_in_days').value = <?php print $schedule->getExpiredInDays();?>;
        
            
        <?php if ($schedule->getSubtotalGreaterThan()) {?>
        tmpAmRow.down('#subtotal_greater_than').value = <?php print $schedule->getSubtotalGreaterThan();?>;
        <?php }?>
            
    <?php
        }
        } else {
            $defaultTemplate = $this->getDefaultTemplateId();
?>
        var tmpAmRow1 = addRow();
        tmpAmRow1.down('#minutes option[value=10]').setAttribute('selected', true);
        
        var tmpAmRow2 = addRow();
        
        tmpAmRow2.down('#hours option[value=3]').setAttribute('selected', true);
        
        var tmpAmRow3 = addRow();
        
        tmpAmRow3.down('#days option[value=1]').setAttribute('selected', true);
        
        <?php if ($defaultTemplate) {?>
            tmpAmRow1.down('#email_templates option[value=<?php print $defaultTemplate;?>]').setAttribute('selected', true);
            tmpAmRow2.down('#email_templates option[value=<?php print $defaultTemplate;?>]').setAttribute('selected', true);
            tmpAmRow3.down('#email_templates option[value=<?php print $defaultTemplate;?>]').setAttribute('selected', true);
        <?php }?>
<?php
        }
    ?>
</script>