/* Loding Part */
ul, ol { list-style :none outside none;}
#checkoutnext-ajax-loader { position:fixed; z-index:9999; width:100%; height:100%; background:url('../../images/checkoutnext/trans_BG.png') repeat; left:0; top:0}
div.loading-ajax { background-image: url("../../images/checkoutnext/ajax-loader.gif");background-position: left center;background-repeat: no-repeat;height: 50px;text-align: left;padding-left: 48px;padding-top: 24px;}
#checkoutnext-ajax-loader div { width:120px; height:auto; margin:28% auto 0; font-size:13px; line-height:18px ; color:#CCC;
background:url(../../images/checkoutnext/loader.gif) no-repeat left center;padding-left:38px;padding-top:10px;padding-bottom:10px;
}
.main_layout_loader{ width:100%; height:100%; min-height:100%; position:fixed; background:rgba(69,69,69,0.6); left:0px; top:0px;z-index:99999;}
.checkoutnext_loader{ width:400px; height:300px; margin:0 auto; top:30%; background:url('../../images/checkoutnext/ajax-loader.gif') no-repeat left top; position:relative}
/* Login Form */
.checkoutnext-mini-login{background:none repeat scroll 0 0 black;height:100%;width:100%;left:0;top:0;position:fixed;}
#checkoutnext_login_form { }
#checkoutnext_login_form h1 { color:#4B4B4B; padding-bottom:20px}
#checkoutnext_login_form label,#checkoutnext_forgotpass_div label{ font-size:12px; line-height:32px; color:#474747; float:left; clear: both; }
.checkoutnext_login_form_input { width:180px; border:1px solid #BFBFBF; font-size:12px; line-height:18px ; color:#6F6F6F; padding:2px 0 3px; float:right; margin-bottom:8px; margin-top:5px}
#checkoutnext_login_form_input a { float:right; clear:both; color:#4B4B4B; text-decoration:none; font-size:11px; line-height:18px; }
#checkoutnext_login_form a:hover { text-decoration:underline; color:#F00}
#checkoutnext_login_form .log_button:hover { opacity:0.85;}
.close { float:right; margin: -30px -50px 0 0; border:0px; }
.close_mini_login ,.div_closer{ background: url("../../images/checkoutnext/closebox.png") no-repeat scroll left top transparent;  height: 30px; position: absolute; right: -10px; top: -10px; width: 30px;z-index: 1003; }
/* #checkoutnext-mini-login-form { left: 50%;margin-left: -162px;margin-top: -104px;padding: 20px 40px;position: fixed;top: 50%;width: 305px;z-index: 1000;background: none repeat scroll 0 0 #FFFFFF;border: 1px solid #CCCCCC;} */
/*#checkoutnext-mini-login-form,#checkoutnext-coupon-form { background: none repeat scroll 0 0 #FFFFFF; border: 2px dashed #CCCCCC; margin: 0 auto;
 padding: 10px 40px 70px; position: relative; width: 305px; z-index: 999;}*/
.checkoutnext-mini-login {z-index: 0 !important;}
#checkoutnext-mini-login-form h1 { color: #4B4B4B; padding-bottom: 20px;}
.checkoutnext-error-message { color: red; font-weight: bold; clear:both;}
#checkoutnext-mini-login-form a { clear: both;color: #4B4B4B;float: right;text-decoration: none;}
#checkoutnext-mini-login-form .validation-advice { right: -11em !important; margin: 3px 0 0 147px;}
.waiting_checkoutnext,.inner_loader {margin-top: 41px; text-decoration: blink; padding:16px 32px 16px 0px; background:url(../../images/checkoutnext/loading_inner.gif) no-repeat right center; position:absolute; right:30px; top:20px}
/* Checkout Steps */
.checkoutnext_button { float:right; height:auto; padding:4px 13px 5px; border:0px; cursor:pointer; clear:both; margin:20px 10px 0 0; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; color:#494949;  font-size:bold 13px; line-height:18px; clear:both;}
.checkoutnext-title span{float:left;width:27px;height:27px;margin-right:5px;background:transparent url(../../images/checkoutnext/osc-numbers.png) no-repeat;}
.checkoutnext-title .step-1{background-position:0;}
.checkoutnext-title .step-2{background-position:-27px;}
.checkoutnext-title .step-3{background-position:-54px;}
.checkoutnext-title .step-4{background-position:-81px;}
.checkoutnext-title .step-review{background-position:-242px;}
.checkoutnext-v-fix{ float: left;width:100%;}
.checkoutnext-start { }
.checkoutnext-fix { float: left; }
.checkoutnext-header{ clear: both; width: 100%;}
.checkoutnext-header h1 { color: #434343; float: left; font-size: 24px; line-height:22px; text-transform: uppercase; width: 100%; margin-top: 20px;}
.checkoutnext-header h2 { color: #434343;float: left;font-size: 18px; line-height:28px;padding: 5px 0 4px;width: 100%;}
.checkoutnext-header a { clear: both;font-weight:bold;font-size:12px;margin-bottom: 10px;text-decoration: none;}
.expand-options-link,.close-options-link{ float:left; }
#checkoutnext-left {  float: left; width: 32%;}
.step { border: 1px dashed #CACACA;float: left;margin: 10px 0 0;padding: 10px;border-radius: 8px 8px 8px 8px;}
.headings { background: none repeat scroll 0 0 #1F3447;height: 24px;padding: 3px 0 1px;width: 100%;}
#checkoutnext-container h3 { color: #000;font-weight:bold ;font-size:  15px; line-height:22px;margin-bottom: 15px;padding: 0 0 2px 28px;text-transform: uppercase;}
.d_2 { float: left;font-size: 12px; line-height:18px;margin: 10px 0 0;width: 266px;}
.d_2 .field, .name-firstname {width: 133px;}
.name-firstname {float: left;}
.d_2 input[type="text"] { border: 1px solid #BFBFBF;color: #6F6F6F;font-size: 12px; line-height:1.55; margin-bottom: 6px;padding: 2px 0 3px;width: 123px;}
.d_2 .name-lastname { float: right;width: 131px;}
.d_1 { float: left;font-size: 12px; line-height:18px;margin: 10px 0 0;width: 125px;}
.d_4 { float: right; font-size: 12px; line-height:18px;margin: 10px 0 0;width: 125px;}
.d_3 input[type="text"] { border: 1px solid #BFBFBF;color: #6F6F6F;font-size: 12px; line-height:18px;padding: 2px 0 3px;width: 261px;}
.d_2 select { border: 1px solid #BFBFBF;color: #6F6F6F;font-size: 12px; line-height:1.55;padding: 1px 0;width: 263px;}
select option { padding-right: 10px;}
.d_1 span, .d_2 span, .d_3 span, .d_4 span, .cc_info span, .required { color: #FF0033; }
.d_2 .customer-name .required{ float:left;font-size: 12px; line-height:18px;}
.d_2 .customer-name .required em{ float:right; color:#FF0033;}
.d_4 input[type="password"] { border: 1px solid #BFBFBF;color: #6F6F6F;font-size: 12px; line-height:18px;padding: 2px 0 3px;width: 126px;}
.d_1 input[type="password"] { border: 1px solid #BFBFBF;color: #6F6F6F;font-size: 12px; line-height:18px;padding: 2px 0 3px;width:123px;}



input.checkbox { margin: -3px 3px 0 0 !important;}
.d_4 select { border: 1px solid #BFBFBF;color: #6F6F6F;font-size: 12px; line-height:1.55; padding: 1px 0;width: 100%;}
#os-right { float: right;width: 66%;padding-left:12px;}
.onestepcheckout-checkout-method a{ font-size: 12px; line-height:1.55;}
.checkoutnext-agreement a{ font-size: 12px; line-height:1.55;}
.onestepcheckout-checkout-method .popup-login { float:left;}
.onestepcheckout-checkout-method .edit-cart { float:right; margin-right: 26px;}
.shipping_method { width: 43%;}
.payment{ width: 44%;}
.billing {float:none;display:block;overflow:hidden;}
.shipping_method h6 {color: #434343;font-size: 12px; line-height:1.55;padding: 5px 0 0 4px;width: 100%;font-weight:bold;}
.step label { color: #474747;font-size: 12px; line-height:1.55;vertical-align: top;}
.sp-methods .form-list li {margin: 0 0 8px;overflow: hidden;}
.clear {clear: both;line-height: 10px;}
.form-list li input { border: 1px solid #BFBFBF;color: #6F6F6F;font-size: 12px; line-height:1.55;padding: 2px 4px 3px;width: 170px !important;}
.sp-methods .form-list .input-box {clear: both;display: block;width: 260px;}
.payment { margin:10px 0 0 15px; padding:10px;}
.form-list li select {border: 1px solid #BFBFBF;color: #6F6F6F;font-size: 12px; line-height:1.55; padding: 1px 0;width: 180px !important;}
.review {  width: 94%; margin:10px 0 0;padding:10px;}
.order {clear: both;margin: 0 auto;padding: 10px 0;width: 100%;}
.sp-methods select.month, .sp-methods select.year {width: 85px !important;}
.order { width:100%; clear:both; margin:0 auto; padding:0;}
.order ul { float:left; padding:0px; list-style:none; font-size:13px; line-height:18px; color:#343434}
.order ul li { float:left}
/*------- Quantity Plus/Minus BTN ------*/
.minus { vertical-align:middle; margin-right:4px}
.plus { vertical-align:middle; margin-left:3px}
.hd { float:left; clear:both; width:100%; border-top:1px solid #CDCDCD; padding:3px 0 3px;}
.hd_gt { float:left; clear:both; width:100%; border-top:1px solid #CDCDCD; border-bottom:1px solid #CDCDCD; padding:3px 0 3px;}
.hd_1 { width:177px}
.hd_2 { width:63px; text-align:right}
.qt { width:35px; text-align:center; white-space:nowrap}
.subt { text-align:right; width:204px}
.amount { text-align:right; width:70px}
.review_order label { font-size:12px; line-height:18px; color:#474747; }
.review_order input[type="text"] { width:180px; border:1px solid #BFBFBF; font-size:12px; line-height:18px; color:#6F6F6F; padding:2px 0 3px}
.aply_cp { padding:2px 10px 3px; border:0px; cursor:pointer; clear:both; margin:8px 0 0; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; color:#494949;  font-size:bold 13px; line-height:18px;}
.aply_cp:hover { background:#71a9e1}
.review_order textarea { font-size:12px; line-height:18px; color:#6F6F6F; padding:2px 4px 3px; border:1px solid #BFBFBF; width:220px}
.review_order label { font-size:12px; line-height:18px; color:#474747; vertical-align:top; *vertical-align:middle !important;}
.review_order a { color:#5e8dbc; text-decoration:underline;}
.review_order a:hover { color:#707070; text-decoration:none;}
.review_order select { width:240px; border:1px solid #BFBFBF; font-size:12px; line-height:18px; color:#6F6F6F; padding:1px 0 1px;}
.place_order { padding:3px 14px; border:0px; cursor:pointer; color:#494949; font-weight:bold; font-size:  16px; line-height:31px; /*float:right;*/float:right; height:auto;}
.place_order:hover { /*background:#71a9e1*/ opacity:0.85;}
.place_order_other { padding:0 9px; border:0px; cursor:pointer; color:#494949; font-weight:bold; font-size:  14px; line-height:31px; /*float:right;*/float:right; height:auto;} 
.place_order_other:hover { /*background:#71a9e1*/ opacity:0.85;}

#screenshot{ position:absolute; -moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px; background:#6E6E6E; display:none; color:#fff;}
.tool-tip .tool-tip-content {padding: 15px 8px 0px !important;}
.data-table { width:100%;border:1px solid #bebcb7;border-collapse:collapse;}
.data-table .odd  { background:#f8f7f5 }
.data-table .even { background:#eeeded; }
.data-table td.last,.data-table th.last { border-right:1px solid rgb(204, 204, 204); }
.data-table tr.last th { border-bottom:1px solid #E1E1E1 !important;border-right:1px solid #E4E4E4;}
.data-table tr.last td { border-bottom:1px solid #CCCCCC !important;}
.data-table th { padding:3px 8px; font-weight:bold; border-right:1px solid #CCCCCC !important;}
.data-table td {  padding: 0 0 0 8px; }

.data-table thead th { font-weight:bold; padding:2px 8px; color:#0a263c !important; white-space:nowrap; vertical-align:middle; background:none;border:none;}
.data-table thead th.wrap { white-space:normal; }
.data-table thead th a,
.data-table thead th a:hover { color:#fff; }
.data-table thead th { }
.data-table thead th .tax-flag { font-size:11px; white-space:nowrap; }

.data-table tfoot { border-bottom:1px solid #CCC; }
.data-table tfoot tr.first td {background:none; padding-left: 0 !important;text-align: right;  border-bottom: 1px solid #CCCCCC;}
.data-table tfoot tr { border:none;background:none;background-color:#FFF !important; }
.data-table tfoot td { padding:3px 8px; border-bottom:0;}
.data-table tfoot strong { font-size:16px; }

.data-table tbody th,
.data-table tbody td { border-bottom:1px solid #CCC;padding:9px;border-right: 1px solid #CCCCCC; background: #fff; }
/* Bundle products tables */
.data-table tbody.odd tr { background:#f8f7f5 !important; }
.data-table tbody.even tr { background:#f6f6f6 !important; }
.data-table tbody.odd tr td,
.data-table tbody.even tr td { border-bottom:0; }
.data-table tbody.odd tr.border td,
.data-table tbody.even tr.border td { border-bottom:1px solid #CCC; }

.data-table tbody td .option-label { font-weight:bold; font-style:italic; }
.data-table tbody td .option-value { padding-left:10px; }
.product-name { padding: 0px !important;background: none repeat scroll 0 0 transparent !important;text-align: left;margin: 0 !important;text-transform: none !important;width: 100%; font-size:12px; line-height:1.55;
}

/*--------------coupon--------------------*/
.checkoutnext-coupon{background:none repeat scroll 0 0 black;height:100%;width:100%;left:0;top:0;position:fixed;z-index:999;}
.checkoutnext-coupon-form .coupon-form button{float:right;}
/*#checkoutnext-coupon-form { width:305px; background:#FFF;  padding: 20px 40px; -moz-box-shadow: 0 0 20px #000; box-shadow: 0 0 20px #000;
    height: auto;border: 1px solid #CCCCCC;left: 30%;position: fixed;top: 22%;z-index: 1000;}*/
#checkoutnext-coupon-form h1 { font-size:23px; line-height:20px; color:#4B4B4B;}
#checkoutnext-coupon-form label { font-size:12px; line-height:32px; color:#474747; float:left; }
.checkoutnext-coupon-form_input { width:180px; border:1px solid #BFBFBF; font-size:12px; line-height:18px; color:#6F6F6F; padding:2px 0 3px; float:right; margin-bottom:8px; margin-top:5px}
#checkoutnext-coupon-form a { float:right; clear:both; color:#4B4B4B; text-decoration:none; font-size:11px; line-height:18px; }
#checkoutnext-coupon-form a:hover { text-decoration:underline; color:#F00}
#checkoutnext-coupon-form .coup_button {height:auto; padding:4px 13px 5px; border:0px; cursor:pointer; clear:both; margin:20px 10px 0 0; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; color:#494949;  font-weight:bold;font-size: 13px; line-height:18px; /*float:left;*/ clear:both;}
#checkoutnext-coupon-form .coup_button:hover { opacity:0.85;}
/* Checkout Agreements */
.checkoutnext-agreement{margin: 10px 0;font-size:13px; line-height:18px;}
#checkout-review-submit .backbutton {background:none repeat scroll 0 0 #000;height:100%;width:100%;left:0;top:0;position:fixed;z-index:999;}
.checkoutnext-agreement-content, #checkoutnext-mini-login-form,#checkoutnext-coupon-form{ height: 100%;left: 0;position: fixed;top: 0;width: 100%;z-index: 9999;}
.checkoutnext-agreement-content div,#checkoutnext_login_form,#checkoutnext_forgotpass_div,.checkoutnext-coupon-form-inner { -moz-box-shadow: 0 0 22px #000000;background: none repeat scroll 0 0 #FFFFFF;color: #6E6E6E;/* font: 12px/18px Tahoma normal; */margin: 22% auto 0;padding: 30px;position: relative;width: 330px;}
#checkoutnext_login_form,#checkoutnext_forgotpass_div{ margin:9% auto 0;}
.checkoutnext-coupon-form-inner { margin: 4% auto 0;}
.checkoutnext-agreement-content div h1 { font-size:24px; line-height:22px; color:#5A5A5A; width:100%; clear:both; margin-bottom:15px}

/* Gift Message */
.gift-messages h3{ color:#FFF !important;font-size: 18px; line-height:28px;background:none repeat scroll 0 0 #2162A3;padding:0px;} 
.gift-messages-form .item .details .form-list li.wide textarea {width:400px;}
.shipping-no { width:94%; float:none;margin:10px 0 0;}
.popup-center { display: block;margin-bottom: 10px;overflow: hidden;}
.btn-remove2 { cursor:pointer;}
.add_gift { clear: both;width: 100%;}
.d_5 { float: left;font-size: 12px; line-height:18px;margin: 10px 15px 10px 5px;width: 117px;}
.d_5 input[type="text"] { border: 1px solid #BFBFBF;color: #6F6F6F;font-size: 12px; line-height:18px;padding: 2px 0 3px;width: 130px;}
.g_t {clear: both;margin-left: 5px;}
.item .left-item { float: left;width: 50%; clear:both;}
.item .right-item { float: right;width: 50%;}
.buttons-set {  margin: 2em 0 0;}
.buttons-set .left {float:left;}

.checkoutnext-agreement-content-p { overflow-y: scroll; height: 360px; float: left; }
.checkoutnext-agreement-content div { margin-top: 4%; height: 420px; }
.d_3 { clear: left; }




/* fixes for paazl */
#shipper_notification_options li input[type="radio"] { width:auto !important;} 
#checkout-payment-method-load .sp-methods dt { margin-top:5px; }
#checkout-payment-method-load { margin-top:13px;}
#service_point_notification_email_options label { width: 80%; }
/* fixes for paazl end*/

/* fixes 4 ie7 */
.customer-name { *margin-top:-4px;}
.d_2 { *margin-top:0px;}
input[id="billing:street2"] { *margin-top:-11px; }
#checkout-payment-method-load { *margin-top: 3px; } 
.customer-name em { *float: right; *position: absolute; *top: 0; *right: -7px; }
.customer-name label { *float: left; *position: relative; *z-index: 0; }
#checkoutnext-mini-login-form .popup-center a { *width:200px; *text-align:right; }
#checkoutnext_login_form, #checkoutnext_forgotpass_div { *top:19%;}
/* fixes 4 ie7 end */


@media only screen and (max-width: 967px) {
	#checkoutnext-container ul, #checkoutnext-container ol { padding:0; clear: both; margin: 0; }
	#checkoutnext-left, #os-right { 	float: left; width: 92%; margin-left: 13px; padding-left: 0; }
	.shipping_method, .payment, .billing, .step.shipping {	width: 94%; }
	.payment { width: 94%; margin: 10px 0 0; }
	dl.sp-methods { clear: both; float: left; padding-top: 7px; }
	.shipping_method h6 { padding: 5px 0 0 0; }
	a.btn-remove, .btn-remove2 { text-indent: -999em; }
	.data-table thead th { padding: 2px 6px; font-size: 83%; }
	#os-right ol.extra { margin: 0;}
	.data-table tbody th, .data-table tbody td { border-right: 1px solid #CCCCCC !important; }
	.checkoutnext-fix { margin-bottom: 5px; }
	#checkout-review-table-wrapper .qty-checkoutnext { width: 20px; }
	.data-table td.last, .data-table th.last { border-right: 1px solid #CCCCCC !important;  }
	/* fixes for paazl */
	.checkout-checkoutnext-index #checkoutnext-container .sp-methods dt {  float: left; clear: left; padding: 3px; margin-top: 0;}
	.checkout-checkoutnext-index #checkoutnext-container .sp-methods dd {  float: left; clear: left; padding: 3px;}

	#shipper_notification_options {padding-left:10px !important;float:left;}
	#shipper_notification_options label {margin: 0 0 2px 5px !important; } 
	#checkout-payment-method-load {margin-top:0px !important;}
	/* fixes for paazl end*/

}

.checkout-button-other {
padding: 5px 8px;
border: 0px;
cursor: pointer;
color: rgb(73, 73, 73);
font-weight: bold;
font-size: 14px;
line-height: 21px;
float: right;
height: auto;
} 

#checkoutnext-left {width:32%; float:left; margin-left:0;}
#os-right{width:65%; padding-left: 12px; float:right;}
.checkout-checkoutnext-index .item-options { clear:both;}
#gift-message-whole-message,.giftmessage-area { width: 263px; } 
.gift-messages-form .f-fix {width: auto;}


/* CSS for responsive */
/***** iPad Smaller than 959px *****/

@media only screen and (min-width: 768px) and (max-width: 959px) {
#checkoutnext-left{ width:100% !important;}
.d_2 { float:none !important;}
.payment{float:left !important;}
#os-right{padding-left: 0px; margin-left:0; width: 100% !important; float:none !important; }

}

@media only screen and (max-width: 767px) {
.col1-layout .col-main{ width:283px;}

.edit-cart {padding-right: 9% !important;}
.d_2 { float:none !important;}
.payment{float:left !important;}
#os-right{padding-left: 0px;}
#checkoutnext-left, #os-right{ width: 100% !important; float:none !important; }
.quickcheckout-agreement-p textarea {width: 200px !important;}

#checkout-review-table tbody th, #checkout-review-table tbody td { width:93%; float:left !important;}
#checkout-review-table tfoot td{ width:95% !important; float:left !important;}
#checkout-review-table tfoot tr.first td{padding:3px 10px !important;}
#checkout-review-table table, #checkout-review-table thead, #checkout-review-table tbody, table#checkout-review-table td, #checkout-review-table tr{ text-align:center !important; width:97.4%;}
#checkout-review-table tfoot tr.first, #checkout-review-table tfoot tr.last{ display:block !important;}

#checkout-review-table tr.last th, #checkout-review-table tr.last td { display:inherit !important;}
#checkout-review-table .checkout-button-other{ float:none !important;}
#checkoutnext-container h3{ text-align:center;}
#checkoutnext-container .btn-remove2 { margin:0 42%;}
#checkoutnext-left, #os-right{ margin-left:0 !important;}
.edit-cart, .onestepcheckout-checkout-method .edit-cart { margin-right:0 !important; padding-right:0 !important;}
.checkoutnext-agreement-content div, #checkoutnext_login_form, #checkoutnext_forgotpass_div, .checkoutnext-coupon-form-inner{ width:283px !important;}
.checkoutnext-title h3{ text-align:left !important;}
#checkout-review-table tfoot td{ border-bottom:1px solid #ccc;}
#checkout-review-table-wrapper .data-table th{width:100%;float: left;border-bottom: 1px solid #ccc;}
.data-table thead th{padding: 7px;}
.data-table tbody th, .data-table tbody td, .data-table th, .data-table th.last{border-right: none !important;}
#checkout-review-table-wrapper .data-table, .data-table tfoot {border-bottom:none;}
.data-table td.last, .data-table th.last{border-right: none !important;}


#os-right{width:100% !important;}
#os-right ol.extra{ width:100% !important;}
#os-review{ width:100% !important; border:none !important;}
#os-review .review{ width:93%;}
} 
