
.onestepcheckout-checkout-method {  border-bottom: 2px solid #4E4E4E;clear:both;overflow:hidden;}
#checkoutnext-left {  float: left; width: 31%;border-right:1px solid #CCC;}
.step { float: left;margin: 10px 0 0;padding: 10px;border-radius: 8px 8px 8px 8px;border:none;}
.billing  { display: block;float: none !important;overflow: hidden;}
#os-right { float: right;width: 68%;padding-left:0px !important;}
.shipping_method { float:none !important;width:auto;}
.payment{ clear:both; float: none !important;width:auto;}
#os-right .extra { width:42%;float:left;}
.payment { float:none !important;}
#os-review {float: right;width: 57%;border-left: 1px solid #CCC;}
.right-item {clear:both;float:left!important; }
.review {width:100%;}
.d_2 { width:258px;}
.d_2 .field, .name-firstname {
    width: 126px;
}
.d_2 input[type="text"] { width:123px;}
.d_3 input[type="text"] { width:255px;}