<?php
	$locale = Mage::app()->getLocale()->getLocaleCode();
	$text="Recent Activity";
	if($locale=="fr_FR"){
		$text="Activit&#233; r&#233;cente";
	}
	else if($locale=="es_ES")
		$text="Actividad reciente";
?>
<div class="block block-list block-active">
    <div class="block-title">
        <strong>
            <span><?php echo $text;?></span>
        </strong>
    </div>
    <div class="block-content">
        <ol >
        </ol>   
    </div>
</div>
<script type="text/javascript">
    document.observe("dom:loaded", function() {
        var activityUrl = "<?php echo $this->getLastActivityUrl(); ?>";
        var objActivity = new amastyWhatsupBlock.create(activityUrl)
    });
</script>