<?php $configs = Mage::helper('dlscrollup')->getConfig();?>
<script type="text/javascript">
document.observe('dom:loaded', function(){
	var dlsuOb = new DLSU('dlscrollup',{duration: <?php echo $configs['scrollduration']?>,offset:<?php echo $configs['scrolloffset']?>,activeOverlay:<?php echo $configs['scrollactiveoverlay']?>});
});
</script>
<div id="dlscrollup" class="element-type-<?php echo $configs['elementtype'] ?>" style="display: none;">
	<a id="testlink" href="#" title="<?php echo $configs['scrolltoptext']; ?>">
	<?php
		switch ($configs['elementtype']) { 
			case 'link':
				echo $configs['scrolltoptext'];
				break;
			case 'image':
				echo '<img src="'.Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA)."dlsu/".$configs['scrolltopimage'].'" alt="'.$configs['scrolltoptext'].'"/>';
				break;
			case 'pill':
				echo '<span class="scroll-up-pill">'.$configs['scrolltoptext'].'</span>';
				break;
			case 'tab':
				echo '<span class="scroll-up-tab">'.$configs['scrolltoptext'].'</span>';
				break;
			default:
				echo $configs['scrolltoptext'];
		}
	?>
	</a>
</div>