<!--@subject Discount Coupon from {{var store_name}} @-->

<style type="text/css">
    body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
<table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
<tr>
    <td align="center" valign="top">
        <!-- [ header starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
            <tr>
                <td valign="top"><a href="{{var store_url}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt=""  style="margin-bottom:10px;" border="0"/></a></td>
            </tr>
        </table>
        <!-- [ middle starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
            <tr>
                <td valign="top">
                    <p><strong>Hello {{var customer_name}},</strong></p>
                    <p>Thank you for creating account with {{var website_name}} !</p>

                    <p>We have noticed you have placed an order and decided to send you a discount coupon to invite your back in our store!</p>

{{depend coupon}}
                    <p>Feel free to use this coupon: {{var coupon}}</p>
                    <p>Please note that it expires in {{var coupon_days}} day(s)</p>
{{/depend}} 

                    

<p>Sincerely,  {{var store_name}} Team</p>
               </td>
           </tr>
       </table>
   </td>
</tr>
</table>
</div>
