<?php
 /**
 * GoMage LightCheckout Extension
 *
 * @category     Extension
 * @copyright    Copyright (c) 2010-2014 GoMage (http://www.gomage.com)
 * @author       GoMage
 * @license      http://www.gomage.com/license-agreement/  Single domain license
 * @terms of use http://www.gomage.com/terms-of-use
 * @version      Release: 5.6
 * @since        Class available since Release 1.0
 */

 $order = $this->getOrder();?>

<div class="entry-edit">
	<div class="entry-edit-head">
		<h4 class="icon-head"><?php echo $this->__('Customer Comment') ?></h4>
	</div>
	<fieldset>
		<?php echo nl2br($order->getGomageCheckoutCustomerComment()); ?>
	</fieldset>
</div>
