<?php
/**
 * GoMage LightCheckout Extension
 *
 * @category     Extension
 * @copyright    Copyright (c) 2010-2014 GoMage (http://www.gomage.com)
 * @author       GoMage
 * @license      http://www.gomage.com/license-agreement/  Single domain license
 * @terms of use http://www.gomage.com/terms-of-use
 * @version      Release: 5.6
 * @since        Class available since Release 2.5
 */
?>
<?php $_order = $this->getOrder(); ?>

<?php if ($this->helper('giftmessage/message')->getIsMessagesAvailable('items', $_order)): ?>
    <script type="text/javascript">
        //<![CDATA[
        function giftMessageToogle(giftMessageIdentifier)
        {
            var link = $('order-item-gift-message-link-'+giftMessageIdentifier);
            var container = $('order-item-gift-message-'+giftMessageIdentifier);
            var row = $('order-item-row-'+giftMessageIdentifier);
            if(link.expanded) {
                link.expanded = false;
                link.removeClassName('expanded');
                if(container.hasClassName('last')) {
                    row.addClassName('last');
                }
                container.hide();
            } else {
                link.expanded = true;
                link.addClassName('expanded');
                if(container.hasClassName('last')) {
                    row.removeClassName('last');
                }
                container.show();
            }

            return false;
        }
        //]]>
    </script>
<?php endif; ?>

<h2><?php echo $this->__('Items Ordered') ?></h2>
<table class="data-table" id="my-orders-table" style="text-align: left;">
    <col />
    <col width="1" />
    <col width="1" />
    <col width="1" />
    <col width="1" />
    <thead>
        <tr>
            <th><?php echo $this->__('Product Name') ?></th>
            <th><?php echo $this->__('SKU') ?></th>
            <th class="a-right"><?php echo $this->__('Price') ?></th>
            <th class="a-center"><?php echo $this->__('Qty') ?></th>
            <th class="a-right"><?php echo $this->__('Subtotal') ?></th>
        </tr>
    </thead>
    <tfoot>
        <?php echo $this->getChildHtml('order_totals') ?>
    </tfoot>
    <?php $_items = $_order->getItemsCollection(); ?>
    <?php $_index = 0; ?>
    <?php $_count = $_items->count(); ?>
    <?php foreach ($_items as $_item): ?>
        <?php if ($_item->getParentItem()) continue; ?>
        <tbody>
        <?php echo $this->getItemHtml($_item) ?>
        <?php if($this->helper('giftmessage/message')->getIsMessagesAvailable('order_item', $_item) && $_item->getGiftMessageId()): ?>
            <tr class="border<?php echo ($_index++ > $_count ?' last':'') ?>" id="order-item-gift-message-<?php echo $_item->getId() ?>" style="display:none;">
                <?php $_giftMessage=$this->helper('giftmessage/message')->getGiftMessageForEntity($_item); ?>
                <td class="gift-message-row" colspan="7">
                    <a href="#" title="<?php echo $this->__('Close') ?>" onclick="return giftMessageToogle('<?php echo $_item->getId() ?>');" class="btn-close"><?php echo $this->__('Close') ?></a>
                    <dl class="gift-message">
                        <dt><strong><?php echo $this->__('From:') ?></strong> <?php echo $this->escapeHtml($_giftMessage->getRecipient()) ?></dt>
                        <dt><strong><?php echo $this->__('To:') ?></strong> <?php echo $this->escapeHtml($_giftMessage->getSender()) ?></dt>
                        <dd><?php echo $this->helper('giftmessage/message')->getEscapedGiftMessage($_item) ?></dd>
                    </dl>
                </td>
            </tr>
        <?php endif ?>
        </tbody>
    <?php endforeach; ?>
</table>
<script type="text/javascript">decorateTable('my-orders-table', {'tbody' : ['odd', 'even'], 'tbody tr' : ['first', 'last']})</script>
