<?php
    
     $_helper = $this->helper('catalog/output'); 
    
?>

<?php if (($_products = $this->getProductCollection()) && $_products->getSize()): ?>
	<div class="block bestselling">
		<div class="block-title">
			<strong>
				<span><?php echo $this->__('Bestselling')?></span>
			</strong>
		</div>
		<div class="block-content">
			<div class="newproducts">
				
				<div class="carousel" id="bestselling">
					<div class="slider">
						<?php $i=0; foreach ($_products->getItems() as $_product): $i++; ?>
							<div class="item slide <?php if(($i == 4 && $_products->getSize() < 5) || ($i == $_products->getSize()) ) echo 'last'?>"> 
								<?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>          
								<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(210) ?>" width="100" height="100" alt="<?php echo $this->htmlEscape($_product->getName()) ?>" /></a>
								<div id="productimgover<?php echo $_product->getId()?>" style="display: none;"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(64); ?>" width="64" height="64" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></div>	
								<div id='productname<?php echo $_product->getId()?>' style='display:none'><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></div>
								
								<div class="new-description">
									<h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>"><?php echo $this->htmlEscape($_product->getName()) ?></a></h2>
									<?php echo $this->getPriceHtml($_product, true) ?>                    
								
									<?php if($_product->isSaleable()): ?>
										<button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
									<?php else: ?>
										<p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
									<?php endif; ?>
									
									<div style="clear: both;"></div>
								</div>                    
							</div>
						<?php endforeach; ?>
					</div>             
				</div>
			</div>
		</div>
        <?php if($_products->getSize() > 4): ?>
            <div class="prev new-arrow">&nbsp;</div>
            <div class="next new-arrow">&nbsp;</div>  
        <?php endif; ?>
    </div>     
    <div style="clear: both;"></div>
    <?php if($_products->getSize() > 5): ?>
        <script type="text/javascript">
            jQuery(document).ready(function() {
				jQuery('#bestselling').jcarousel({
				vertical: true,
				scroll: 2,
				auto:true
				});
			});    
        </script>    
    <?php endif; ?>
	
<?php endif; ?>