<?php
 /**
 * GoMage ProCart Extension
 *
 * @category     Extension
 * @copyright    Copyright (c) 2010-2014 GoMage (http://www.gomage.com)
 * @author       GoMage
 * @license      http://www.gomage.com/license-agreement/  Single domain license
 * @terms of use http://www.gomage.com/terms-of-use
 * @version      Release: 2.1
 * @since        Class available since Release 1.0
 */
 ?>

<?php $_helper = $this->helper('catalog/output'); ?>
<?php $_product = $this->getProduct(); ?>

<script type="text/javascript">
//<![CDATA[
    var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
//]]>    
</script>
<?php  
    $submit_url = $this->getSubmitUrl($_product);
    if (!$submit_url){
        $submit_url = $this->getAddToCartUrl($_product);
    }
?>
<form action="<?php echo $submit_url ?>" method="post" id="gcp_product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>        
    <input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
    <input type="hidden" name="related_product" id="related-products-field" value="" />
    <input type="hidden" name="gpc_add" value="1" />
	<span class="gcp_prod_name"><?php echo $_product->getName(); ?></span>	
	<?php if ($_product->getTypeId() == Mage_Catalog_Model_Product_Type::TYPE_BUNDLE): ?>
		<?php echo $this->getChildHtml('gcp_product_info_bundle') ?>
	<?php endif; ?>
    <?php echo $this->getChildHtml('gcp_configurable_options') ?>
    <?php echo $this->getChildHtml('gcp_configurable_options_bottom') ?>
    <?php if ($_product->getTypeId() == Mage_Catalog_Model_Product_Type::TYPE_BUNDLE): ?>
        <?php echo $this->getChildHtml('gcp_product_bundle_addtocart') ?>
    <?php endif; ?>
</form>
    <div class="clearer">&nbsp;</div>
<?php echo $this->getChildHtml('product_tierprices') ?>



<script type="text/javascript">
//<![CDATA[
    var productAddToCartForm = new VarienForm('gcp_product_addtocart_form');
    productAddToCartForm.submit = function(button) {
        if (this.validator.validate()) {
            
            GomageProcartConfig.addtoCartConfigurable(this.form);
        }
    }.bind(productAddToCartForm);
//]]>
</script>        