/******************************************************
 * @package Megamenu module for Magento 1.4.x.x and Magento 1.5.x.x
 * @version 1.5.0.4
 * @author http://www.9magentothemes.com
 * @copyright (C) 2011- 9MagentoThemes.Com
 * @license PHP files are GNU/GPL
*******************************************************/
.megamenu-container {
    background:url("../../images/megamenu/bkg_nav0.jpg") repeat-x scroll 0 0 transparent;
    height: 47px;
}
#megamenu {
    margin: 0 auto;
    position: relative;
    width: 918px;
    padding: 0 16px;
    z-index: 99;
}
#megamenu ul {
    padding: 0;
    margin: 0;
}
#megamenu ul li {
    float: left;
    position:relative;
    list-style: none outside none;
    background:url('../../images/megamenu/bg-sep.gif') no-repeat scroll right 0 transparent;
}
#megamenu ul li.root {
    height:47px;
    z-index:11;
}
#megamenu ul li.last {
    background:0 none;
}
#megamenu ul li.root a {
    line-height: 47px;
}
#megamenu ul li a {
    z-index: 10;
    position: relative;
    color: #2F2F2F;
    text-transform:uppercase;
    text-decoration:none;
    font-weight:bold;
    font-size: 13px;
    font-style: normal;
    display:block;
    cursor:pointer;
    padding: 0 20px;
}
#megamenu ul li a span {
}
#megamenu ul li.over > a {
    color:#003EA4;
}
#megamenu ul li.current > a {
    color:#003EA4;
}
#megamenu div.background {
    background: url('../../images/megamenu/bg-fancy-right.png') no-repeat top right;
    z-index: 8;
    position: absolute;
    visibility: hidden;
}
#megamenu div.background .left {
    background: url('../../images/megamenu/bg-fancy-left.png') no-repeat top left;
    height: 47px;
    float:none !important;
    margin-right: 34px;
}
#megamenu li.root > div.childcontent {
    position:absolute;
    top:46px;
    left:-10000px;
    background:#e1e1e1;
    z-index:7;
    text-align: left;
}
#megamenu .megamenu-title > img {
    float:left;
}
#megamenu .root > .megamenu-title > img {
    padding:16px 2px 0 0 !important;
}
#megamenu .megamenu-title > img.icon-megamenu {
    padding:10px 2px 0 10px;
}
#megamenu .megamenu-title > img.no-icon-megamenu {
    padding:7px 0 0 0;
}
#megamenu div.categorycontent {
    border: 1px solid #cccccc;
    background:#FFFFFF;
}
#megamenu .childcontent ul li a {
    color:#000000;
    line-height: 32px;
}
#megamenu li.over div.childcontent {
    left:0;
}
#megamenu div.childcontent ul {
    top:0;
    float:left;
    width: 100%;
}
#megamenu div.childcontent ul li {
    float:left;
    background:none;
    width:100%;
}
#megamenu div.childcontent ul li a {
    font-size:12px;
    text-transform:none;
    padding:0;
    display:block;
    margin: 0 8px;
}
#megamenu div.childcontent ul li a:hover {
    color: #003EA4;
}
#megamenu div.childcontent ul li.group > a {
    text-transform:uppercase;
    border-bottom: 1px solid #fff;
}
#megamenu div.childcontent ul ul li.group > a {
    border: 0;
}
#megamenu div.childcontent ul li a span {
}
#megamenu .sub-megamenu {
    position:absolute;
    top:0;
    left:-10000px;
    background:#FFFFFF;
    z-index:20;
}
#megamenu .sub-megamenu > ul {
}