<div id="viewblock_<?php echo $this->getAttachmentField()->getCode(); ?>">
    <strong><?php echo nl2br(htmlentities($this->getValue())); ?></strong>
</div>

<div id="editblock_<?php echo $this->getAttachmentField()->getCode(); ?>" style="display: none;">
    <textarea id="value_<?php echo $this->getAttachmentField()->getCode(); ?>" style="height: 6em; width: 350px;"><?php echo $this->getValue(); ?></textarea>
    <div style="margin-top: 3px;">
        <button class="button" type="button" onclick="javascript: attachSave('<?php echo $this->getAttachmentField()->getCode(); ?>');">
            <span><span><?php echo $this->__('Save'); ?></span></span>
        </button>
        <button class="button" type="button" onclick="javascript: attachCancel('<?php echo $this->getAttachmentField()->getCode(); ?>');">
            <span><span><?php echo $this->__('Cancel'); ?></span></span>
        </button>
    </div>
</div>