/* style.css file for PHP Shell
 * Copyright (C) 2003-2011 the Phpshell-team
 * Licensed under the GNU GPL.  See the file COPYING for details.
 *
 */

body {
  font-family: sans-serif;
  color: black;
  background: white;
}

h1 {
  color: red;
  text-align: center;
}

img {
  border: none;
}

div#terminal {
  border: inset 2px red;
  padding: 2px;
  margin-top: 0.5em;
}

div#terminal textarea { 
  font-size: 100%;
  width: 100%;
  border: none;
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

p#prompt {
  font-family: monospace;
  margin: 0px;
}

p#prompt input {
  border: none;
  font-family: monospace;
}

legend {
  padding-right: 0.5em;
  border: 1px solid;
}

fieldset {
  padding: 0.5em;
}

label {
  float: left;
  width: 20%;
  margin-right: 1em;
  text-align: right;
  font-weight: bold;
}

.error {
  color: red;
}

div.warning {
  background-color: rgb(255, 150, 150);
  border: medium solid rgb(255, 60, 60);
  padding: 0.5em;
  margin: 0.25em;
}
.pwd {
  font-family: monospace;
  padding: 0.5em;
  margin: 0.25em;
}
a.pwd {
  font-weight: bold;
}
