
<?php 
$_helper = $this->helper('catalog/output');
$product = Mage::getModel('catalog/product')->load($this->getProductId());
$path = Mage::getBaseUrl('media');
 $collection = Mage::getModel('exproduct/tone')->getCollection()->addFieldToFilter('product_id',array('eq'=>$this->getProductId()));
     ?>
<span id="dummy"></span>
<table class="IC_ToneTable">           
                <tbody><tr>
                  <td class="firstcol">blow</td>
                  <?php foreach ($collection as $co):?>
                        <td onclick="playSound('<?php echo $path.$co->getBlowFile()?>')" title="Click for sound sample"><?php echo $co->getBlow() ?></td>
                   <?php endforeach;?>     
  
                </tr>               
  
                <tr>
                  <th class="firstcol">Hole</th>
                   <?php foreach ($collection as $co):?>
                        <th><?php echo $co->getHole()?></th>
                  <?php endforeach;?>
                
                </tr>
   
                <tr>
                    <td class="firstcol">draw</td>
                  <?php foreach ($collection as $co):?>
                        <td onclick="playSound('<?php echo $path.$co->getDrawFile()?>')" title="Click for sound sample"><?php echo $co->getDraw() ?></td>
                   <?php endforeach;?>     
  
 
                </tr>
            </tbody></table>
<script language="javascript" type="text/javascript">
 function playSound(soundfile) {
 document.getElementById("dummy").innerHTML=
 "<embed src=\""+soundfile+"\" hidden=\"true\" autostart=\"true\" loop=\"false\" />";
 }
 </script>
    