.products-scroller-wrapper { width: 100%; float: left; display: inline-block;margin: 0 10px 10px; }
.mt-products-slider-container { margin: 0 auto; }
.mt-products-slider-container .jcarousel-container {}
.mt-proslider-title { padding: 5px; text-align: left;display:none; }
.mt-proslider-title h2 {}
.mt-products-slider-container .jcarousel-direction-rtl { direction: rtl; }
.mt-scrollable { text-align:left;width: 910px !important;height: auto !important;padding:5px; }
.mt-products-slider-container .jcarousel-container-horizontal {}
.mt-products-slider-container .jcarousel-clip { overflow: hidden; }
.mt-products-slider-container .jcarousel-clip-horizontal {}
.mt-products-slider-container .jcarousel-item { text-align: center; }
.mt-products-slider-container .product-name { padding: 8px 0 3px; z-index:9;float:left;height:35px; }
.mt-products-slider-container .ratings{float:left;width:177px;}
.mt-products-slider-container .price-box{float:right;}
.mt-slider-actions{float:left;}
.mt-products-slider-container .ic_caption { position:absolute; z-index:9;}
.mt-products-slider-container .jcarousel-item-horizontal {margin-right:14px;text-align: left;border:1px solid #DFDFDF;background:#fff; padding: 10px;height:230px;}
.mt-products-slider-container .jcarousel-item-horizontal .product-name a{color:#757575;font-size:13px;text-decoration:none;font-family:verdana; font-weight: bold;}
.mt-products-slider-container .jcarousel-item-horizontal .product-name a:hover{color:#187FD6;}
.mt-products-slider-container .jcarousel-item-horizontal .product-image{margin-bottom:10px;float:left;}
.mt-products-slider-container .jcarousel-item-horizontal .outer { float:left; position:relative; }
.mt-products-slider-container .jcarousel-direction-rtl .jcarousel-item-horizontal { margin-left: 10px; margin-right: 0; }
.mt-products-slider-container .jcarousel-item-placeholder { background: #fff; color: #000; }
/**
 *  Buttons
 */
.mt-products-slider-container .jcarousel-next-horizontal, .mt-products-slider-container .jcarousel-prev-horizontal { position: absolute; top: 42%; width: 40px; height: 50px; cursor: pointer; background: url(../../images/mtproductsscroller/ctr_slider.png) no-repeat 0 0; }
.mt-products-slider-container .jcarousel-next-horizontal { right: -22px; background-position: 100% 0; }
.mt-products-slider-container .jcarousel-next-horizontal:hover, .mt-products-slider-container .jcarousel-next-horizontal:focus { background-position: 100% -51px; }
.mt-products-slider-container .jcarousel-prev-horizontal { left: -22px; }
.mt-products-slider-container .jcarousel-prev-horizontal:hover, .mt-products-slider-container .jcarousel-prev-horizontal:focus { background-position: 0 -51px; }
/**
 * Caption
 */
.ic_caption { height:30px; line-height:30px; }
.ic_caption button.btn-cart {}
/*
.ic_caption button.btn-cart span {background:#e4e4e4 url(../../images/button.png) no-repeat 0 0 scroll transparent;border: 0 none; color:#0c72ad; padding:0 8px 0 25px; }
.ic_caption button.btn-cart span span{background:transparent;padding:0px;}
*/
.ic_caption .price-box { float:left; margin: 0 0 0 10px; height:30px; line-height:30px; }
.ic_caption .mt-slider-actions { float:right; margin:5px 10px 0 0; height:30px; line-height:30px; }
.mt-scrollable li .zoom-image { background:url(../../images/mtproductsscroller/search.png) no-repeat 0 0; width:41px; height:39px; position:absolute; display:none; }
.mt-scrollable li:hover .zoom-image { display:block; }
/**
 * Light box
 */
#fancybox-loading { position: fixed;top: 50%;left: 50%;width: 40px;height: 40px;margin-top: -20px;margin-left: -20px;cursor: pointer;overflow: hidden;z-index: 1104;display: none; }
#fancybox-loading div { position: absolute;top: 0;left: 0;width: 40px;height: 480px;background-image: url('../../images/mtproductsscroller/fancybox.png'); }
#fancybox-overlay { position: absolute;top: 0;left: 0;width: 100%;z-index: 1100;display: none; }
#fancybox-tmp { padding: 0;margin: 0;border: 0;overflow: auto;display: none; }
#fancybox-wrap { position: absolute; top: 0;left: 0;padding: 20px;z-index: 1101;outline: none;display: none; }
#fancybox-outer { position: relative;width: 100%;height: 100%;background: #fff;}
#fancybox-content {width: 0;height: 0;padding: 0;outline: none;position: relative;overflow: hidden;z-index: 1102;border: 0px solid #fff;}
#fancybox-content .product-name { padding: 8px 0 3px; position:absolute; z-index:9; }
#fancybox-content .ic_caption { position:absolute; z-index:9; height:auto; }
#fancybox-content .ic_caption .mt-slider-actions { float:left; margin:0 0 0 10px; }
#fancybox-content .short-description { text-align:left; line-height:normal; padding:10px 10px 0 10px; }
#fancybox-hide-sel-frame {position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: transparent;z-index: 1101;}
#fancybox-close {position: absolute;top: -15px;right: -15px;width: 30px;height: 30px;background: transparent url('../../images/mtproductsscroller/fancybox.png') -40px 0px;cursor: pointer;z-index: 1103;display: none;}
#fancybox-error {color: #444;font: normal 12px/20px Arial;padding: 14px;margin: 0;}
#fancybox-img {width: 100%;height: 100%;padding: 0;margin: 0;border: none;outline: none;line-height: 0;vertical-align: top;}
#fancybox-frame {width: 100%;height: 100%;border: none;display: block;}
#fancybox-left, #fancybox-right {position: absolute;bottom: 0px;height: 100%;width: 50px;cursor: pointer;outline: none;background: transparent url('../../images/mtproductsscroller/blank.gif');z-index: 1102;display: none;}
#fancybox-left {left: 0px;}
#fancybox-right {right: 0px;}
#fancybox-left-ico, #fancybox-right-ico {position: absolute;top: 50%;left: -9999px;width: 30px;height: 30px;margin-top: -15px;cursor: pointer;z-index: 1102;display: block;}
#fancybox-left-ico {background-image: url('../../images/mtproductsscroller/fancybox.png');background-position: -40px -30px;}
#fancybox-right-ico {background-image: url('../../images/mtproductsscroller/fancybox.png');background-position: -40px -60px;}
#fancybox-left:hover, #fancybox-right:hover {visibility: visible; /* IE6 */}
#fancybox-left:hover span {left: 20px;}
#fancybox-right:hover span {left: auto;right: 20px;}
.fancybox-bg {position: absolute;padding: 0;margin: 0;border: 0;width: 20px;height: 20px;z-index: 1001;}
#fancybox-bg-n {top: -20px;left: 0;width: 100%;background-image: url('../../images/mtproductsscroller/fancybox-x.png');}
#fancybox-bg-ne {top: -20px;right: -20px;background-image: url('../../images/mtproductsscroller/fancybox.png');background-position: -40px -162px;}
#fancybox-bg-e {top: 0;right: -20px;height: 100%;background-image: url('../../images/mtproductsscroller/fancybox-y.png');background-position: -20px 0px;}
#fancybox-bg-se {bottom: -20px;right: -20px;background-image: url('../../images/mtproductsscroller/fancybox.png');background-position: -40px -182px; }
#fancybox-bg-s {bottom: -20px;left: 0;width: 100%;background-image: url('../../images/mtproductsscroller/fancybox-x.png');background-position: 0px -20px;}
#fancybox-bg-sw {bottom: -20px;left: -20px;background-image: url('../../images/mtproductsscroller/fancybox.png');background-position: -40px -142px;}
#fancybox-bg-w {top: 0;left: -20px;height: 100%;background-image: url('../../images/mtproductsscroller/fancybox-y.png');}
#fancybox-bg-nw {top: -20px;left: -20px;background-image: url('../../images/mtproductsscroller/fancybox.png');background-position: -40px -122px;}
#fancybox-title {font-family: Helvetica;font-size: 12px;z-index: 1102;}
.fancybox-title-inside {padding-bottom: 10px;text-align: center;color: #333;background: #fff;position: relative;}
.fancybox-title-outside {padding-top: 10px;color: #fff;}
.fancybox-title-over {position: absolute;bottom: 0;left: 0;color: #FFF;text-align: left;}
#fancybox-title-over {padding: 10px;background-image: url('../../images/mtproductsscroller/fancy_title_over.png');display: block;}
.fancybox-title-float {position: absolute;left: 0;bottom: -20px;height: 32px;}
#fancybox-title-float-wrap {border: none;border-collapse: collapse;width: auto;}
#fancybox-title-float-wrap td {border: none;white-space: nowrap;}
#fancybox-title-float-left {padding: 0 0 0 15px;background: url('../../images/mtproductsscroller/fancybox.png') -40px -90px no-repeat;}
#fancybox-title-float-main {color: #FFF;line-height: 29px;font-weight: bold;padding: 0 0 3px 0;background: url('../../images/mtproductsscroller/fancybox-x.png') 0px -40px;}
#fancybox-title-float-right {padding: 0 0 0 15px;background: url('../../images/mtproductsscroller/fancybox.png') -55px -90px no-repeat;}
/* IE6 */
.fancybox-ie6 #fancybox-close { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_close.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-left-ico { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_nav_left.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-right-ico { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_nav_right.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-title-over { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_over.png', sizingMethod='scale'); zoom: 1; }
.fancybox-ie6 #fancybox-title-float-left { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_left.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-title-float-main { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_main.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-title-float-right { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_right.png', sizingMethod='scale'); }
.fancybox-ie6 #fancybox-bg-w, .fancybox-ie6 #fancybox-bg-e, .fancybox-ie6 #fancybox-left, .fancybox-ie6 #fancybox-right, #fancybox-hide-sel-frame {height: expression(this.parentNode.clientHeight + "px");}
#fancybox-loading.fancybox-ie6 {position: absolute; margin-top: 0;top: expression( (-20 + (document.documentElement.clientHeight ? document.documentElement.clientHeight/2 : document.body.clientHeight/2 ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop )) + 'px');}
#fancybox-loading.fancybox-ie6 div { background: transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_loading.png', sizingMethod='scale'); }
/* IE6, IE7, IE8 */
.fancybox-ie .fancybox-bg { background: transparent !important; }
.fancybox-ie #fancybox-bg-n { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_n.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-ne { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_ne.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-e { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_e.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-se { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_se.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-s { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_s.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-sw { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_sw.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-w { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_w.png', sizingMethod='scale'); }
.fancybox-ie #fancybox-bg-nw { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_nw.png', sizingMethod='scale'); }
.fancybox-inline a.product-image { display:block; }