<div id="viewblock_<?php echo $this->getAttachmentField()->getCode(); ?>">
    <strong><a href="<?php echo $this->getUrl('orderattach/adminhtml_order/download', array('file' => $this->getValue())); ?>"><?php echo $this->getValue(); ?></a></strong>
</div>

<div id="editblock_<?php echo $this->getAttachmentField()->getCode(); ?>" style="display: none;">
    
    <?php if ($this->getValue()): ?>
        <?php echo $this->getValue(); ?>
        <div style="margin-top: 2px; margin-bottom: 10px;">
            <button class="scalable" type="button" onclick="javascript: attachDeleteFile('<?php echo $this->getAttachmentField()->getCode(); ?>', '<?php echo $this->getValue(); ?>', 'file');">
                <span><?php echo $this->__('Delete'); ?></span>
            </button>
        </div>
    <?php endif; ?>
    
    <form method="post" id="upload_form_<?php echo $this->getAttachmentField()->getCode(); ?>" enctype="multipart/form-data" action="<?php echo $this->getUrl('orderattach/adminhtml_order/upload'); ?>">
        <input type="hidden" name="form_key" value="<?php echo $this->getFormKey() ?>" />
        <input type="hidden" name="field" value="<?php echo $this->getAttachmentField()->getCode(); ?>" />
        <input type="hidden" name="order_id" value="<?php echo Mage::registry('current_order')->getId(); ?>" />
        <input type="hidden" name="type" value="file" />
        <input type="file" name="to_upload" />
    
        <iframe id="upload_target_<?php echo $this->getAttachmentField()->getCode(); ?>"
                    name="upload_target_<?php echo $this->getAttachmentField()->getCode(); ?>" src="" style="display: none; width: 700px; height: 500px;"></iframe>
    
        <div style="margin-top: 2px;">
            <button class="scalable" type="button" onclick="javascript: attachUpload('<?php echo $this->getAttachmentField()->getCode(); ?>');">
                <span><?php echo $this->__('Upload'); ?></span>
            </button>
            <button class="scalable" type="button" onclick="javascript: attachCancel('<?php echo $this->getAttachmentField()->getCode(); ?>');">
                <span><?php echo $this->__('Cancel'); ?></span>
            </button>
        </div>
    </form>
</div>