<div id="viewblock_<?php echo $this->getAttachmentField()->getCode(); ?>">
    <strong><?php echo htmlspecialchars($this->getValue()); ?></strong>
</div>

<div id="editblock_<?php echo $this->getAttachmentField()->getCode(); ?>" style="display: none;">

    <select id="value_<?php echo $this->getAttachmentField()->getCode(); ?>">
        <?php if ($this->getOptions()): ?>
            <option value=""></option>
            <?php foreach ($this->getOptions() as $option): ?>
                <option value="<?php echo $option; ?>" <?php if ($this->getValue() == $option) echo 'selected="selected"'; ?>><?php echo $option; ?></option>
            <?php endforeach; ?>
        <?php endif; ?>
    </select>
    
    <div style="margin-top: 2px;">
        <button class="scalable" type="button" onclick="javascript: attachSave('<?php echo $this->getAttachmentField()->getCode(); ?>');">
            <span><?php echo $this->__('Save'); ?></span>
        </button>
        <button class="scalable" type="button" onclick="javascript: attachCancel('<?php echo $this->getAttachmentField()->getCode(); ?>');">
            <span><?php echo $this->__('Cancel'); ?></span>
        </button>
    </div>
</div>