<div id="viewblock_<?php echo $this->getAttachmentField()->getCode(); ?>">
    <?php if (Mage::app()->getRequest()->isAjax()): ?>
        <strong><?php echo nl2br($this->getValue()); ?></strong>
    <?php else: ?>
        <strong><?php echo nl2br(str_replace('$', '\$', htmlentities($this->getValue()))); ?></strong>
    <?php endif; ?>
</div>

<div id="editblock_<?php echo $this->getAttachmentField()->getCode(); ?>" style="display: none;">
    <input id="value_<?php echo $this->getAttachmentField()->getCode(); ?>" class="input-text" value="<?php echo htmlentities(preg_replace('/\$/','\\\$', $this->getValue())); ?>" />
    <div style="margin-top: 2px;">
        <button class="scalable" type="button" onclick="javascript: attachSave('<?php echo $this->getAttachmentField()->getCode(); ?>');">
            <span><?php echo $this->__('Save'); ?></span>
        </button>
        <button class="scalable" type="button" onclick="javascript: attachCancel('<?php echo $this->getAttachmentField()->getCode(); ?>');">
            <span><?php echo $this->__('Cancel'); ?></span>
        </button>
    </div>
</div>