<div id="viewblock_<?php echo $this->getAttachmentField()->getCode(); ?>">
    <strong><?php echo nl2br(htmlspecialchars($this->getValue())); ?></strong>
</div>

<div id="editblock_<?php echo $this->getAttachmentField()->getCode(); ?>" style="display: none;">
    <textarea id="value_<?php echo $this->getAttachmentField()->getCode(); ?>" style="height: 8em; width: 450px;"><?php echo $this->getValue(); ?></textarea>
    <button class="scalable" type="button" onclick="javascript: attachSave('<?php echo $this->getAttachmentField()->getCode(); ?>');">
        <span><?php echo $this->__('Save'); ?></span>
    </button>
    <button class="scalable" type="button" onclick="javascript: attachCancel('<?php echo $this->getAttachmentField()->getCode(); ?>');">
        <span><?php echo $this->__('Cancel'); ?></span>
    </button>
</div>