button.inactive {
    background-color: #FFFFFF;
    background-image: url("../images/btn_back_bg.gif");
    border-color: #CCCCCC #AAAAAA #AAAAAA #CCCCCC;
    color: #555555;
}

button.inactive:hover {
    background-color: #FFFFFF;
    background-image: url("../images/btn_back_bg.gif");
    border-color: #CCCCCC #AAAAAA #AAAAAA #CCCCCC;
    color: #555555;
}

.dancer {
    position: absolute;
    right: 4px;
    top: 4px;
}