<div class="category_hme">
 <?php
    $catCollection=$this->getFeaturedCategoryCollection();
	$a=Mage::getBaseUrl();
	?>
	<ul id="mycarousel" class="jcarousel-skin-tango">
	<?php
	$i=0;
	foreach($catCollection as $cat)
	{
		$i++;
		echo("<li><a href='". $cat->getUrl()."'>".$this->getFeaturedImage($cat)."<span class='cat_name'>" .$cat->getName() ."</span></a></li>");
		if($i>=8) break;
	}
	echo("<li><a href='". $a ."deals/'><img src='". $this->getSkinUrl('images/harmonica_deals.jpg')."'/><span class='cat_name'>Deals</span></a></li>");
	echo("</ul>");
?>
</div>
