<?php 
/**
 * @author		Sashas
 * @category    Sashas
 * @package     Sashas_Specialproduct
 * @copyright   Copyright (c) 2013 Sashas IT Support Inc. (http://www.sashas.org)
 * @license     http://opensource.org/licenses/GPL-3.0  GNU General Public License, version 3 (GPL-3.0)

 */

$product=$this->getProduct(); 
$product_special_image=$product->getAttributeText('special_product_image');
$storeId = Mage::app()->getStore()->getStoreId();
if (($storeId == 8) && ($product_special_image)) {
	$product_special_image = substr($product_special_image, 0, strlen($product_special_image)-4) . "_it.png";
}
if ($product_special_image):
?>
	<?php if($this->getMode()!='grid'): ?>
	<div style="position:absolute;">
		<img  src="<?php echo $this->getSkinUrl('images/specialproduct/'.$product_special_image);?>" />
	</div>
	<?php else:?>
	<div style="position:absolute;">
		<img  src="<?php echo $this->getSkinUrl('images/specialproduct/'.$product_special_image);?>" />
	</div>
	<?php endif;?>
<?php endif;?>