<?php
/**
 * GoMage LightCheckout Extension
 *
 * @category     Extension
 * @copyright    Copyright (c) 2010-2014 GoMage (http://www.gomage.com)
 * @author       GoMage
 * @license      http://www.gomage.com/license-agreement/  Single domain license
 * @terms of use http://www.gomage.com/terms-of-use
 * @version      Release: 5.6
 * @since        Class available since Release 5.3
 */
?>

<?php if ($this->isGiftWrap()): ?>
    <dl class="item-options">
        <dt><?php echo Mage::helper('gomage_checkout')->getConfigData('gift_wrapping/title') ?></dt>
        <dd><?php echo $this->__("Yes") ?></dd>
    </dl>
<?php endif ?>
