/**
* GoMage ProCart Extension
*
* @category     Extension
* @copyright    Copyright (c) 2010-2013 GoMage (http://www.gomage.com)
* @author       GoMage
* @license      http://www.gomage.com/license-agreement/  Single domain license
* @terms of use http://www.gomage.com/terms-of-use
* @version      Release: 2.0
* @since        Available since Release 1.0
*/

/* Overlays */
#gomage-cartpro-overlay,
.overlay_gomage_cp{
	background:#000;
	z-index:2000 !important;
	filter:alpha(opacity=60); 
	-webkit-opacity:.6;
     -moz-opacity:.6;
	        opacity:.6;
}
/* Overlays END */

/* Conf windows */

	/* Common */
#gpc_confirmation_window,
.gpc-loadinfo{
	position:fixed;
	left:50%;
	top:50%;
	z-index:2001;
	border:1px solid #0A263C;
	font-size:12px;
}
.gpc-loadinfo{
	width:250px;
	margin-left:-134px;
	background:#fff;
	padding:8px;
  line-height:24px;
  text-align:left;
  color:#2F2F2F;
	font-weight:700;
	-webkit-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.5);
     -moz-box-shadow:3px 3px 3px rgba(0, 0, 0, 0.5);
          box-shadow:3px 3px 3px rgba(0, 0, 0, 0.5);
}
.gpc_confirmation_window_actions button.gpc_msg_bnt{
  margin:0 2px;
}
#gpc_confirmation_window{
	width:450px;
	margin-left:-235px;
	text-align:center;
	padding:10px;
	font-weight:400;
	background:#FFF;
}
.gpc-loadinfo .align-top,
.gpc-loadinfo .align-bottom{
	display:block;
	margin:0 auto;
}
.gpc-loadinfo .align-top{
	padding-bottom:5px;
}
.gpc-loadinfo .align-bottom{
	padding-top:5px;
}
.gpc-loadinfo .align-right{
	float:right;
	padding-left:5px;
}
.gpc-loadinfo .align-left{
	float:left;
	padding-right:5px;
}
.gomage_cp_dialog {
	display:block;
	height:auto !important;
	z-index:2001 !important;
	position:fixed;
	border:1px solid #555;
	font-size:12px;
}
.gomage_cp_dialog .giftcard-send-form{
  padding:0;
  margin:0;
  background:none;
  border:0;
  }
.gomage_cp_dialog textarea#giftcard_message{
  width:250px;
  }
#gcp_configurable_add_to_cart .gomage_cp_w,
#gcp_configurable_add_to_cart .gomage_cp_e,
#gcp_configurable_add_to_cart_row1,
#gcp_configurable_add_to_cart .gomage_cp_minimize,
#gcp_configurable_add_to_cart .gomage_cp_maximize,
.gomage_cp_dialog .gomage_cp_bot{
	display:none;
}
#gcp_configurable_add_to_cart_close{
	width:35px;
	height:35px;
	background:url(../../images/gomage/procart/close.png) no-repeat 0 0;
	position:absolute;
	top:-14px;
	right:-16px;
	cursor:pointer;
	z-index:1000;
}
.gomage_cp_content,
.gomage_cp_content label{
	color:#333;
	font-family:verdana;
}
#gcp_configurable_add_to_cart #gcp_configurable_add_to_cart_content{
	overflow:auto !important;
	padding:5px 10px;
	height:auto !important;
	width:auto !important;
	background:none;
  position:relative;
}

#gcp_configurable_add_to_cart_content div#bundle-product-wrapper{
  margin: 0;
  width: auto;
}

#gcp_configurable_add_to_cart_content div.gcp_bundle_price{
    float: left;
}

#gcp_configurable_add_to_cart_content div.gcp_bundle_addto{
    float: right;
}
	/* Common END */
	
.gomage_cp_dialog table.gomage_cp_table_window { 
	border-collapse:collapse; 
	border-spacing:0; 
	width:100%;
	margin:0;
	padding:0;
}
.gomage_cp_dialog table.gomage_cp_table_window td, 
.gomage_cp_dialog table.gomage_cp_table_window th{ 
	padding:0; 
}

	/* Table styles */
#gcp_configurable_add_to_cart .gomage_cp_content .data-table {
	border:1px solid #BEBCB7;
	width:100%;
}
#gcp_configurable_add_to_cart .gomage_cp_content .data-table tr.last th,
#gcp_configurable_add_to_cart .gomage_cp_content .data-table tr.last td {
	border-bottom:0 none !important;
}
#gcp_configurable_add_to_cart .gomage_cp_content .data-table thead th {
	background:url("../../images/gomage/procart/bkg_th.gif") repeat-x 0 100% #D9E5EE;
	border-right:1px solid #C2D3E0;
	color:#0A263C;
	font-weight:700;
	padding:2px 8px;
	vertical-align:middle;
	white-space:nowrap;
}
#gcp_configurable_add_to_cart .gomage_cp_content .data-table tbody th,
#gcp_configurable_add_to_cart .gomage_cp_content .data-table tbody td {
	border-bottom:1px solid #D9DDE3;
	border-right:1px solid #D9DDE3;
}
#gcp_configurable_add_to_cart .gomage_cp_content .data-table td {
	padding:3px 8px;
}
#gcp_configurable_add_to_cart .gomage_cp_content .data-table .even {
	background:#EEEDED;
}
#gcp_configurable_add_to_cart .gomage_cp_content .data-table .odd {
	background:#F8F7F5;
}
#gcp_configurable_add_to_cart .gomage_cp_content .grouped-items-table .price-box {
	margin:0;
	padding:0;
}
	/* Table styles END */

	/* Text */
#gcp_configurable_add_to_cart .availability{
	margin:5px 0;
}
#gcp_configurable_add_to_cart .gcp_prod_name{
	font:700 15px/1.35 verdana;
	display:block;
}
#gcp_configurable_add_to_cart .price-notice {
	color:#999;
	padding-left:10px;
}
#gcp_configurable_add_to_cart .price-notice .price {
	color:#2F2F2F;
	font-weight:700;
}
	/* Text END */

/* Conf windows END */

/* Options */
#gcp_configurable_add_to_cart #gcp_configurable_add_to_cart_content .product-options{
	background:none;
	border:0;
	margin:10px 0;
	padding:10px 0 20px;
	position:relative;	
}
#gcp_configurable_add_to_cart .product-options dt {
	font-weight:400;
	padding:10px 0 0;
}
#gcp_configurable_add_to_cart .product-options dt label {
	color:#2F2F2F;
	font-weight:700;
	float:left;
	position:relative;
}
#gcp_configurable_add_to_cart .product-options dd .qty-holder {
	display:block;
	padding:10px 0 0;
}
#gcp_configurable_add_to_cart .product-options ul.options-list {
	margin-right:5px;
}
#gcp_configurable_add_to_cart .product-options ul.options-list li {
	line-height:1.5;
	padding:2px 0;
}
#gcp_configurable_add_to_cart .product-options ul.options-list input.radio {
	float:left;
	margin-top:3px;
}
#gcp_configurable_add_to_cart .product-options ul.options-list .label {
	display:block;
	margin-left:18px;
}
#gcp_configurable_add_to_cart .product-options ul.options-list label {
	font-weight:400;
}
#gcp_configurable_add_to_cart .product-options dt label.required em {
	color:#EB340A;
	margin-left:5px;
	float:right;
	position:absolute;
	right:-8px;
	top:0;	
}
#gcp_configurable_add_to_cart .product-options dd {
	border-bottom:1px solid #E4E4E4;
	margin:0 0 5px;
	padding:5px 0 15px;
}
#gcp_configurable_add_to_cart .product-options dl.last dd.last {
	border-bottom:0 none;
	margin-bottom:0;
	padding-bottom:5px;
}
#gcp_configurable_add_to_cart .product-options-bottom .price-label {
	float:left;
	padding-right:5px;
}
#gcp_configurable_add_to_cart .product-options p.required {
	position:absolute;
	right:20px;
	top:20px;
  padding:0;
  margin:0;
}
#gcp_configurable_add_to_cart .product-options dd select {
	width:100%;
	background:#FFF;
	border:1px solid #B6B6B6;
	color:#2F2F2F;
	font:12px/15px verdana;
	vertical-align:middle;
}
#gcp_configurable_add_to_cart #gcp_configurable_add_to_cart_content .product-options-bottom{
	background:none;
	float:right;
	border:0;
	padding:15px 0;	
}
#gcp_configurable_add_to_cart #gcp_configurable_add_to_cart_content .product-options-bottom p.required{
  width:auto;
  clear:both;
}
#gcp_configurable_add_to_cart #gcp_configurable_add_to_cart_content .product-options-bottom .tier-prices{
  clear:both;
  margin-top:30px;
}
#gcp_configurable_add_to_cart .product-options-bottom .price-box {
	float:left;
	margin:0;
	padding:2px 10px 0 0;
}
#gcp_configurable_add_to_cart .product-options-bottom .add-to-cart{
	float:right;
}
#gcp_configurable_add_to_cart .product-options-bottom .add-to-cart label,
#gcp_configurable_add_to_cart #gcp_configurable_add_to_cart_content .add-to-links{
	display:none;
}
#gcp_configurable_add_to_cart .product-options-bottom .add-to-cart .qty {
	float:left;
	margin-top:2px;
	margin-right:5px;
}
/* Options END */

/* Windows */
.gpc_msg_title{
	margin:0 0 10px;
	line-height:14px;
	font-weight:700;
	padding:10px;
	background:#EFF5EA;
	border:1px solid #446423;
}

/* Buttons */
button.gpc_msg_bnt::-moz-focus-inner,#gcp_configurable_add_to_cart button.btn-cart{ padding:0; border:0; } /* FF Fix */
button.gpc_msg_bnt,#gcp_configurable_add_to_cart button.btn-cart{ -webkit-border-fit:lines; } /* <- Safari & Google Chrome Fix */
button.gpc_msg_bnt,#gcp_configurable_add_to_cart button.btn-cart{overflow:visible; width:auto; border:0; padding:0; margin:0; background:none; cursor:pointer;}

button.gpc_msg_bnt span,
#gcp_configurable_add_to_cart button.btn-cart span{ 
  display:block; 
  height:25px !important; 
  border:0; 
  padding:0 !important; 
  font:700 12px/25px verdana !important;
  text-align:center; 
  white-space:nowrap;
  color:#fff; 
  background: none;
  }
button.gpc_msg_bnt span span,
#gcp_configurable_add_to_cart button.btn-cart span span{ 
  padding:0; 
  padding:0 10px !important; 
  background-position:100% 0;
  border: 1px solid #f3f3f3;
  height: 23px !important;
  -webkit-background-clip: padding-box;
  -moz-background-clip   : padding-box;
  background-clip        : padding-box;
  }

/* Qty */
input.procart-qty,
[class*="gpc-arrbut-popup"] #gcp_configurable_add_to_cart .add-to-cart .qty,
.gpc-arrbut-prodp-arr-lr .product-view .product-options-bottom .gpc_qty_edit .qty,
.gpc-arrbut-prodp-btn-lr .product-view .product-options-bottom .gpc_qty_edit .qty,
.gpc-arrbut-prodp-btn-right .product-view .product-options-bottom .gpc_qty_edit .qty{
	width:30px !important;
	padding:1px 0;
	background:#fff;
	border:1px solid #B6B6B6;
	text-align:center;
	color:#2F2F2F;
	font:12px/15px verdana;
	vertical-align:middle;
}
.gpc-arrbut-prodp-arr-lr .product-view .product-options-bottom .gpc_qty_edit .qty,
.gpc-arrbut-prodp-btn-lr .product-view .product-options-bottom .gpc_qty_edit .qty{
  margin-right:0;
  }

/* Qty Arrows/Buttons */

	/* Arrows */
.procart-varr,
.procart-harr{
  width:0px;
  height:0px;
	text-indent:-999em;
	overflow:hidden;
}
.procart-harr{
	float:left;
	margin-top:6px;
}
.procart-varr{
	display:block;
	margin:0 auto;
}
.procart-tarr{
	margin-bottom:3px;
  border-left:4px solid transparent;
  border-right:4px solid transparent;
  border-bottom:6px solid #F18200;
}
.procart-barr{
	margin-top:3px;
  border-left:4px solid transparent;
  border-right:4px solid transparent;
  border-top:6px solid #F18200;  
}
.procart-larr{
	margin-right:3px;
  border-top:4px solid transparent;
  border-bottom:4px solid transparent;
  border-right:6px solid #F18200;  
}
.procart-rarr{
	margin-left:3px;
  border-top:4px solid transparent;
  border-bottom:4px solid transparent;
  border-left:6px solid #F18200;   
}

	/* Buttons */
.procart-qbv,
.procart-qbh{
	width:14px;
	height:14px;
	overflow:hidden;
  line-height:14px;
  text-align:center;
  font-weight:700;
  text-decoration:none;
  font-size:14px;
  font-family: Arial, "Nimbus Sans L", Helvetica, sans-serif;
  background:#F18200;
  color:#fff;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
      -ms-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}
.procart-qbh{
	float:left;
	margin-top:2px;
}
.procart-qbv{
	display:block;
	margin:0 auto;
}
.procart-qbht{
	margin-bottom:3px;
}
.procart-qbhb{
	margin-top:3px;
}
.procart-qbhl{
	margin-right:3px;	
}
.procart-qbhr{
	margin-left:3px;
}
.procart-qb-small{
  width:10px;
  height:10px;
  font-size:10px;
  line-height:10px;
  margin-left:0;
  margin-right:0;
  position:relative;
  left:3px;
  top:-2px;
  }
.procart-qb-right{
  float:left;
  margin:2px 0 0 3px;
  }
.procart-qbv.procart-qbhb,
.procart-qbh.procart-qbhl,
.procart-qb-right-minus{
  line-height:12px;
  }
.procart-qbv.procart-qbhb.procart-qb-small,
.procart-qbh.procart-qbhl.procart-qb-small,
.procart-qb-right-minus.procart-qb-small{
  line-height:8px;
  }
  
	/* Cart page */
[class*="gpc-arrbut-mcb"] .cart-table input.qty{
	text-align:center;
	padding:1px 0;
}
.gpc-arrbut-cp-arr-lr .gpc-cart-arr-lr{
	width:52px;
}
.gpc-arrbut-cp-btn-lr .gpc-cart-butt-lr{
	width:68px;
}
.gpc-arrbut-cp-btn-right-small .gpc-cart-butt-tb{
  width:50px;
  }
.gpc-arrbut-cp-btn-right .gpc-cart-butt-tb{
  width:66px;
  }
.gpc-arrbut-cp-arr-lr .gpc-cart-arr-lr input.qty,
.gpc-arrbut-cp-btn-lr .gpc-cart-butt-lr input.qty,
.gpc-arrbut-cp-btn-right-small .gpc-cart-butt-tb input.qty,
.gpc-arrbut-cp-btn-right .gpc-cart-butt-tb input.qty{
	float:left;
}

/* Crossell */
[class*="gpc-arrbut-cross"] .cart .crosssell button.btn-cart{
  margin:8px 6px 0 0;
}
.gpc-arrbut-cross-arr-lr .cart .crosssell button.btn-cart,
.gpc-arrbut-cross-btn-lr .cart .crosssell button.btn-cart,
.gpc-arrbut-cross-btn-right-small .cart .crosssell button.btn-cart,
.gpc-arrbut-cross-btn-right.cart .crosssell button.btn-cart{
  margin-top:0;
}
.gpc-arrbut-cross-btn-tb .cart .crosssell button.btn-cart{
  margin:18px 6px 0 0;
}
[class*="gpc-arrbut-cross"] .cart .crosssell button.btn-cart,
[class*="gpc-arrbut-cross"] .cart .crosssell .gpc_qty_edit{
  float:left;
}
[class*="gpc-arrbut-cross"] .cart .crosssell .add-to-links{
  clear:both;
}
.gpc-arrbut-cross-arr-lr .cart .crosssell .gpc_qty_edit input.procart-qty,
.gpc-arrbut-cross-btn-lr .cart .crosssell .gpc_qty_edit input.procart-qty,
.gpc-arrbut-cross-btn-right-small .cart .crosssell .gpc_qty_edit input.procart-qty,
.gpc-arrbut-cross-btn-right .cart .crosssell .gpc_qty_edit input.procart-qty{
  float:left;
}
.gpc-arrbut-cross-btn-right-small .cart .crosssell .gpc_qty_edit{
  width:44px;
  }
/*[class*="gpc-arrbut-cross"] .cart .crosssell .product-details{
  float:left;
  width:168px;
  margin-left:12px;
}*/
.gpc-arrbut-cross-arr-lr .cart .crosssell .gpc_qty_edit,
.gpc-arrbut-cross-btn-lr .cart .crosssell .gpc_qty_edit,
.gpc-arrbut-cross-btn-right-small .cart .crosssell .gpc_qty_edit,
.gpc-arrbut-cross-btn-right .cart .crosssell .gpc_qty_edit{
  margin-top: 9px;
  }
.gpc-arrbut-cross-btn-tb .cart .crosssell button.btn-cart{
  margin-top: 17px !important;
  }

/* Upsell */
[class*="gpc-arrbut-upsell"] .box-up-sell button.btn-cart{
  float: left;
  margin:0 6px 0 0;
}
[class*="gpc-arrbut-upsell"] .box-up-sell .add-to-cart .qty{
  float: none;
  }
[class*="gpc-arrbut-upsell"] .product-view .box-up-sell .gpc_qty_edit{
  float: left;
  float: left;
  margin-right: 5px;
  position: relative;
  width: 33px;  
  margin-top: -9px;
  }
.gpc-arrbut-upsell-arr-lr .product-view .box-up-sell .gpc_qty_edit{
  width: 60px;
  margin-top: 0 !important;
  }
.gpc-arrbut-upsell-btn-lr .product-view .box-up-sell .gpc_qty_edit,
.gpc-arrbut-upsell-btn-right .product-view .box-up-sell .gpc_qty_edit{
  width: 72px;
  margin-top: 0 !important;
  }
.gpc-arrbut-upsell-btn-right-small .product-view .box-up-sell .gpc_qty_edit{
  width: 50px;
  margin-top: 0 !important;
  }
.gpc-arrbut-upsell-arr-lr .product-view .box-up-sell .gpc_qty_edit .qty,
.gpc-arrbut-upsell-btn-lr .product-view .box-up-sell .gpc_qty_edit .qty,
.gpc-arrbut-upsell-btn-right-small .product-view .box-up-sell .gpc_qty_edit .qty,
.gpc-arrbut-upsell-btn-right .product-view .box-up-sell .gpc_qty_edit .qty{
  float: left;
  }
.gpc-arrbut-upsell-btn-tb .box-up-sell button.btn-cart{
  margin-top: 8px;
  }


	/* Sidebar block */
.gpc-arrbut-mcb-arr-tb .top-cart .product-details input.procart-qty,
.gpc-arrbut-mcb-btn-tb .top-cart .product-details input.procart-qty{
  width:35px !important;
}
.gpc-arrbut-mcb-arr-lr .top-cart .product-details input.procart-qty,
.gpc-arrbut-mcb-btn-lr .top-cart .product-details input.procart-qty{
  float:left;
}
[class*="gpc-arrbut-mcb"] .block-cart .mini-products-list .product-details strong{
	float:left;
	display:inline;
	width:33px;
	margin-right:4px;
	margin-top:5px;
}
.gpc-arrbut-mcb-btn-right-small .block-cart .mini-products-list .product-details strong{
  width:50px;
  }
.gpc-arrbut-mcb-arr-lr .block-cart .mini-products-list .product-details strong{
	width:52px;
}
.gpc-arrbut-mcb-btn-lr .block-cart .mini-products-list .product-details strong{
	width:68px;
}
.gpc-arrbut-mcb-btn-right .block-cart .mini-products-list .product-details strong{
	width:66px;
}
.gpc-arrbut-mcb-arr-lr .block-cart .mini-products-list .product-details input.procart-qty,
.gpc-arrbut-mcb-btn-lr .block-cart .mini-products-list .product-details input.procart-qty,
.gpc-arrbut-mcb-btn-right-small .block-cart .mini-products-list .product-details input.procart-qty,
.gpc-arrbut-mcb-btn-right .block-cart .mini-products-list .product-details input.procart-qty{
	float:left;
}
[class*="gpc-arrbut-mcb"] .block-cart .mini-products-list .product-details{
  white-space:nowrap;
}
[class*="gpc-arrbut-mcb"] .block-cart .mini-products-list .product-details .product-name,
[class*="gpc-arrbut-mcb"] .block-cart .mini-products-list .product-details .truncated{
  white-space:normal;
}
.gpc-arrbut-mcb-arr-tb .block-cart .mini-products-list .product-details .truncated .price,
.gpc-arrbut-mcb-btn-tb .block-cart .mini-products-list .product-details .truncated .price,
.gpc-arrbut-mcb-arr-lr .block-cart .mini-products-list .product-details .truncated .price,
.gpc-arrbut-mcb-btn-lr .block-cart .mini-products-list .product-details .truncated .price{
  line-height:normal;
}
.gpc-arrbut-mcb-arr-tb .block-cart .mini-products-list .product-details .price{
	line-height:44px;
}
.gpc-arrbut-mcb-btn-tb .block-cart .mini-products-list .product-details .price{
	line-height:64px;
}
.gpc-arrbut-mcb-btn-right-small .block-cart .mini-products-list .product-details .price,
.gpc-arrbut-mcb-btn-right .block-cart .mini-products-list .product-details .price{
	line-height:28px;
}
.gpc-arrbut-mcb-arr-lr .block-cart .mini-products-list .product-details .price,
.gpc-arrbut-mcb-btn-lr .block-cart .mini-products-list .product-details .price{
	line-height:28px;
}
[class*="gpc-arrbut-mcb"] .block-cart .block-content li.item{
	vertical-align:baseline !important;
}

	/* Category */
[class*="gpc-arrbut-cat"] .products-grid .actions button.btn-cart{
	float:left;
	/*  */
}
.gpc-arrbut-cat-arr-tb .products-grid .actions button.btn-cart{

  }
.gpc-arrbut-cat-btn-tb .products-grid .actions button.btn-cart{
	margin-top:18px;
}
.gpc-arrbut-cat-arr-lr .products-grid .actions button.btn-cart,
.gpc-arrbut-cat-btn-lr .products-grid .actions button.btn-cart{
	margin-top:0;
}
[class*="gpc-arrbut-cat"] .products-grid .actions .gpc_qty_edit{
	float:left;
	width:33px;
	display:inline;
	margin-left:6px;
}
.gpc-arrbut-cat-arr-lr .products-grid .actions .gpc_qty_edit{
	width:52px;
}
.gpc-arrbut-cat-btn-lr .products-grid .actions .gpc_qty_edit{
	width:68px;
}
.gpc-arrbut-cat-btn-right-small .products-grid .actions .gpc_qty_edit,
.gpc-arrbut-cat-btn-right-small .products-list .gpc_qty_edit{
  width:50px;
  margin-top:1px;
  }
.gpc-arrbut-cat-btn-right .products-grid .actions .gpc_qty_edit{
  width:66px;
  margin-top:1px;
  }
.gpc-arrbut-cat-btn-right-small .products-grid .actions button.btn-cart,
.gpc-arrbut-cat-btn-right .products-grid .actions button.btn-cart{
  margin-top:0;
  }
.gpc-arrbut-cat-arr-lr .products-grid .actions .gpc_qty_edit input.procart-qty,
.gpc-arrbut-cat-btn-lr .products-grid .actions .gpc_qty_edit input.procart-qty,
.gpc-arrbut-cat-btn-right-small .products-grid .actions .gpc_qty_edit input.procart-qty,
.gpc-arrbut-cat-btn-right .products-grid .actions .gpc_qty_edit input.procart-qty{
	float:left;
}
[class*="gpc-arrbut-cat"] .products-grid .actions .add-to-links{
	clear:both;
}
.gpc-arrbut-cat-btn-tb .products-grid .actions{
	bottom:6px;
}
.gpc-arrbut-cat-arr-tb .products-list .price-box{
	margin-top:9px;
}
.gpc-arrbut-cat-btn-tb .products-list .price-box{
	margin-top:16px;
}
[class*="gpc-arrbut-cat"] .products-list button.btn-cart{
	float:left;
}
.gpc-arrbut-cat-arr-tb .products-list button.btn-cart{
	margin-top:9px;
}
.gpc-arrbut-cat-btn-tb .products-list button.btn-cart{
	margin-top:17px;
}
[class*="gpc-arrbut-cat"] .products-list .gpc_qty_edit{
	float:left;
	margin-left:5px;
  margin-right:10px;
}
.gpc-arrbut-cat-btn-lr .products-list .price-box,
.gpc-arrbut-cat-arr-lr .products-list .price-box{
	margin-top:0;
}
.gpc-arrbut-cat-btn-lr .products-list .gpc_qty_edit .procart-qty,
.gpc-arrbut-cat-arr-lr .products-list .gpc_qty_edit .procart-qty,
.gpc-arrbut-cat-btn-right-small .products-list .gpc_qty_edit .procart-qty,
.gpc-arrbut-cat-btn-right .products-list .gpc_qty_edit .procart-qty{
	float:left;
}

	/* Product page */
.product-view .add-to-cart label{
  float:left;
}
.product-view .add-to-cart .gpc_qty_edit{
	float:left;
	margin-right:5px;
	position:relative;
	width:33px;
}
[class*="gpc-arrbut-prodp"] .product-view .add-to-cart .gpc_qty_edit{
  margin-top:-9px;
  }
.gpc-arrbut-prodp-arr-lr .product-view .add-to-cart .gpc_qty_edit{
	width:52px;
	margin-top:1px;
}
.gpc-arrbut-prodp-btn-lr .product-view .product-shop .add-to-cart .gpc_qty_edit,
.gpc-arrbut-prodp-btn-lr .product-view .product-options-bottom .add-to-cart .gpc_qty_edit{
	width:68px;
	margin-top:1px;
}
.gpc-arrbut-prodp-btn-right-small .product-view .product-shop .add-to-cart .gpc_qty_edit{
  width:46px;
	margin-top:1px;  
  }
.gpc-arrbut-prodp-btn-right .product-view .product-shop .add-to-cart .gpc_qty_edit,
.gpc-arrbut-prodp-btn-right .product-view .product-options-bottom .add-to-cart .gpc_qty_edit{
  width:68px;
  margin-top:1px;
  }
.gpc-arrbut-prodp-btn-tb .product-view .product-shop .add-to-cart .gpc_qty_edit{
	margin-top:-18px;
}
[class*="gpc-arrbut-prodp"] .product-view .product-shop .add-to-cart .gpc_qty_edit .qty{
	margin:0;
	float:none;
	padding:1px 0;
	text-align:center;
}
.gpc-arrbut-prodp-arr-lr .product-view .product-shop .add-to-cart .gpc_qty_edit .qty,
.gpc-arrbut-prodp-arr-lr .product-view .product-options-bottom .add-to-cart .gpc_qty_edit .qty,
.gpc-arrbut-prodp-btn-lr .product-view .product-shop .add-to-cart .gpc_qty_edit .qty,
.gpc-arrbut-prodp-btn-right-small .product-view .product-shop .add-to-cart .gpc_qty_edit .qty,
.gpc-arrbut-prodp-btn-right .product-view .product-shop .add-to-cart .gpc_qty_edit .qty{
	float:left;
}
.gpc-arrbut-prodp-btn-tb .product-view .product-shop .add-to-box{
	padding-top:10px;
}
.gpc-arrbut-prodp-arr-tb .product-view .product-options-bottom .add-to-cart label{
	margin:10px 5px 0 0;
}
.gpc-arrbut-prodp-arr-tb .product-view .product-options-bottom .add-to-cart .gpc_qty_edit,
.gpc-arrbut-prodp-btn-tb .product-view .product-options-bottom .add-to-cart .gpc_qty_edit{
  margin-top:0;
  }
.gpc-arrbut-prodp-btn-tb .product-view .product-options-bottom .add-to-cart label{
	margin:19px 5px 0 0;
}
.gpc-arrbut-prodp-arr-tb .product-view .product-shop .product-options-bottom .add-to-cart label,
.gpc-arrbut-prodp-btn-tb .product-view .product-shop .product-options-bottom .add-to-cart label{
	margin:0 5px 0 0;
}
.gpc-arrbut-prodp-arr-lr .product-view .product-options-bottom .add-to-cart button,
.gpc-arrbut-prodp-btn-lr .product-view .product-options-bottom .add-to-cart button{
	margin:0 0 0 3px;
}
.gpc-arrbut-prodp-arr-tb .product-view .product-shop .product-options-bottom .add-to-cart button,
.gpc-arrbut-prodp-btn-tb .product-view .product-shop .product-options-bottom .add-to-cart button{
	margin:0;
}
.gpc-arrbut-prodp-arr-tb .product-view .product-options-bottom .add-to-cart button{
	margin:9px 0 0;
}
.gpc-arrbut-prodp-btn-tb .product-view .product-options-bottom .add-to-cart button{
	margin:18px 0 0;
}
.gpc-arrbut-prodp-arr-lr .product-view .product-shop .product-options-bottom .add-to-cart .gpc_qty_edit .qty,
.gpc-arrbut-prodp-btn-lr .product-view .product-shop .product-options-bottom .add-to-cart .gpc_qty_edit .qty,
.gpc-arrbut-prodp-btn-right-small .product-view .product-options-bottom .add-to-cart .gpc_qty_edit .qty,
.gpc-arrbut-prodp-btn-right .product-view .product-options-bottom .add-to-cart .gpc_qty_edit .qty{
	text-align:center;
	margin:0;
}
.gpc-arrbut-prodp-btn-right-small .product-view .product-options-bottom .add-to-cart .gpc_qty_edit{
  width:50px;
  }
.gpc-arrbut-prodp-arr-tb .product-view .product-options-bottom .add-to-cart .gpc_qty_edit,
.gpc-arrbut-prodp-btn-tb .product-view .product-options-bottom .add-to-cart .gpc_qty_edit,
.gpc-arrbut-prodp-btn-right-small .product-view .product-options-bottom .add-to-cart .gpc_qty_edit,
.gpc-arrbut-prodp-btn-right .product-view .product-options-bottom .add-to-cart .gpc_qty_edit{
  margin-right:5px;
}
.gpc-arrbut-prodp-arr-tb .product-view .product-options-bottom .add-to-cart .gpc_qty_edit .qty,
.gpc-arrbut-prodp-btn-tb .product-view .product-options-bottom .add-to-cart .gpc_qty_edit .qty{
	float:none;
  margin:0;
	text-align:center;
}
[class*="gpc-arrbut-prodp"] .product-view .product-options-bottom .add-to-cart .gpc_qty_edit{
	float:left;
}

  /* Popup */
[class*="gpc-arrbut-popup"] #gcp_configurable_add_to_cart .add-to-cart .gpc_qty_edit{
  float:left;
  margin-right:6px;
  } 
[class*="gpc-arrbut-popup"] #gcp_configurable_add_to_cart .add-to-cart .qty{
  margin:0;
  float:none;
  }
.gpc-arrbut-popup-arr-tb #gcp_configurable_add_to_cart .add-to-cart .gpc_qty_edit{
  margin-top:-7px;
  }
.gpc-arrbut-popup-arr-lr #gcp_configurable_add_to_cart .add-to-cart .gpc_qty_edit,
.gpc-arrbut-popup-btn-lr #gcp_configurable_add_to_cart .add-to-cart .gpc_qty_edit,
.gpc-arrbut-popup-btn-right #gcp_configurable_add_to_cart .add-to-cart .gpc_qty_edit{
  margin-top:3px;
  }
.gpc-arrbut-popup-arr-lr #gcp_configurable_add_to_cart .add-to-cart .qty,
.gpc-arrbut-popup-btn-lr #gcp_configurable_add_to_cart .add-to-cart .qty,
.gpc-arrbut-popup-btn-right-small #gcp_configurable_add_to_cart .add-to-cart .qty,
.gpc-arrbut-popup-btn-right #gcp_configurable_add_to_cart .add-to-cart .qty{
  float:left;
  }
.gpc-arrbut-popup-btn-tb #gcp_configurable_add_to_cart .add-to-cart .gpc_qty_edit{
  margin-top:-14px;
  }
.gpc-arrbut-popup-btn-right-small #gcp_configurable_add_to_cart .add-to-cart .gpc_qty_edit{
  width:45px;
  margin-top:3px;
  }
[class*="gpc-arrbut-popup"] #gcp_configurable_add_to_cart #super-product-table .qty{
  text-align:center;
  padding:1px 0;
  }
.gpc-arrbut-popup-arr-lr #gcp_configurable_add_to_cart #super-product-table .gpc_qty_edit{
	width:52px;
}
.gpc-arrbut-popup-btn-lr #gcp_configurable_add_to_cart #super-product-table .gpc_qty_edit{
  width:68px;
  }
.gpc-arrbut-popup-btn-right-small #gcp_configurable_add_to_cart #super-product-table .gpc_qty_edit{
  width:44px;
  }
.gpc-arrbut-popup-btn-right #gcp_configurable_add_to_cart #super-product-table .gpc_qty_edit{
  width:68px;
  }
.gpc-arrbut-popup-arr-lr #gcp_configurable_add_to_cart #super-product-table .qty,
.gpc-arrbut-popup-btn-lr #gcp_configurable_add_to_cart #super-product-table .qty,
.gpc-arrbut-popup-btn-right-small #gcp_configurable_add_to_cart #super-product-table .qty,
.gpc-arrbut-popup-btn-right #gcp_configurable_add_to_cart #super-product-table .qty{
  float:left;
  }

  /* Sales & Deals */
[class*="gpc-arrbut-cat"] .gomage-sd .mini-products-list .product-details button.btn-cart{
  float:left;
  margin-right:6px;
  margin-top:8px;
}
.gpc-arrbut-cat-arr-lr .gomage-sd .mini-products-list .product-details button.btn-cart,
.gpc-arrbut-cat-btn-lr .gomage-sd .mini-products-list .product-details button.btn-cart{
  margin-top:0;
}
.gpc-arrbut-cat-btn-tb .gomage-sd .mini-products-list .product-details button.btn-cart{
  margin-top:17px;
}
[class*="gpc-arrbut-cat"] .gomage-sd .mini-products-list .product-details .gpc_qty_edit{
  float:left;
}
.gpc-arrbut-cat-arr-lr .gomage-sd .mini-products-list .product-details .gpc_qty_edit .procart-qty,
.gpc-arrbut-cat-btn-lr .gomage-sd .mini-products-list .product-details .gpc_qty_edit .procart-qty,
.gpc-arrbut-cat-btn-right-small .gomage-sd .mini-products-list .product-details .gpc_qty_edit .procart-qty,
.gpc-arrbut-cat-btn-right .gomage-sd .mini-products-list .product-details .gpc_qty_edit .procart-qty{
  float:left;
}
.gpc-arrbut-cat-btn-right-small .gomage-sd .mini-products-list .product-details .gpc_qty_edit{
  width:50px;
  margin-top:9px;
  }
.gpc-arrbut-cat-btn-right .gomage-sd .mini-products-list .product-details .gpc_qty_edit{
  margin-top:9px;
  }

/* 1900 */
[class*="gpc-arrbut-prodp"] .bundle-summary .add-to-cart label{
  float:left;
  margin-top:10px;
}
[class*="gpc-arrbut-prodp"] .bundle-summary .add-to-cart .gpc_qty_edit{
  float:left;
  width:36px;
  margin-right:10px;
}
[class*="gpc-arrbut-prodp"] .bundle-summary .add-to-cart .gpc_qty_edit .qty{
  text-align:center;
  margin-right:0;
}
.gpc-arrbut-prodp-arr-lr .bundle-summary .add-to-cart label{
  margin-top:7px;
}
.gpc-arrbut-prodp-arr-lr .bundle-summary .add-to-cart .gpc_qty_edit .qty{
  float:left;
}
.gpc-arrbut-prodp-arr-lr .bundle-summary .add-to-cart .gpc_qty_edit{
	width:57px;
  margin-top:5px;
}
.gpc-arrbut-prodp-btn-lr .bundle-summary .add-to-cart .gpc_qty_edit{
	width:72px;
  margin-top:4px;
}
.gpc-arrbut-prodp-btn-lr .bundle-summary .add-to-cart label{
  margin-top:6px;
}
.gpc-arrbut-prodp-btn-lr .bundle-summary .add-to-cart .gpc_qty_edit .qty,
.gpc-arrbut-prodp-btn-right-small .bundle-summary .add-to-cart .gpc_qty_edit .qty,
.gpc-arrbut-prodp-btn-right .bundle-summary .add-to-cart .gpc_qty_edit .qty{
  float:left;
}
.gpc-arrbut-prodp-btn-right-small .bundle-summary .add-to-cart .gpc_qty_edit{
  width:50px;
  margin-top:10px;
  }
.gpc-arrbut-prodp-btn-right .bundle-summary .add-to-cart .gpc_qty_edit{
  width:auto;
  margin-top:10px;
  }
.gpc-arrbut-prodp-arr-tb .bundle-summary .add-to-cart button.btn-cart{
  margin-top:6px;
}
.gpc-arrbut-prodp-btn-lr .bundle-summary .add-to-cart button.btn-cart{
  margin-top:3px;
}
.gpc-arrbut-prodp-btn-tb .bundle-summary .add-to-cart label{
  margin-top:20px;
}
.gpc-arrbut-prodp-btn-tb .bundle-summary .add-to-cart button.btn-cart{
  margin-top:16px;
}
.gpc-arrbut-prodp-arr-lr .grouped-items-table tbody td.last .qty,
.gpc-arrbut-prodp-btn-lr .grouped-items-table tbody td.last .qty,
.gpc-arrbut-prodp-btn-right-small .grouped-items-table tbody td.last .qty,
.gpc-arrbut-prodp-btn-right .grouped-items-table tbody td.last .qty{
  float:left;
}
.gpc-arrbut-prodp-arr-lr .gomage_cp_dialog .grouped-items-table tbody td.last .qty,
.gpc-arrbut-prodp-btn-lr .gomage_cp_dialog .grouped-items-table tbody td.last .qty,
.gpc-arrbut-prodp-btn-right-small .gomage_cp_dialog .grouped-items-table tbody td.last .qty,
.gpc-arrbut-prodp-btn-right .gomage_cp_dialog .grouped-items-table tbody td.last .qty{
  float:none;
  }
.gpc-arrbut-prodp-arr-lr .grouped-items-table tbody td.last,
.gpc-arrbut-prodp-btn-right-small .grouped-items-table tbody td.last{
  white-space:nowrap;
  width:60px;
}
.gpc-arrbut-prodp-btn-lr .grouped-items-table tbody td.last,
.gpc-arrbut-prodp-btn-right .grouped-items-table tbody td.last{
  white-space:nowrap;
  width:75px;
}
.gpc-arrbut-prodp-arr-lr .product-view .product-options-bottom .gpc_qty_edit,
.gpc-arrbut-prodp-btn-lr .product-view .product-options-bottom .gpc_qty_edit,
.gpc-arrbut-prodp-btn-right-small .product-view .product-options-bottom .gpc_qty_edit,
.gpc-arrbut-prodp-btn-right .product-view .product-options-bottom .gpc_qty_edit{
  margin:3px 5px 0 0;
  }
.gpc-arrbut-prodp-arr-lr .product-view .product-options-bottom .gpc_qty_edit .qty,
.gpc-arrbut-prodp-btn-lr .product-view .product-options-bottom .gpc_qty_edit .qty,
.gpc-arrbut-prodp-btn-right-small .product-view .product-options-bottom .gpc_qty_edit .qty,
.gpc-arrbut-prodp-btn-right .product-view .product-options-bottom .gpc_qty_edit .qty{
  float:left;
  }
.gpc-arrbut-mcb-btn-right-small .top-cart .procart-qty,
.gpc-arrbut-mcb-btn-right .top-cart .procart-qty{
  float:left;
  }
.gpc-arrbut-mcb-btn-right-small .top-cart .block-content table td{
  width:60px;
  }
.top-cart .truncated .show .item-options{
  left: -200px;
  }

/* Clears */
#gcp_configurable_add_to_cart .product-options dt:after,
#gcp_configurable_add_to_cart .product-options dd:after,
#gcp_configurable_add_to_cart_content:after,
#gcp_configurable_add_to_cart_content .product-options:after,
#gcp_configurable_add_to_cart_content .product-options dl:after,
.gpc-arrbut-cp-arr-lr .gpc-cart-arr-lr:after{content:' ';clear:both;display:block;width:0;height:0;overflow:hidden;font-size:0;}

#gcp_configurable_add_to_cart,#gcp_configurable_add_to_cart_content,#gcp_configurable_add_to_cart_content .product-options,#gcp_configurable_add_to_cart_content .product-options dl,#gcp_configurable_add_to_cart .product-options dt,#gcp_configurable_add_to_cart .product-options dd,#gcp_configurable_add_to_cart .product-options .options-list li,.gpc-arrbut-cp-arr-lr .gpc-cart-arr-lr{zoom:1;}
.gpc_msg_title #gpc_conf_win_qty{/padding-right:5px;}
/* Clears END */


/* IE */
.gpc-arrbut-cat-arr-tb .gomage-sd .mini-products-list .product-details .gpc_qty_edit .procart-tarr{
  /margin-bottom:-8px;
}
.gomage-sd .mini-products-list .product-details{
  zoom:0;
}
.gpc-arrbut-prodp-arr-tb .product-view .product-options-bottom .add-to-cart .gpc_qty_edit,
.gpc-arrbut-prodp-btn-tb .product-view .product-options-bottom .add-to-cart .gpc_qty_edit{
  /width:36px;
}
[class*="gpc-arrbut-cross"] .cart .crosssell p{
  zoom:1;
  }
.gpc-arrbut-cross-arr-tb .cart .crosssell .gpc_qty_edit,
.gpc-arrbut-cross-btn-tb .cart .crosssell .gpc_qty_edit,
.gpc-arrbut-cat-arr-tb .gomage-sd .mini-products-list .product-details .gpc_qty_edit,
.gpc-arrbut-cat-btn-tb .gomage-sd .mini-products-list .product-details .gpc_qty_edit{
  /width:32px;
}
[class*="gpc-arrbut-cat"] .products-list .gpc_qty_edit{
	/width:42px;
}
.gpc-arrbut-cat-arr-lr .products-list .product-shop .gpc_qty_edit{
	/width:61px;
}
.gpc-arrbut-cat-btn-lr .products-list .product-shop .gpc_qty_edit,
.gpc-arrbut-cat-btn-right-small .products-list .product-shop .gpc_qty_edit,
.gpc-arrbut-cat-btn-right .products-list .product-shop .gpc_qty_edit{
	/width:77px;
}
[class*="gpc-arrbut-popup"] #gcp_configurable_add_to_cart .add-to-cart .gpc_qty_edit{
  /width:32px;
  }
.gpc-arrbut-popup-arr-lr #gcp_configurable_add_to_cart .add-to-cart .gpc_qty_edit{
  /width:50px;
  }
.gpc-arrbut-popup-btn-lr #gcp_configurable_add_to_cart .add-to-cart .gpc_qty_edit,
.gpc-arrbut-popup-btn-right #gcp_configurable_add_to_cart .add-to-cart .gpc_qty_edit{
  /width:66px;
  }
.gpc-arrbut-popup-btn-right-small #gcp_configurable_add_to_cart .add-to-cart .gpc_qty_edit{
  /width:44px;
  }
  
/* Ultimento
-------------------------------------------------- */
.gpc-arrbut-mcb-arr-lr #customer-nav-cart .mini-cart .price + span,
.gpc-arrbut-mcb-btn-right-small #customer-nav-cart .mini-cart .price + span{
  width: 60px;
  }
.gpc-arrbut-mcb-btn-lr #customer-nav-cart .mini-cart .price + span{
  width: 70px;
  }
.gpc-arrbut-mcb-btn-right #customer-nav-cart .mini-cart .price + span{
  width: 70px;
  }
.gpc-arrbut-mcb-arr-lr #customer-nav-cart .mini-cart .procart-qty,
.gpc-arrbut-mcb-btn-lr #customer-nav-cart .mini-cart .procart-qty,
.gpc-arrbut-mcb-btn-right-small #customer-nav-cart .mini-cart .procart-qty,
.gpc-arrbut-mcb-btn-right #customer-nav-cart .mini-cart .procart-qty,
.gpc-arrbut-mcb-arr-lr #customer-nav-cart .mini-cart .procart-harr,
.gpc-arrbut-mcb-btn-lr #customer-nav-cart .mini-cart .procart-qbh,
.gpc-arrbut-mcb-btn-right #customer-nav-cart .mini-cart .procart-qb-right{
  float: left;
  }
.gpc-arrbut-mcb-arr-tb #customer-nav-cart .mini-cart .price + span{
  width: 33px;
  }