<?php
//Check XMultiWarehouse is available or not.
$validateMWHenabled  = Mage::getStoreConfig('xwarehouse/general/enabled');
$warehouseCollection = Mage::getSingleton('adminhtml/session')->getWarehouseCollection();
?>
<div id="<?php echo $this->getHtmlId() ?>">
    <table cellspacing="0" cellpadding="0" class="massaction">
        <tr>
            <td><?php if ($this->getUseSelectAll()):?>
                    <a href="#" onclick="return <?php echo $this->getJsObjectName() ?>.selectAll()"><?php echo $this->__('Select All') ?></a>
                    <span class="separator">|</span>
                    <a href="#" onclick="return <?php echo $this->getJsObjectName() ?>.unselectAll()"><?php echo $this->__('Unselect All') ?></a>
                    <span class="separator">|</span>
                <?php endif; ?>
                <a href="#" onclick="return <?php echo $this->getJsObjectName() ?>.selectVisible()"><?php echo $this->__('Select Visible') ?></a>
                <span class="separator">|</span>
                <a href="#" onclick="return <?php echo $this->getJsObjectName() ?>.unselectVisible()"><?php echo $this->__('Unselect Visible') ?></a>
                <span class="separator">|</span>
                <strong id="<?php echo $this->getHtmlId() ?>-count">0</strong> <?php echo $this->__('items selected') ?>
            </td>
            <td>
                <div class="right">
                    <div class="entry-edit">
                        <?php if ($this->getHideFormElement() !== true):?>
                        <form action="" id="<?php echo $this->getHtmlId() ?>-form" method="post">
                            <?php endif ?>
                            <?php echo $this->getBlockHtml('formkey')?>
                            <fieldset>
                        <span class="field-row">
                            <label><?php echo $this->__('Actions') ?>&nbsp</label>
                            <select id="<?php echo $this->getHtmlId() ?>-select" class="required-entry select absolute-advice local-validation" <?php if($validateMWHenabled == 1): ?> onchange="massActionSelectWarehouse()"<?php endif ?>>
                                <option value=""></option>
                                <?php foreach($this->getItems() as $_item): ?>
                                    <option value="<?php echo $_item->getId() ?>"<?php echo ($_item->getSelected() ? ' selected="selected"' : '')?>><?php echo $_item->getLabel() ?></option>
                                <?php endforeach; ?>
                            </select>
                        </span>
                        <?php if($validateMWHenabled == 1): ?>
                        <span class="field-row">
                            <select id="action-warehouse-select" class="required-entry select absolute-advice local-validation" style="display:none;">
                                <option value=""></option>
                                <?php foreach($warehouseCollection as $_item): ?>
                                    <?php $optionValue = $_item['warehouseLbl'] . '_' . $_item['warehouseId'] ?>
                                    <option value="<?php echo $optionValue ?>"><?php echo $_item['warehouseLbl'] ?></option>
                                <?php endforeach; ?>
                            </select>
                        </span>
                        <?php endif ?>
                        <span class="outer-span" id="<?php echo $this->getHtmlId() ?>-form-hiddens"></span>
                        <span class="outer-span" id="<?php echo $this->getHtmlId() ?>-form-additional"></span>
                        <span class="field-row">
                            <button id="mass-action-submit-btn" title="Submit" type="button" class="scalable" style="" onclick="return massActionSubmitBtn(<?php echo $validateMWHenabled ?>);"><span><span><span>Submit</span></span></span></button>
                        </span>
                            </fieldset>
                            <?php if ($this->getHideFormElement() !== true):?>
                        </form>
                    <?php endif ?>
                    </div>

                    <div class="no-display">
                        <?php foreach($this->getItems() as $_item): ?>
                            <div id="<?php echo $this->getHtmlId() ?>-item-<?php echo $_item->getId() ?>-block">
                                <?php echo $_item->getAdditionalActionBlockHtml() ?>
                            </div>
                        <?php endforeach; ?>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <?php if(!$this->getParentBlock()->canDisplayContainer()): ?>
        <script type="text/javascript">
            <?php echo $this->getJsObjectName() ?>.setGridIds('<?php echo $this->getGridIdsJson() ?>');
        </script>
    <?php endif; ?>
</div>
