<?php 
/*------------------------------------------------------------------------
# APL Solutions and Vision Co., LTD
# ------------------------------------------------------------------------
# Copyright (C) 2008-2010 APL Solutions and Vision Co., LTD. All Rights Reserved.
# @license - Copyrighted Commercial Software
# Author: APL Solutions and Vision Co., LTD
# Websites: http://www.joomlavision.com/ - http://www.magentheme.com/
-------------------------------------------------------------------------*/ 	
?>
<?php
	$enabled=$this->getConfig('enabled');
	$title=$this->getConfig('title');
	$style=$this->getConfig('menustyle');
	$event=$this->getConfig('event');
?>
<?php if($enabled==1) {?>  <!-- start enabled module -->
	<div class="block mt-smartmenu">
		<div class="block-title">
			<strong><span><?php echo $title;?></span></strong>
		</div>
		<div class="block-content">
			<?php if($style=='Dropdown'){?>
		        <ul id="mt-dropdown">
		        <?php foreach ($this->getStoreCategories() as $_category): ?>
		            <?php echo $this->mtdrawItem($_category) ?>
		        <?php endforeach ?>
		        </ul>
			<?php } //end dropdown menu?>
			<?php if ($style=='Accordion'){?>
				<script type="text/javascript" src="<?php echo $this->getSkinUrl('magenthemes/js/mt.jqmenu.js')?>"></script>
				<script type="text/javascript" src="<?php echo $this->getSkinUrl('magenthemes/js/mt.accordion.js')?>"></script>
				<script type="text/javascript">
					$jmenu(document).ready(function(){	
						// applying the settings
						$jmenu("#mt-accordion li.active span.head").addClass("selected");
						$jmenu('#mt-accordion').Accordion({
							active: 'span.selected',
							header: 'span.head',
							alwaysOpen: false,
							animated: true,
							showSpeed: 400,
							hideSpeed: 800,
							event: '<?php echo $event ?>'
						});
					});	
				</script>
				<ul id="mt-accordion">
					<?php foreach ($this->getStoreCategories() as $_category): ?>
					    <?php echo $this->drawItem($_category) ?>
					<?php endforeach ?>
				</ul>
			<?php } //end Accordion menu?>
			
			<?php if ($style=='Tree'){?>
		        <ul id="mt-tree">
		        <?php foreach ($this->getStoreCategories() as $_category): ?>
		            <?php echo $this->drawItem($_category) ?>
		        <?php endforeach ?>
		        </ul>
			<?php } //end tree menu?>
		</div> <!-- end class=block-content -->
	</div> <!-- end class=mt-smartmenu -->
<?php }//end enabled menu?>
