<?php
/**
 * GoMage ProCart Extension
 *
 * @category     Extension
 * @copyright    Copyright (c) 2010-2013 GoMage (http://www.gomage.com)
 * @author       GoMage
 * @license      http://www.gomage.com/license-agreement/  Single domain license
 * @terms of use http://www.gomage.com/terms-of-use
 * @version      Release: 2.0
 * @since        Class available since Release 1.0
 */
?>

<?php $_helper = $this->helper('catalog/output'); ?>
<?php $_product = $this->getProduct(); ?>

<script type="text/javascript">
    //<![CDATA[
    var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
    //]]>
</script>
<?php
$submit_url = $this->getSubmitUrl($_product);
if (!$submit_url){
    $submit_url = $this->getAddToCartUrl($_product);
}
$isBundle = $_product->getTypeId() == Mage_Catalog_Model_Product_Type::TYPE_BUNDLE;
?>
<?php if ($isBundle): ?>
<div id="bundle-product-wrapper">
<?php endif; ?>
    <form action="<?php echo $submit_url ?>" method="post" id="gcp_product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
        <input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
        <input type="hidden" name="related_product" id="related-products-field" value="" />
        <input type="hidden" name="gpc_add" value="1" />
        <span class="gcp_prod_name"><?php echo $_product->getName(); ?></span>
        <?php echo $this->getChildHtml('gcp_product_giftcard') ?>
        <?php if ($isBundle): ?>
        <?php echo $this->getChildHtml('gcp_product_info_bundle') ?>
        <?php endif; ?>
        <?php echo $this->getChildHtml('gcp_configurable_options') ?>
        <?php if (!$isBundle): ?>
            <?php echo $this->getChildHtml('gcp_configurable_options_bottom') ?>
        <?php else: ?>
        <div class="gcp_bundle_price">
            <?php echo $this->getChildHtml('gcp_product_bundle_prices') ?>
        </div>
        <div class="gcp_bundle_addto">
            <?php echo $this->getChildHtml('gcp_product_bundle_addtocart') ?>
        </div>
        <?php endif; ?>
    </form>
<?php if ($isBundle): ?>
</div>
<?php endif; ?>
<script type="text/javascript">
    //<![CDATA[
    var productAddToCartForm = new VarienForm('gcp_product_addtocart_form');
    productAddToCartForm.submit = function(button) {
        if (this.validator.validate()) {

            GomageProcartConfig.addtoCartConfigurable(this.form);
        }
    }.bind(productAddToCartForm);
    //]]>
</script>        