<?php 
/*------------------------------------------------------------------------
# APL Solutions and Vision Co., LTD
# ------------------------------------------------------------------------
# Copyright (C) 2008-2011 APL Solutions and Vision Co., LTD. All Rights Reserved.
# @license - Copyrighted Commercial Software
# Author: APL Solutions and Vision Co., LTD
# Websites: http://www.joomlavision.com/ - http://www.9magentothemes.com/
-------------------------------------------------------------------------*/ 
?>
<?php $_helper = $this->helper('catalog/output'); ?>
<?php if($this->getConfig('enabled')): ?> <!-- start enable module -->
    <?php
	//width, height of slider
	$item = $this->getConfig('items');
	// width, height of thumbnail
	$w = $this->getConfig('width');
	$h = $this->getConfig('height');
	$wslider = $w * $item;
	$hslider = $h;
    ?>
    <?php $this->getListProducts() ?>
    <?php $_productCollection=$this->getProductCollection() ?>
    <div class="products-scroller-wrapper">
	<div class="mt-products-slider-container"> <!-- start mt products slider -->
	    <?php if($this->getConfig('title')): ?>
		<div class="mt-proslider-title">
		    <h2><?php echo $this->getConfig('title')?></h2>
		</div>
	    <?php endif; ?>
	    <?php if(!$_productCollection->count()): ?>
		<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
	    <?php else: ?>
		<div class="mt-scrollable" id="mt-scroller" style="width:<?php echo $wslider; ?>px; height:<?php echo $hslider; ?>px;">
		    <?php $_collectionSize = $_productCollection->count() ?>
		    <?php if( !$this->getConfig('items') ){ $_columnCount = 1; } else { $_columnCount =$this->getConfig('items'); }?>
		    <ul class="mt-product-scroll">
			<?php $i = 0; foreach ($_productCollection as $_product): ?>
			    <li class="items-slider" <?php if($this->getConfig('use_fancybox')): ?>style="width: <?php echo $w; ?>px; height:<?php echo $h; ?>px;"<?php endif; ?>>
				<div class="outer" <?php if($this->getConfig('use_fancybox')): ?>style="width: <?php echo $w; ?>px; height:<?php echo $h; ?>px;"<?php endif; ?>>
					<?php if($this->getConfig('use_fancybox')): ?>
				    <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>"><?php echo $this->htmlEscape($_product->getName()) ?></a></h2>
					<?php endif; ?>
				    <a href="<?php echo $_product->getProductUrl() ?>" class="product-image" style="position: relative; display: block;">
					<img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($w,$h); ?>" width="<?php echo $w?>" height="<?php echo $h?>" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" />
				    </a>
					<?php if($this->getConfig('use_fancybox')): ?>
				    <?php if($this->getConfig('show_tooltip')): ?>
				    <a class="zoom-image" href="#inline<?php echo $_product->getId() ?>" rel="popup-fancybox"></a>
				    <?php endif; ?>
					<?php endif; ?>
					<?php if($this->getConfig('use_fancybox')): ?>
				    <div class="ic_caption clearer">
					<?php else: ?>
					<h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>"><?php echo $this->htmlEscape($_product->getName()) ?></a></h2>
					<?php endif; ?>
				    <?php if ( $this->getConfig('review') ): ?>
					<?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
				    <?php endif; ?>
				    <?php if($this->getConfig('price')): ?>
					<?php echo $this->getPriceHtml($_product, true) ?>
				    <?php endif; ?>
				    <?php if ($this->getConfig('addtocart') ):?>
					<div class="mt-slider-actions">			                	
					    <?php if($_product->isSaleable()): ?>
						<button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
					    <?php else: ?>
						<p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
					    <?php endif; ?>
					    <?php if ($this->getConfig('detail') ):?>
						<button type="button" title="<?php echo $this->__('Detail') ?>" class="button btn-detail" onclick="setLocation('<?php echo $_product->getProductUrl() ?>')"><span><span><?php echo $this->__('Detail') ?></span></span></button>
					    <?php endif; ?>
					</div>
				    <?php else: ?>
					<div class="mt-slider-actions">			                						    
					    <?php if ($this->getConfig('detail') ):?>
						<button type="button" title="<?php echo $this->__('Detail') ?>" class="button btn-detail" onclick="setLocation('<?php echo $_product->getProductUrl() ?>')"><span><span><?php echo $this->__('Detail') ?></span></span></button>
					    <?php endif; ?>
					</div>
				    <?php endif; ?>
					<?php if($this->getConfig('use_fancybox')): ?>
				    </div>
					<?php endif; ?>
				</div>
			     </li>
			<?php endforeach ?>
		    </ul>
		</div>
		<?php if($this->getConfig('use_fancybox')): ?>
		<div style="display:none;">
		<?php foreach ($_productCollection as $_product): ?>
		    <div id="inline<?php echo $_product->getId() ?>" class="fancybox-inline">
			<h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>"><?php echo $this->htmlEscape($_product->getName()) ?></a></h2>
			<a href="<?php echo $_product->getProductUrl() ?>" class="product-image">
			    <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($this->getConfig('tooltip_width'), $this->getConfig('tooltip_height')); ?>" width="<?php echo $this->getConfig('tooltip_width') ?>" height="<?php echo $this->getConfig('tooltip_height')?>" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image')) ?>" />
			</a>
			<div class="ic_caption">
			<?php if ($this->getConfig('tooltip_shortdescription')): ?>
			    <div class="short-description">
				<?php echo $_helper->productAttribute($_product, nl2br($_product->getShortDescription()), 'short_description') ?>
			    </div>
			<?php endif; ?>
			<?php if ( $this->getConfig('tooltip_review') ): ?>
			    <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
			<?php endif; ?>
			<?php if($this->getConfig('tooltip_price')): ?>
			    <?php echo $this->getPriceHtml($_product, true) ?>
			<?php endif; ?>
			<?php if ($this->getConfig('tooltip_addtocart') ):?>
			    <div class="mt-slider-actions">			                	
				<?php if($_product->isSaleable()): ?>
				    <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
				<?php else: ?>
				    <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
				<?php endif; ?>			                    
			    </div>
			<?php endif; ?>
			</div>
		    </div>
		<?php endforeach; ?>
		</div>
		<?php endif; ?>
	    <?php endif; ?>
	    <script type="text/javascript">
		<?php if($this->getConfig('auto')): ?>
		function mycarousel_initCallback(carousel)
		{
		    // Disable autoscrolling if the user clicks the prev or next button.
		    carousel.buttonNext.bind('click', function() {
			    carousel.startAuto(0);
		    });
		    carousel.buttonPrev.bind('click', function() {
			    carousel.startAuto(0);
		    });
		    // Pause autoscrolling if the user moves with the cursor over the clip.
		    carousel.clip.hover(function() {
			    carousel.stopAuto();
		    }, function() {
			    carousel.startAuto();
		    });
		};
		<?php endif; ?>
		$jmt(document).ready(function() {
		    <?php if($this->getConfig('use_fancybox')): ?>
			<?php if($this->getConfig('show_tooltip')): ?>
			    $jmt(".zoom-image").css({ 'left': '<?php echo ($w-41)/2 ?>px', 'top': '<?php echo ($h-39)/2 ?>px' });
			    $jmt("a[rel=popup-fancybox]").fancybox({
				'transitionIn'		: 'none',
				'transitionOut'		: 'none',
			    });
			    $jmt(".fancybox-inline").capslide({
				caption_color	: 'black',
				caption_bgcolor	: '#D6DEE2',
				overlay_bgcolor 	: '',
				border		: '',
				showcaption	: false
			    });
			<?php endif; ?>
			$jmt(".items-slider").capslide({
			    caption_color	: 'black',
			    caption_bgcolor	: '#D6DEE2',
			    overlay_bgcolor 	: '',
			    border		: '',
			    showcaption	: false
			});
		    <?php endif; ?>
		    $jmt('.mt-product-scroll').jcarousel({
			scroll: <?php echo $this->getConfig('items_scroll') ?>,
			visible: null,
			animation: <?php echo $this->getConfig('animation') ?>,
			easing: 'swing',
			widthItem: '<?php echo $this->getConfig('width_item').'px' ?>',
			auto: <?php echo $this->getConfig('auto') ?>,
			<?php if($this->getConfig('auto')): ?>
			initCallback: mycarousel_initCallback,
			<?php endif; ?>
			wrap: 'circular'
		    });		    
		});
	    </script>
	</div>
    </div>
<?php endif; ?>

