<?php if (Mage::getStoreConfig('deals/general/enabled')): ?>
    <div class="page-title">
        <h1><?php echo Mage::getStoreConfig('deals/deals_page/title') ?></h1>
    </div>
	<style>
	#tools-menu
	{
	display:none;
	}
	</style>
    <?php
    $layout = Mage::getSingleton('core/layout');
    $productCollection = $this->getProductCollection();
    $toolbar = $this->getToolbarBlock();
    $pager = $layout->createBlock('page/html_pager');
    $toolbar->setChild('product_list_toolbar_pager', $pager);
    $toolbar->setCollection($productCollection);
	?>
	<div id="tools-menu">
	<?php
    echo $toolbar->toHtml();
    ?>
	</div>
    <?php if (count($productCollection) > 0): ?>
	<div class="category-products">
        <?php if ($this->getMode() != 'grid'): ?>
            <ul class="deals-container">
                <?php foreach ($productCollection as $product): ?>
                    <?php $_product = Mage::getModel('catalog/product')->load($product->getId()) ?>
					<?php $store = $_product->getAttributeText('deal_store'); ?>
					<?php $quantity = $_product->getAttributeText('show_hide_quantity'); ?>
					<?php $storeCode= Mage::app()->getStore()->getCode(); ?>
					<?php if($storeCode=='eng' && $store=='USA') { ?>
					<script>
					document.getElementById('tools-menu').style.display="block";
					</script>
                    <li class="deal-item">
                        <div class="product-info">
                            <div class="product-image-container">
                                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
                                    <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(250); ?>" width="250" height="250" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
                                </a>
                                <div class="discount-save">
                                    <div class="save-content">
                                        <?php echo $this->__('Save') ?>
                                        <div class="percent">
                                            <?php $save = $_product->getPrice() - $_product->getFinalPrice() ?>
                                            <?php $percent = round(($save * 100) / $_product->getPrice(), 1) ?>
                                            <?php echo $percent ?>%
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content">
                                <h2><?php echo $_product->getName() ?></h2>
                                <div class="product-description">
                                    <?php echo Mage::helper('core/string')->truncate($_product->getDescription(), 220); ?>
                                    <p class="view-detail"><a href="<?php echo $_product->getProductUrl() ?>"><?php echo $this->__('View details') ?></a></p>
                                </div>
                                <div class="product-price-container">
                                    <?php echo $this->getPriceHtml($_product, true) ?>
                                </div>
                            </div>
                        </div>
                        <div class="deals-info">
                            <div class="time-left">
                                <div class="note"><?php echo $this->__('Time left') ?></div>
                                <?php echo $this->getLayout()->createBlock('deals/deals')->setTemplate('mgs/deals/list.phtml')->setProductId($_product->getId())->toHtml(); ?>
                            </div>
                            <div class="item-info">
                                <div class="sold">
                                    <?php //echo $this->__('Sold:') ?> <span><?php //echo $this->getSold($_product->getId()) ?></span>
                                </div>
								<?php if($quantity=='Yes') { ?>
                                <div class="item-left">
                                    <?php $itemLeft = $this->getItemLeft($_product->getId()); ?>
                                    <?php if ($itemLeft != ''): ?>
                                        <?php if ($itemLeft > 1): ?>
                                            <?php echo $this->__('Items left:') ?> <span><?php echo $itemLeft ?></span>
                                        <?php else: ?>
                                            <?php echo $this->__('Item left:') ?> <span><?php echo $itemLeft ?></span>
                                        <?php endif ?>
                                    <?php else: ?>
                                        <?php echo $this->__('Items left:') ?> <span><?php echo $this->__('Unlimited') ?></span>
                                    <?php endif ?>
                                </div>
								<?php } ?>
                            </div>
                            <form action="<?php echo $this->getAddToCartUrl($_product) ?>" method="post" id="product_addtocart_form_<?php echo $_product->getId(); ?>">
                                <input name="qty" type="text" class="input-text qty addcart-qty" id="addcartqty" maxlength="12" value="<?php echo $this->getMinimalQty($_product) ?>" />
                                <button class="button-addcart" onclick="productAddToCartForm_<?php echo $_product->getId(); ?>.submit();"><span><?php echo $this->__('Buy Now') ?></span></button>
                            </form>
                            <script type="text/javascript">
                                    var productAddToCartForm_<?php echo $_product->getId(); ?> = new VarienForm('product_addtocart_form_<?php echo $_product->getId(); ?>');
                                    productAddToCartForm_<?php echo $_product->getId(); ?>.submit = function() {
                                        if (this.validator.validate()) {
                                            this.form.submit();
                                        }
                                    }.bind(productAddToCartForm_<?php echo $_product->getId(); ?>);
                            </script>
                        </div>
                    </li>
					<?php } ?>
					<?php if($storeCode=='eng' && $store=='All') { ?>
					<script>
					document.getElementById('tools-menu').style.display="block";
					</script>
                    <li class="deal-item">
                        <div class="product-info">
                            <div class="product-image-container">
                                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
                                    <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(250); ?>" width="250" height="250" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
                                </a>
                                <div class="discount-save">
                                    <div class="save-content">
                                        <?php echo $this->__('Save') ?>
                                        <div class="percent">
                                            <?php $save = $_product->getPrice() - $_product->getFinalPrice() ?>
                                            <?php $percent = round(($save * 100) / $_product->getPrice(), 1) ?>
                                            <?php echo $percent ?>%
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content">
                                <h2><?php echo $_product->getName() ?></h2>
                                <div class="product-description">
                                    <?php echo Mage::helper('core/string')->truncate($_product->getDescription(), 220); ?>
                                    <p class="view-detail"><a href="<?php echo $_product->getProductUrl() ?>"><?php echo $this->__('View details') ?></a></p>
                                </div>
                                <div class="product-price-container">
                                    <?php echo $this->getPriceHtml($_product, true) ?>
                                </div>
                            </div>
                        </div>
                        <div class="deals-info">
                            <div class="time-left">
                                <div class="note"><?php echo $this->__('Time left') ?></div>
                                <?php echo $this->getLayout()->createBlock('deals/deals')->setTemplate('mgs/deals/list.phtml')->setProductId($_product->getId())->toHtml(); ?>
                            </div>
                            <div class="item-info">
                                <div class="sold">
                                    <?php //echo $this->__('Sold:') ?> <span><?php //echo $this->getSold($_product->getId()) ?></span>
                                </div>
								<?php if($quantity=='Yes') { ?>
                                <div class="item-left">
                                    <?php $itemLeft = $this->getItemLeft($_product->getId()); ?>
                                    <?php if ($itemLeft != ''): ?>
                                        <?php if ($itemLeft > 1): ?>
                                            <?php echo $this->__('Items left:') ?> <span><?php echo $itemLeft ?></span>
                                        <?php else: ?>
                                            <?php echo $this->__('Item left:') ?> <span><?php echo $itemLeft ?></span>
                                        <?php endif ?>
                                    <?php else: ?>
                                        <?php echo $this->__('Items left:') ?> <span><?php echo $this->__('Unlimited') ?></span>
                                    <?php endif ?>
                                </div>
								<?php } ?>
                            </div>
                            <form action="<?php echo $this->getAddToCartUrl($_product) ?>" method="post" id="product_addtocart_form_<?php echo $_product->getId(); ?>">
                                <input name="qty" type="text" class="input-text qty addcart-qty" id="addcartqty" maxlength="12" value="<?php echo $this->getMinimalQty($_product) ?>" />
                                <button class="button-addcart" onclick="productAddToCartForm_<?php echo $_product->getId(); ?>.submit();"><span><?php echo $this->__('Buy Now') ?></span></button>
                            </form>
                            <script type="text/javascript">
                                    var productAddToCartForm_<?php echo $_product->getId(); ?> = new VarienForm('product_addtocart_form_<?php echo $_product->getId(); ?>');
                                    productAddToCartForm_<?php echo $_product->getId(); ?>.submit = function() {
                                        if (this.validator.validate()) {
                                            this.form.submit();
                                        }
                                    }.bind(productAddToCartForm_<?php echo $_product->getId(); ?>);
                            </script>
                        </div>
                    </li>
					<?php } ?>
					<?php if($storeCode=='fr' && $store=='France') { ?>
					<script>
					document.getElementById('tools-menu').style.display="block";
					</script>
                    <li class="deal-item">
                        <div class="product-info">
                            <div class="product-image-container">
                                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
                                    <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(250); ?>" width="250" height="250" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
                                </a>
                                <div class="discount-save">
                                    <div class="save-content">
                                        <?php echo $this->__('Promo') ?>
                                        <div class="percent">
                                            <?php $save = $_product->getPrice() - $_product->getFinalPrice() ?>
                                            <?php $percent = round(($save * 100) / $_product->getPrice(), 1) ?>
                                            <?php echo $percent ?>%
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content">
                                <h2><?php echo $_product->getName() ?></h2>
                                <div class="product-description">
                                    <?php echo Mage::helper('core/string')->truncate($_product->getDescription(), 220); ?>
                                    <p class="view-detail"><a href="<?php echo $_product->getProductUrl() ?>"><?php echo $this->__('View details') ?></a></p>
                                </div>
                                <div class="product-price-container">
                                    <?php echo $this->getPriceHtml($_product, true) ?>
                                </div>
                            </div>
                        </div>
                        <div class="deals-info">
                            <div class="time-left">
                                <div class="note"><?php echo $this->__('Time left') ?></div>
                                <?php echo $this->getLayout()->createBlock('deals/deals')->setTemplate('mgs/deals/list.phtml')->setProductId($_product->getId())->toHtml(); ?>
                            </div>
                            <div class="item-info">
                                <div class="sold">
                                    <?php //echo $this->__('Sold:') ?> <span><?php //echo $this->getSold($_product->getId()) ?></span>
                                </div>
								<?php if($quantity=='Oui') { ?>
                                <div class="item-left">
                                    <?php $itemLeft = $this->getItemLeft($_product->getId()); ?>
                                    <?php if ($itemLeft != ''): ?>
                                        <?php if ($itemLeft > 1): ?>
                                            <?php echo $this->__('Items left:') ?> <span><?php echo $itemLeft ?></span>
                                        <?php else: ?>
                                            <?php echo $this->__('Item left:') ?> <span><?php echo $itemLeft ?></span>
                                        <?php endif ?>
                                    <?php else: ?>
                                        <?php echo $this->__('Items left:') ?> <span><?php echo $this->__('Unlimited') ?></span>
                                    <?php endif ?>
                                </div>
								<?php } ?>
                            </div>
                            <form action="<?php echo $this->getAddToCartUrl($_product) ?>" method="post" id="product_addtocart_form_<?php echo $_product->getId(); ?>">
                                <input name="qty" type="text" class="input-text qty addcart-qty" id="addcartqty" maxlength="12" value="<?php echo $this->getMinimalQty($_product) ?>" />
                                <button class="button-addcart" onclick="productAddToCartForm_<?php echo $_product->getId(); ?>.submit();"><span><?php echo $this->__('Buy Now') ?></span></button>
                            </form>
                            <script type="text/javascript">
                                    var productAddToCartForm_<?php echo $_product->getId(); ?> = new VarienForm('product_addtocart_form_<?php echo $_product->getId(); ?>');
                                    productAddToCartForm_<?php echo $_product->getId(); ?>.submit = function() {
                                        if (this.validator.validate()) {
                                            this.form.submit();
                                        }
                                    }.bind(productAddToCartForm_<?php echo $_product->getId(); ?>);
                            </script>
                        </div>
                    </li>
					<?php } ?>
					<?php if($storeCode=='fr' && $store=='All') { ?>
					<script>
					document.getElementById('tools-menu').style.display="block";
					</script>
                    <li class="deal-item">
                        <div class="product-info">
                            <div class="product-image-container">
                                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
                                    <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(250); ?>" width="250" height="250" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
                                </a>
                                <div class="discount-save">
                                    <div class="save-content">
                                        <?php echo $this->__('Promo') ?>
                                        <div class="percent">
                                            <?php $save = $_product->getPrice() - $_product->getFinalPrice() ?>
                                            <?php $percent = round(($save * 100) / $_product->getPrice(), 1) ?>
                                            <?php echo $percent ?>%
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content">
                                <h2><?php echo $_product->getName() ?></h2>
                                <div class="product-description">
                                    <?php echo Mage::helper('core/string')->truncate($_product->getDescription(), 220); ?>
                                    <p class="view-detail"><a href="<?php echo $_product->getProductUrl() ?>"><?php echo $this->__('View details') ?></a></p>
                                </div>
                                <div class="product-price-container">
                                    <?php echo $this->getPriceHtml($_product, true) ?>
                                </div>
                            </div>
                        </div>
                        <div class="deals-info">
                            <div class="time-left">
                                <div class="note"><?php echo $this->__('Time left') ?></div>
                                <?php echo $this->getLayout()->createBlock('deals/deals')->setTemplate('mgs/deals/list.phtml')->setProductId($_product->getId())->toHtml(); ?>
                            </div>
                            <div class="item-info">
                                <div class="sold">
                                    <?php //echo $this->__('Sold:') ?> <span><?php //echo $this->getSold($_product->getId()) ?></span>
                                </div>
								<?php if($quantity=='Oui') { ?>
                                <div class="item-left">
                                    <?php $itemLeft = $this->getItemLeft($_product->getId()); ?>
                                    <?php if ($itemLeft != ''): ?>
                                        <?php if ($itemLeft > 1): ?>
                                            <?php echo $this->__('Items left:') ?> <span><?php echo $itemLeft ?></span>
                                        <?php else: ?>
                                            <?php echo $this->__('Item left:') ?> <span><?php echo $itemLeft ?></span>
                                        <?php endif ?>
                                    <?php else: ?>
                                        <?php echo $this->__('Items left:') ?> <span><?php echo $this->__('Unlimited') ?></span>
                                    <?php endif ?>
                                </div>
								<?php } ?>
                            </div>
                            <form action="<?php echo $this->getAddToCartUrl($_product) ?>" method="post" id="product_addtocart_form_<?php echo $_product->getId(); ?>">
                                <input name="qty" type="text" class="input-text qty addcart-qty" id="addcartqty" maxlength="12" value="<?php echo $this->getMinimalQty($_product) ?>" />
                                <button class="button-addcart" onclick="productAddToCartForm_<?php echo $_product->getId(); ?>.submit();"><span><?php echo $this->__('Buy Now') ?></span></button>
                            </form>
                            <script type="text/javascript">
                                    var productAddToCartForm_<?php echo $_product->getId(); ?> = new VarienForm('product_addtocart_form_<?php echo $_product->getId(); ?>');
                                    productAddToCartForm_<?php echo $_product->getId(); ?>.submit = function() {
                                        if (this.validator.validate()) {
                                            this.form.submit();
                                        }
                                    }.bind(productAddToCartForm_<?php echo $_product->getId(); ?>);
                            </script>
                        </div>
                    </li>
					<?php } ?>
					<?php if($storeCode=='en' && $store=='France') { ?>
					<script>
					document.getElementById('tools-menu').style.display="block";
					</script>
                    <li class="deal-item">
                        <div class="product-info">
                            <div class="product-image-container">
                                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
                                    <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(250); ?>" width="250" height="250" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
                                </a>
                                <div class="discount-save">
                                    <div class="save-content">
                                        <?php echo $this->__('Save') ?>
                                        <div class="percent">
                                            <?php $save = $_product->getPrice() - $_product->getFinalPrice() ?>
                                            <?php $percent = round(($save * 100) / $_product->getPrice(), 1) ?>
                                            <?php echo $percent ?>%
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content">
                                <h2><?php echo $_product->getName() ?></h2>
                                <div class="product-description">
                                    <?php echo Mage::helper('core/string')->truncate($_product->getDescription(), 220); ?>
                                    <p class="view-detail"><a href="<?php echo $_product->getProductUrl() ?>"><?php echo $this->__('View details') ?></a></p>
                                </div>
                                <div class="product-price-container">
                                    <?php echo $this->getPriceHtml($_product, true) ?>
                                </div>
                            </div>
                        </div>
                        <div class="deals-info">
                            <div class="time-left">
                                <div class="note"><?php echo $this->__('Time left') ?></div>
                                <?php echo $this->getLayout()->createBlock('deals/deals')->setTemplate('mgs/deals/list.phtml')->setProductId($_product->getId())->toHtml(); ?>
                            </div>
                            <div class="item-info">
                                <div class="sold">
                                    <?php //echo $this->__('Sold:') ?> <span><?php //echo $this->getSold($_product->getId()) ?></span>
                                </div>
								<?php if($quantity=='Yes') { ?>
                                <div class="item-left">
                                    <?php $itemLeft = $this->getItemLeft($_product->getId()); ?>
                                    <?php if ($itemLeft != ''): ?>
                                        <?php if ($itemLeft > 1): ?>
                                            <?php echo $this->__('Items left:') ?> <span><?php echo $itemLeft ?></span>
                                        <?php else: ?>
                                            <?php echo $this->__('Item left:') ?> <span><?php echo $itemLeft ?></span>
                                        <?php endif ?>
                                    <?php else: ?>
                                        <?php echo $this->__('Items left:') ?> <span><?php echo $this->__('Unlimited') ?></span>
                                    <?php endif ?>
                                </div>
								<?php } ?>
                            </div>
                            <form action="<?php echo $this->getAddToCartUrl($_product) ?>" method="post" id="product_addtocart_form_<?php echo $_product->getId(); ?>">
                                <input name="qty" type="text" class="input-text qty addcart-qty" id="addcartqty" maxlength="12" value="<?php echo $this->getMinimalQty($_product) ?>" />
                                <button class="button-addcart" onclick="productAddToCartForm_<?php echo $_product->getId(); ?>.submit();"><span><?php echo $this->__('Buy Now') ?></span></button>
                            </form>
                            <script type="text/javascript">
                                    var productAddToCartForm_<?php echo $_product->getId(); ?> = new VarienForm('product_addtocart_form_<?php echo $_product->getId(); ?>');
                                    productAddToCartForm_<?php echo $_product->getId(); ?>.submit = function() {
                                        if (this.validator.validate()) {
                                            this.form.submit();
                                        }
                                    }.bind(productAddToCartForm_<?php echo $_product->getId(); ?>);
                            </script>
                        </div>
                    </li>
					<?php } ?>
					<?php if($storeCode=='en' && $store=='All') { ?>
					<script>
					document.getElementById('tools-menu').style.display="block";
					</script>
                    <li class="deal-item">
                        <div class="product-info">
                            <div class="product-image-container">
                                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
                                    <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(250); ?>" width="250" height="250" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
                                </a>
                                <div class="discount-save">
                                    <div class="save-content">
                                        <?php echo $this->__('Save') ?>
                                        <div class="percent">
                                            <?php $save = $_product->getPrice() - $_product->getFinalPrice() ?>
                                            <?php $percent = round(($save * 100) / $_product->getPrice(), 1) ?>
                                            <?php echo $percent ?>%
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content">
                                <h2><?php echo $_product->getName() ?></h2>
                                <div class="product-description">
                                    <?php echo Mage::helper('core/string')->truncate($_product->getDescription(), 220); ?>
                                    <p class="view-detail"><a href="<?php echo $_product->getProductUrl() ?>"><?php echo $this->__('View details') ?></a></p>
                                </div>
                                <div class="product-price-container">
                                    <?php echo $this->getPriceHtml($_product, true) ?>
                                </div>
                            </div>
                        </div>
                        <div class="deals-info">
                            <div class="time-left">
                                <div class="note"><?php echo $this->__('Time left') ?></div>
                                <?php echo $this->getLayout()->createBlock('deals/deals')->setTemplate('mgs/deals/list.phtml')->setProductId($_product->getId())->toHtml(); ?>
                            </div>
                            <div class="item-info">
                                <div class="sold">
                                    <?php //echo $this->__('Sold:') ?> <span><?php //echo $this->getSold($_product->getId()) ?></span>
                                </div>
								<?php if($quantity=='Yes') { ?>
                                <div class="item-left">
                                    <?php $itemLeft = $this->getItemLeft($_product->getId()); ?>
                                    <?php if ($itemLeft != ''): ?>
                                        <?php if ($itemLeft > 1): ?>
                                            <?php echo $this->__('Items left:') ?> <span><?php echo $itemLeft ?></span>
                                        <?php else: ?>
                                            <?php echo $this->__('Item left:') ?> <span><?php echo $itemLeft ?></span>
                                        <?php endif ?>
                                    <?php else: ?>
                                        <?php echo $this->__('Items left:') ?> <span><?php echo $this->__('Unlimited') ?></span>
                                    <?php endif ?>
                                </div>
								<?php } ?>
                            </div>
                            <form action="<?php echo $this->getAddToCartUrl($_product) ?>" method="post" id="product_addtocart_form_<?php echo $_product->getId(); ?>">
                                <input name="qty" type="text" class="input-text qty addcart-qty" id="addcartqty" maxlength="12" value="<?php echo $this->getMinimalQty($_product) ?>" />
                                <button class="button-addcart" onclick="productAddToCartForm_<?php echo $_product->getId(); ?>.submit();"><span><?php echo $this->__('Buy Now') ?></span></button>
                            </form>
                            <script type="text/javascript">
                                    var productAddToCartForm_<?php echo $_product->getId(); ?> = new VarienForm('product_addtocart_form_<?php echo $_product->getId(); ?>');
                                    productAddToCartForm_<?php echo $_product->getId(); ?>.submit = function() {
                                        if (this.validator.validate()) {
                                            this.form.submit();
                                        }
                                    }.bind(productAddToCartForm_<?php echo $_product->getId(); ?>);
                            </script>
                        </div>
                    </li>
					<?php } ?>
                <?php endforeach ?>
            </ul>
        <?php else: ?>
            <?php $_collectionSize = $productCollection->count() ?>
            <?php $_columnCount = $this->getColumnCount(); ?>
            <?php
            $i = 0;
            foreach ($productCollection as $product):
                $_product = Mage::getModel('catalog/product')->load($product->getId());
                ?>
                <?php if ($i++ % $_columnCount == 0): ?>
                    <ul class="products-grid">
                    <?php endif ?>
					<?php $store = $_product->getAttributeText('deal_store'); ?>
					<?php $quantity = $_product->getAttributeText('show_hide_quantity'); ?>
					<?php $storeCode= Mage::app()->getStore()->getCode(); ?>
					<?php if($storeCode=='eng' && $store=='USA') { ?>
					<script>
					document.getElementById('tools-menu').style.display="block";
					</script>
                    <li class="item<?php if (($i - 1) % $_columnCount == 0): ?> first<?php elseif ($i % $_columnCount == 0): ?> last<?php endif; ?>">
                        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(135); ?>" width="135" height="135" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>
                        <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_product->getName(); ?></a></h2>
                        <?php if ($_product->getRatingSummary()): ?>
                            <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                        <?php endif; ?>
                        <?php echo $this->getPriceHtml($_product, true) ?>
						
						<?php echo $this->getLayout()->createBlock('deals/deals')->setTemplate('mgs/deals/list.phtml')->setProductId($_product->getId())->toHtml(); ?>
						<?php if($quantity=='Yes') { ?>
                                <div class="item-left">
                                    <?php $itemLeft = $this->getItemLeft($_product->getId()); ?>
                                    <?php if ($itemLeft != ''): ?>
                                        <?php if ($itemLeft > 1): ?>
                                            <?php echo $this->__('Items left:') ?> <span><?php echo $itemLeft ?></span>
                                        <?php else: ?>
                                            <?php echo $this->__('Item left:') ?> <span><?php echo $itemLeft ?></span>
                                        <?php endif ?>
                                    <?php else: ?>
                                        <?php echo $this->__('Items left:') ?> <span><?php echo $this->__('Unlimited') ?></span>
                                    <?php endif ?>
                                </div>
								<?php } ?>
								</div>
                        <div class="actions">
                            <?php if ($_product->isSaleable()): ?>
                                <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>');"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                            <?php else: ?>
                                <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                            <?php endif; ?>
                            <ul class="add-to-links">
                                <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                    <li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
                                <?php endif; ?>
                                <?php if ($_compareUrl = $this->getAddToCompareUrl($_product)): ?>
                                    <li><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a></li>
                                    <?php endif; ?>
                            </ul>
                        </div>
                    </li>
					<?php } ?>
					<?php if($storeCode=='eng' && $store=='All') { ?>
					<script>
					document.getElementById('tools-menu').style.display="block";
					</script>
                    <li class="item<?php if (($i - 1) % $_columnCount == 0): ?> first<?php elseif ($i % $_columnCount == 0): ?> last<?php endif; ?>">
                        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(135); ?>" width="135" height="135" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>
                        <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_product->getName(); ?></a></h2>
                        <?php if ($_product->getRatingSummary()): ?>
                            <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                        <?php endif; ?>
                        <?php echo $this->getPriceHtml($_product, true) ?>
						
						<?php echo $this->getLayout()->createBlock('deals/deals')->setTemplate('mgs/deals/list.phtml')->setProductId($_product->getId())->toHtml(); ?>
						<?php if($quantity=='Yes') { ?>
                                <div class="item-left">
                                    <?php $itemLeft = $this->getItemLeft($_product->getId()); ?>
                                    <?php if ($itemLeft != ''): ?>
                                        <?php if ($itemLeft > 1): ?>
                                            <?php echo $this->__('Items left:') ?> <span><?php echo $itemLeft ?></span>
                                        <?php else: ?>
                                            <?php echo $this->__('Item left:') ?> <span><?php echo $itemLeft ?></span>
                                        <?php endif ?>
                                    <?php else: ?>
                                        <?php echo $this->__('Items left:') ?> <span><?php echo $this->__('Unlimited') ?></span>
                                    <?php endif ?>
                                </div>
								<?php } ?>
								</div>
                        <div class="actions">
                            <?php if ($_product->isSaleable()): ?>
                                <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>');"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                            <?php else: ?>
                                <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                            <?php endif; ?>
                            <ul class="add-to-links">
                                <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                    <li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
                                <?php endif; ?>
                                <?php if ($_compareUrl = $this->getAddToCompareUrl($_product)): ?>
                                    <li><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a></li>
                                    <?php endif; ?>
                            </ul>
                        </div>
                    </li>
					<?php } ?>
					<?php if($storeCode=='fr' && $store=='France') { ?>
					<script>
					document.getElementById('tools-menu').style.display="block";
					</script>
                    <li class="item<?php if (($i - 1) % $_columnCount == 0): ?> first<?php elseif ($i % $_columnCount == 0): ?> last<?php endif; ?>">
                        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(135); ?>" width="135" height="135" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>
                        <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_product->getName(); ?></a></h2>
                        <?php if ($_product->getRatingSummary()): ?>
                            <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                        <?php endif; ?>
                        <?php echo $this->getPriceHtml($_product, true) ?>
						
						<?php echo $this->getLayout()->createBlock('deals/deals')->setTemplate('mgs/deals/list.phtml')->setProductId($_product->getId())->toHtml(); ?>
						<?php if($quantity=='Oui') { ?>
                                <div class="item-left">
                                    <?php $itemLeft = $this->getItemLeft($_product->getId()); ?>
                                    <?php if ($itemLeft != ''): ?>
                                        <?php if ($itemLeft > 1): ?>
                                            <?php echo $this->__('Items left:') ?> <span><?php echo $itemLeft ?></span>
                                        <?php else: ?>
                                            <?php echo $this->__('Item left:') ?> <span><?php echo $itemLeft ?></span>
                                        <?php endif ?>
                                    <?php else: ?>
                                        <?php echo $this->__('Items left:') ?> <span><?php echo $this->__('Unlimited') ?></span>
                                    <?php endif ?>
                                </div>
								<?php } ?>
								</div>
                        <div class="actions">
                            <?php if ($_product->isSaleable()): ?>
                                <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>');"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                            <?php else: ?>
                                <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                            <?php endif; ?>
                            <ul class="add-to-links">
                                <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                    <li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
                                <?php endif; ?>
                                <?php if ($_compareUrl = $this->getAddToCompareUrl($_product)): ?>
                                    <li><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a></li>
                                    <?php endif; ?>
                            </ul>
                        </div>
                    </li>
					<?php } ?>
					<?php if($storeCode=='fr' && $store=='All') { ?>
					<script>
					document.getElementById('tools-menu').style.display="block";
					</script>
                    <li class="item<?php if (($i - 1) % $_columnCount == 0): ?> first<?php elseif ($i % $_columnCount == 0): ?> last<?php endif; ?>">
                        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(135); ?>" width="135" height="135" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>
                        <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_product->getName(); ?></a></h2>
                        <?php if ($_product->getRatingSummary()): ?>
                            <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                        <?php endif; ?>
                        <?php echo $this->getPriceHtml($_product, true) ?>
						
						<?php echo $this->getLayout()->createBlock('deals/deals')->setTemplate('mgs/deals/list.phtml')->setProductId($_product->getId())->toHtml(); ?>
						<?php if($quantity=='Oui') { ?>
                                <div class="item-left">
                                    <?php $itemLeft = $this->getItemLeft($_product->getId()); ?>
                                    <?php if ($itemLeft != ''): ?>
                                        <?php if ($itemLeft > 1): ?>
                                            <?php echo $this->__('Items left:') ?> <span><?php echo $itemLeft ?></span>
                                        <?php else: ?>
                                            <?php echo $this->__('Item left:') ?> <span><?php echo $itemLeft ?></span>
                                        <?php endif ?>
                                    <?php else: ?>
                                        <?php echo $this->__('Items left:') ?> <span><?php echo $this->__('Unlimited') ?></span>
                                    <?php endif ?>
                                </div>
								<?php } ?>
								</div>
                        <div class="actions">
                            <?php if ($_product->isSaleable()): ?>
                                <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>');"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                            <?php else: ?>
                                <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                            <?php endif; ?>
                            <ul class="add-to-links">
                                <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                    <li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
                                <?php endif; ?>
                                <?php if ($_compareUrl = $this->getAddToCompareUrl($_product)): ?>
                                    <li><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a></li>
                                    <?php endif; ?>
                            </ul>
                        </div>
                    </li>
					<?php } ?>
					<?php if($storeCode=='en' && $store=='France') { ?>
					<script>
					document.getElementById('tools-menu').style.display="block";
					</script>
                    <li class="item<?php if (($i - 1) % $_columnCount == 0): ?> first<?php elseif ($i % $_columnCount == 0): ?> last<?php endif; ?>">
                        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(135); ?>" width="135" height="135" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>
                        <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_product->getName(); ?></a></h2>
                        <?php if ($_product->getRatingSummary()): ?>
                            <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                        <?php endif; ?>
                        <?php echo $this->getPriceHtml($_product, true) ?>
						
						<?php echo $this->getLayout()->createBlock('deals/deals')->setTemplate('mgs/deals/list.phtml')->setProductId($_product->getId())->toHtml(); ?>
						<?php if($quantity=='Yes') { ?>
                                <div class="item-left">
                                    <?php $itemLeft = $this->getItemLeft($_product->getId()); ?>
                                    <?php if ($itemLeft != ''): ?>
                                        <?php if ($itemLeft > 1): ?>
                                            <?php echo $this->__('Items left:') ?> <span><?php echo $itemLeft ?></span>
                                        <?php else: ?>
                                            <?php echo $this->__('Item left:') ?> <span><?php echo $itemLeft ?></span>
                                        <?php endif ?>
                                    <?php else: ?>
                                        <?php echo $this->__('Items left:') ?> <span><?php echo $this->__('Unlimited') ?></span>
                                    <?php endif ?>
                                </div>
								<?php } ?>
								</div>
                        <div class="actions">
                            <?php if ($_product->isSaleable()): ?>
                                <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>');"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                            <?php else: ?>
                                <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                            <?php endif; ?>
                            <ul class="add-to-links">
                                <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                    <li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
                                <?php endif; ?>
                                <?php if ($_compareUrl = $this->getAddToCompareUrl($_product)): ?>
                                    <li><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a></li>
                                    <?php endif; ?>
                            </ul>
                        </div>
                    </li>
					<?php } ?>
					<?php if($storeCode=='en' && $store=='All') { ?>
					<script>
					document.getElementById('tools-menu').style.display="block";
					</script>
                    <li class="item<?php if (($i - 1) % $_columnCount == 0): ?> first<?php elseif ($i % $_columnCount == 0): ?> last<?php endif; ?>">
                        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(135); ?>" width="135" height="135" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>
                        <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_product->getName(); ?></a></h2>
                        <?php if ($_product->getRatingSummary()): ?>
                            <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                        <?php endif; ?>
                        <?php echo $this->getPriceHtml($_product, true) ?>
						
						<?php echo $this->getLayout()->createBlock('deals/deals')->setTemplate('mgs/deals/list.phtml')->setProductId($_product->getId())->toHtml(); ?>
						<?php if($quantity=='Yes') { ?>
                                <div class="item-left">
                                    <?php $itemLeft = $this->getItemLeft($_product->getId()); ?>
                                    <?php if ($itemLeft != ''): ?>
                                        <?php if ($itemLeft > 1): ?>
                                            <?php echo $this->__('Items left:') ?> <span><?php echo $itemLeft ?></span>
                                        <?php else: ?>
                                            <?php echo $this->__('Item left:') ?> <span><?php echo $itemLeft ?></span>
                                        <?php endif ?>
                                    <?php else: ?>
                                        <?php echo $this->__('Items left:') ?> <span><?php echo $this->__('Unlimited') ?></span>
                                    <?php endif ?>
                                </div>
								<?php } ?>
								</div>
                        <div class="actions">
                            <?php if ($_product->isSaleable()): ?>
                                <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>');"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                            <?php else: ?>
                                <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                            <?php endif; ?>
                            <ul class="add-to-links">
                                <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                    <li><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
                                <?php endif; ?>
                                <?php if ($_compareUrl = $this->getAddToCompareUrl($_product)): ?>
                                    <li><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a></li>
                                    <?php endif; ?>
                            </ul>
                        </div>
                    </li>
					<?php } ?>
                    <?php if ($i % $_columnCount == 0 || $i == $_collectionSize): ?>
                    </ul>
                <?php endif ?>
            <?php endforeach ?>
            <script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd', 'even', 'first', 'last']);</script>
        <?php endif; ?>
    <?php endif; ?>
	</div>
	<?php if($storeCode=='eng' && $store=='USA') { ?>
    <?php echo $toolbar->toHtml();?>
	<?php } ?>
	<?php if($storeCode=='eng' && $store=='All') { ?>
    <?php echo $toolbar->toHtml();?>
	<?php } ?>
	<?php if($storeCode=='en' && $store=='France') { ?>
    <?php echo $toolbar->toHtml();?>
	<?php } ?>
	<?php if($storeCode=='en' && $store=='All') { ?>
    <?php echo $toolbar->toHtml();?>
	<?php } ?>
	<?php if($storeCode=='fr' && $store=='France') { ?>
    <?php echo $toolbar->toHtml();?>
	<?php } ?>
	<?php if($storeCode=='fr' && $store=='All') { ?>
    <?php echo $toolbar->toHtml();?>
	<?php } ?>
<?php endif; ?>