/*
Skin Name: Nivo Slider Default Theme
Skin URI: http://nivo.dev7studios.com
Skin Type: flexible
Description: The default skin for the Nivo Slider.
Version: 1.0
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
*/

.theme-default .nivoSlider {
    width:920px;
	margin:0 auto 17px;

}
.theme-default .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;	
    display:none;
}
.theme-default .nivo-controlNav img{display:block;}
.theme-default .nivoSlider a {
	border:0;
	display:block;
}
.theme-default .nivoSlider h2 {	
	font-size:20px;
	font-family:Arial;
	color:#e9e9e9;
	width:auto;
	max-width:550px;
	padding:15px 30px;
	text-transform:uppercase;
	text-align:center;
	font-weight: bold;
}
.theme-default .nivoSlider h2:hover{background:url(left-title-hover.png) repeat-x;}
.theme-default .nivo-controlNav {
	background:url(bg-nav-slide.png) no-repeat;
	height:113px;
	position:absolute;
	top:342px;
	right: -20px;
    z-index: 9999;
	width:960px;
}
.theme-default .nivo-controlNav a {
	display:block;
	width:113px;
	height:62px;
	text-indent:-9999px;
	border:0;
	margin-left:19px;
	margin-top:23px;
	border:1px solid #80bbf1;
	float:left;
    opacity: 0.7;
}
.theme-default .nivo-controlNav a:hover{border:1px solid #A4F812;opacity:1;}
.theme-default .nivo-controlNav a.active {
	background-position:0 -22px;
	border:1px solid #A4F812;
	opacity:1;
}
.theme-default .nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background:url(arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
}



.theme-default a.nivo-prevNav {
	width:70px;
	height:70px;
	cursor:pointer;
	position:absolute;
	left:844px;
	top:35%;
	text-indent:-9999px;

}
.theme-default .nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background:url(arrows.png) 100% 0 no-repeat;
	text-indent:-9999px;
	border:0;
	top:35%;
	right:15px;
}
.theme-default a.nivo-prevNav {
	left:15px;
	background-position:0 0;
}
.theme-default .nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
}
.theme-default .nivo-caption a {
    color:#fff;
	text-decoration:none;
}
.theme-default .nivo-caption a:hover {
    color:#fff;
}
.loading {position:relative;float: right; background:#fff url(loading.gif) no-repeat 50% 50%;}
.button-action a.button{text-decoration:none;font-family:OswaldRegular;}
.button-action a.button:hover span{background:url(left-title.png) 0 0 no-repeat;}
.button-action a.button span{
	background:url(left-title.png) 0 0 no-repeat;
	padding:0 0 0 30px;
	height:70px;
	line-height:60px;
	float:left;
	}
.button-action a.button:hover span span{
    color:#ea9b02;
    background:url(right-title.png) 100% 0 no-repeat;
   }
.button-action a.button span span{
	background:url(right-title.png) 0 0 no-repeat;
	padding: 0px 50px 0px 3px;
	float:left;
	height:70px;
	font-size:24px;
	font-weight:normal
}