<style type="text/css">
.amadvert-fullscreen
{
    z-index: 9999;
}

.amadvert-fullscreen .container
{
    position: absolute;
    z-index: 9999;
    background-color: #ffffff;
}

.amadvert-fullscreen .closebar
{
    margin-top: 5px;
    padding: 3px;
    padding-right: 10px;
    height: 24px;
    background-color: #ffffff;
    border-bottom: 2px solid gray;
    text-align: right;
}

.amadvert-fullscreen .boxborder
{
    border: 1px solid gray;
}
</style>

<?php
// preparing sizes
$height = $this->getPlaceholder()->getHeight();
$width  = $this->getPlaceholder()->getWidth();
if ('100%' == $height)
{
    $marginTop = 0;
} else 
{
    if (false !== strpos($height, '%'))
    {
        return round((100 - intval($height)) / 3 + 5) . '%';
    }
    $marginTop =  round(intval($height) / 2) . 'px';
}
if ('100%' == $width)
{
    $marginLeft = 0;
} else 
{
    if (false !== strpos($width, '%'))
    {
        return round(intval($width) / 2) . '%';
    }
    $marginLeft = round(intval($width) / 2) . 'px';
}
?>


<div class="amadvert-fullscreen amadvert-<?php echo $this->getPlaceholder()->getAlias(); ?>" id="amadvert-<?php echo $this->getPlaceholder()->getId(); ?>" style="display: none;">
    <div class="container <?php if ($marginLeft && $marginTop): ?>boxborder<?php endif; ?>" 
                           style="width: <?php echo $width ?>; 
                                  height: <?php echo $height ?>; 
                                  min-height: <?php echo $height ?>;
                                  <?php if ($marginLeft && $marginTop): ?>
                                  left: 50%;
                                  top: 50%;
                                  margin-left: -<?php echo $marginLeft ?>;
                                  margin-top: -<?php echo $marginTop ?>;
                                  <?php else: ?>
                                  top: 0px;
                                  left: 0px;
                                  <?php endif; ?>
                                  ">
    
        <div class="closebar">
            <a href="#" onclick="javascript: $('amadvert-<?php echo $this->getPlaceholder()->getId(); ?>').hide(); return false;"><?php echo $this->__('Close'); ?></a>
        </div>
    
    
        <div class="content">
            <?php echo $this->getPlaceholder()->getAdvertContent(); ?>
        </div>
    
    </div>
</div>

<script type="text/javascript">
Event.observe(window, 'load', function() 
{
    Effect.Appear('amadvert-<?php echo $this->getPlaceholder()->getId(); ?>', { duration: <?php echo $this->getPlaceholder()->getFullscreenEffect(); ?> });
});
</script>