<?php
/**
 * Product:     Shopping Cart Editor
 * Package:     Aitoc_Aiteditablecart_2.1.0_635717
 * Purchase ID: Yng1mGdXbbcLqTG5lc44gVmRMbDY41ipb9S1gN5qsm
 * Generated:   2013-07-16 08:43:34
 * File path:   app/design/frontend/default/default/template/aiteditablecart/js.phtml
 * Copyright:   (c) 2013 AITOC, Inc.
 */
?>
<?php if(Mage::getStoreConfig('checkout/sce/ajax_mode')): ?>
<script type="text/javascript">
//<![CDATA[
    cart = new AitCart('.product-options', '.qty', '<?php echo $this->getUrl('aiteditablecart/cart/updatePost', array('_secure'=>false)) ?>');
//]]>
</script>
    <style>
        #loading-mask {
            color: #D85909;
            font-size: 1.1em;
            font-weight: bold;
            opacity: 0.8;
            position: absolute;
            text-align: center;
            z-index: 500;
            left: 0; 
            width: 100%; 
            min-height: 100%; 
            top: 0; 
            background-color: black;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
            filter: alpha(opacity=80);
        }
        p#loading_mask_loader {
            background: none repeat scroll 0 0 #FFF4E9;
            border: 2px solid #F1AF73;
            color: #D85909;
            font-weight: bold;
            left: 43%;
            padding: 15px 30px;
            position: fixed;
            text-align: center;
            top: 45%;
            width: 120px;
            z-index: 1000;
        }
    </style>
<div id="loading-mask" style="display: none;">
<p class="loader" id="loading_mask_loader"><img src="<?php echo $this->getSkinUrl('images/aitoc-aiteditablecart-ajax-loader.gif')?>" alt="Loading..."><br>Please wait...</p>
</div>
<?php endif; ?>