
<?php if(Mage::getStoreConfig('deals/general/enabled')): ?>
	<?php $widgetId = $this->getWidgetId();?>
	<div class="page-title">
        <h1><?php echo Mage::getStoreConfig('deals/deals_page/title') ?></h1>
	</div>
	<?php $productCollection = $this->getProductCollection(); ?>
	<?php if(count($productCollection)>0): ?>
	<script type="text/javascript">  
		start_slideshow<?php echo $widgetId;?>(0, <?php echo count($productCollection)-1;?>, 5000);   
		function start_slideshow<?php echo $widgetId;?>(start_frame, end_frame, delay) {
			setTimeout(switch_slides<?php echo $widgetId;?>(start_frame,start_frame,end_frame, delay), delay);
		}
								
		function switch_slides<?php echo $widgetId;?>(frame, start_frame, end_frame, delay) {
			return (function() {
				Effect.Fade('slide<?php echo $widgetId;?>' + frame);
				if (frame == end_frame) { frame = start_frame; } else { frame = frame + 1; }
				setTimeout("Effect.Appear('slide<?php echo $widgetId;?>" + frame + "');", 850);
				setTimeout(switch_slides<?php echo $widgetId;?>(frame, start_frame, end_frame, delay), delay + 850);
			})
		}
	</script>
	<div id="slideshow">
		<ul class="deals-container">
			<?php $i= 0; foreach($productCollection as $product): ?>
			<?php $_product = Mage::getModel('catalog/product')->load($product->getId()) ?>
				<li class="deal-item" id="slide<?php echo $widgetId;?><?php echo $i++;?>" style="width: auto; ">
					<div class="product-info">
						<div class="product-image-container">
							<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image">
								<img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(240); ?>" width="240" height="240" alt="<?php echo $this->htmlEscape($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
							</a>
							<div class="discount-save">
								<div class="save-content">
									<?php echo $this->__('Save') ?>
									<div class="percent">
										<?php $save = $_product->getPrice() - $_product->getFinalPrice() ?>
										<?php $percent = round(($save*100)/$_product->getPrice(), 1) ?>
										<?php echo $percent ?>%
									</div>
								</div>
							</div>
						</div>
						
					</div>
					<div class="slide-deals">
						<div class="deals-info">
							<div class="time-left">
								<div class="note"><?php echo $this->__('Time left') ?></div>
								<?php echo $this->getLayout()->createBlock('deals/deals')->setTemplate('mgs/deals/list.phtml')->setProductId($_product->getId())->setData("widgetId", $widgetId)->toHtml(); ?>
							</div>
							<div class="item-info">
								<div class="sold">
									<?php echo $this->__('Sold:') ?> <span><?php echo $this->getSold($_product->getId()) ?></span>
								</div>
								<div class="item-left">
									<?php $itemLeft = $this->getItemLeft($_product->getId()); ?>
									<?php if($itemLeft!=''): ?>
										<?php if($itemLeft>1): ?>
											<?php echo $this->__('Items left:') ?> <span><?php echo $itemLeft ?></span>
										<?php else: ?>
											<?php echo $this->__('Item left:') ?> <span><?php echo $itemLeft ?></span>
										<?php endif ?>
									<?php else: ?>
										<?php echo $this->__('Items left:') ?> <span><?php echo $this->__('Unlimited') ?></span>
									<?php endif ?>
								</div>
							</div>
							<div class="addcart-button">
								<a href="<?php echo $this->getAddToCartUrl($_product) ?>"><span><?php echo $this->__('Buy Now') ?></span></a>
							</div>
						</div>
					</div>
				</li>
			<?php endforeach ?>
		</ul>
	<?php endif ?>
	</div>
<?php endif ?>
