<script src="<?php echo Mage::getBaseUrl('js').'jplayer/js/jquery-1.6.4.min.js'?>" type="text/javascript"></script>
<script src="<?php echo Mage::getBaseUrl('js')?>fancybox/lib/jquery.mousewheel-3.0.6.pack.js" type="text/javascript"></script>
<script src="<?php echo Mage::getBaseUrl('js')?>fancybox/source/jquery.fancybox.js?v=2.1.4" type="text/javascript"></script>
<script src="<?php echo Mage::getBaseUrl('js')?>jcarousel/lib/jquery.jcarousel.min.js" type="text/javascript"></script>
<!--<link href="http://localhost:8080/magento2/magento/js/jplayer/skin/pink.flag/jplayer.pink.flag.css" rel="stylesheet" type="text/css" />-->

<script src="<?php echo Mage::getBaseUrl('js')?>jplayer/js/jquery.jplayer.min.js" type="text/javascript"></script>
<script src="<?php echo Mage::getBaseUrl('js')?>jplayer/js/jplayer.playlist.min.js" type="text/javascript"></script>

<link rel="stylesheet" type="text/css" href="<?php echo Mage::getBaseUrl('js')?>fancybox/source/jquery.fancybox.css?v=2.1.4" media="screen" />
<link rel="stylesheet" type="text/css" href="<?php echo Mage::getBaseUrl('js')?>jcarousel/skins/tango/skin.css" media="screen" />
<?php $_product = $this->getProduct();
$collection = Mage::getModel('exproduct/sound')->getCollection()->addFieldToFilter('product_id',array('eq'=>$_product->getId()));?>
<div id="addedoverlay1" style='display:none'> </div>
<div id='added1' style='display:none'></div>
<div id="addedoverlay" style='display:none'> </div>
<div id='added' style='display:none'></div>
<div class="product_detail_extra">
    <div class="product_btnsextras">
        <div class="firstbutton left">        
            <div class="btn_extras_accessory">
                <a class="button" href="<?php echo Mage::getUrl().'contacts/index/getrelated/id/'.$_product->getId().'?type=extras'?>" id="various1"><?php echo Mage::helper('catalog')->__('Accessories')?></a>
            </div>
        </div>
        <div class="secondbutton left">
            <div class="btn_spare">
                <a class="button" href="<?php echo Mage::getUrl().'contacts/index/getrelated/id/'.$_product->getId().'?type=spare'?>" id="various2"><?php echo Mage::helper('catalog')->__('Spare parts')?></a>
            </div>
        </div>
    </div>
    <div class="product_detail_extra_inner">
        <table>
            <tbody>
                <tr class="line"><td><?php echo Mage::helper('catalog')->__('Video')?></td><td class="iconcell">
                        <a class="icon-video" href="<?php echo $_product->getVideo()?>"  id="various4"><?php echo Mage::helper('catalog')->__('Video')?></a>
                    </td></tr>
                
                <tr class="line"><td><?php echo Mage::helper('catalog')->__('Sound example')?></td><td class="iconcell">
                        <div class="icon_soundExample">
                           <div id="jp_container_N" class="jp-audio">
			<div class="jp-type-single">
				<div id="jquery_jplayer_N" class="jp-jplayer"></div>
				<div class="jp-gui">
					
					<div class="jp-interface">
						<div class="jp-progress" style="display:none">
							<div class="jp-seek-bar">
								<div class="jp-play-bar"></div>
							</div>
						</div>
						
						<div class="jp-title">
							<ul>
								<li></li>
							</ul>
						</div>
						<div class="jp-controls-holder">
							<ul class="jp-controls">
								
								<li id="jp_playbutton" style="display:inline;"><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
								
								
								<li id="jp_stopbutton" style="display:none;"><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li>
								
							</ul>
							
						</div>
					</div>
				</div>
				<div class="jp-playlist">
					<ul>
						<!-- The method Playlist.displayPlaylist() uses this unordered list -->
						<li></li>
					</ul>
				</div>
				<div class="jp-no-solution">
					
				</div>
			</div>
		</div>



                       
                    </td></tr>
               <!-- <tr class="line"><td><?php echo Mage::helper('catalog')->__('Tone table')?></td><td class="iconcell">
                        <a class="icon-tone fancybox.ajax" href="<?php echo Mage::getUrl().'contacts/index/gettonetable/id/'.$_product->getId()?>"  id="various6"><?php echo Mage::helper('catalog')->__('Tone Table')?></a>
                    </td></tr>-->
					 <?php if($_product->getCed_attachment_file()!='') { ?>
					 <tr class="line"><td><?php echo Mage::helper('catalog')->__('PDF File')?></td><td class="iconcell">
                        <a class="icon-pdf fancybox.ajax" href="<?php echo Mage::getUrl('exportcsv/pdf/pdf',array('pdf'=>$_product->getCed_attachment_file()));?>"  id="various7"><?php echo Mage::helper('catalog')->__('PDF File')?></a>
                    </td></tr>
					<?php } ?>
            </tbody></table>
    </div>
</div>

<script type="text/javascript">
    jQuery.noConflict();
        
        jQuery("#various1").fancybox({
				'width'				: '680px',
				'height'			: '75%',
				'autoScale'			: false,
				'transitionIn'		: 'none',
				'transitionOut'		: 'none',
				'type'				: 'ajax'
			});
        jQuery("#various2").fancybox({
				'width'				: '680px',
				'height'			: '75%',
				'autoScale'			: false,
				'transitionIn'		: 'none',
				'transitionOut'		: 'none',
				'type'				: 'ajax'
			});
       jQuery("#various3").fancybox({
				'width'				: '680px',
				'height'			: '75%',
				'autoScale'			: false,
				'transitionIn'		: 'none',
				'transitionOut'		: 'none',
				'type'				: 'iframe'
			});
      jQuery("#various4").fancybox({
				'width'				: '480px',
				'height'			: '480px',
				'autoScale'			: false,
				'transitionIn'		: 'none',
				'transitionOut'		: 'none',
				'type'				: 'iframe'
			});
        jQuery("#various5").fancybox({
				'width'				: '480px',
				'height'			: '480px',
				'autoScale'			: false,
				'transitionIn'		: 'none',
				'transitionOut'		: 'none',
				'type'				: 'iframe'
			});
			jQuery("#various7").fancybox({
				'width'				: '700px',
				'height'			: '700px',
				'autoScale'			: false,
				'transitionIn'		: 'none',
				'transitionOut'		: 'none',
				'type'				: 'iframe'
			});
     jQuery(".icon-tone").fancybox({
				'width'				: 'auto',
				'height'			: 'auto',
			});
                        
                        
                        
  
                    </script>

 
<script type="text/javascript">
    jQuery.noConflict();
     jQuery(document).ready(function(){

	var myPlaylist = new jPlayerPlaylist({
		jPlayer: "#jquery_jplayer_N",
		cssSelectorAncestor: "#jp_container_N"
	}, [
		<?php $i=1;foreach($collection as $sound):?>
                            {
                               title:"<?php echo $i?>" ,
                               mp3:"<?php echo Mage::getBaseUrl('media').$sound->getFileMp3()?>",
                               oga:"<?php echo Mage::getBaseUrl('media').$sound->getFileOgg()?>"
                            <?php if($i==$collection->count()):?>
                                }
                              <?php else:?>
                                },
                              <?php endif;?>
                              
                            <?php endforeach;?>
                        
	], {
            ready: function() {
            
            }, 
            play: function() {

                jQuery('.jp-playlist').hide();
                jQuery('.jp-progress').show();
                jQuery('#jp_playbutton').hide();
                jQuery('#jp_stopbutton').show();
                },
            pause: function (event) {
                jQuery('.jp-progress').hide();
                jQuery('.jp-playlist').show();
                jQuery('#jp_stopbutton').hide();
                jQuery('#jp_playbutton').show();
            }, 
		playlistOptions: {
			enableRemoveControls: false
		},
		swfPath: "js",
		supplied: "oga, mp3"
	});
     });
 </script>
 
 <script type="text/javascript">
 

function productAddToAttribute(id)
{
  
  var abc = jQuery('.select_'+id).html();
  var ccc = jQuery('#select2_'+id).val();
  jQuery('#select_'+id).val(ccc).change();
	jQuery('#button-addtoproduct'+id).hide();
	jQuery('#button-removefromproduct'+id).show();
	jQuery('#select2_'+id).hide();
}
function productRemoveAttribute(id)
{
  
  var abc = jQuery('.select_'+id).html();
  var ccc = jQuery('#select2_'+id).val();
  jQuery('#select_'+id).val('').change();
  jQuery('#select2_'+id).val('').change();
 jQuery('#button-addtoproduct'+id).show();
 jQuery('#button-removefromproduct'+id).hide();
 jQuery('#select2_'+id).show();
}
 function getOptionValue(id)
    {
        var aa =jQuery('#select_').val();
        jQuery('#select2_'+id).val(aa);
        
    }
// Ride the carousel...

 </script>
 <!-- Tabs -->
<style type="text/css">
    .jcarousel-control {
    margin-bottom: 10px;
    margin-right: 10px;
    text-align: right;
}

.jcarousel-control a {
    font-size: 100%;
    text-decoration: none;
    padding: 0 5px;
    margin: 0 0 5px 0;
    border: 1px solid #fff;
    color: #eee;
    background-color: #4088b8;
    font-weight: bold;
}

.jcarousel-control a:focus,
.jcarousel-control a:active {
    outline: none;
}
</style>
<script type="text/javascript">
		function mycarousel_initCallback(carousel) {
    jQuery('.jcarousel-control a').bind('click', function() {
        carousel.scroll(jQuery.jcarousel.intval(jQuery(this).text()));
        return false;
    });

    
};

// Ride the carousel...
function inimycarousel() {
    jQuery("#mycarousel").jcarousel({
        
        initCallback: mycarousel_initCallback,
        // This tells jCarousel NOT to autobuild prev/next buttons
        buttonNextHTML: null,
        buttonPrevHTML: null
    });
};
jQuery(document).ready(function() {
    jQuery("#mycarousel").jcarousel({
        
        initCallback: mycarousel_initCallback,
        // This tells jCarousel NOT to autobuild prev/next buttons
        buttonNextHTML: null,
        buttonPrevHTML: null
    });
});
</script>  
<script type="text/javascript">
 function mycarousel(url,type)
    {
	var windowBox =jQuery('#added1');
	
	var content = jQuery('#added1').html();
	if(content)
	{
		jQuery('#added1').show();
		jQuery('#addedoverlay1').show();
		jQuery('#addedoverlay1').one('click',function(){
                                    hidewindow(jQuery('#added1'),jQuery('#addedoverlay1'));                    
                        });	
		
	}else{
                  //alert(url+"--------"+data);
		jQuery('#addedoverlay1').show();
                            jQuery('#added1').show().css({backgroundColor:"transparent",
                                backgroundImage: "url('<?php echo $this->getSkinUrl('images/loading.gif')?>')"
                            });
							var data = '&isAjax=1';
                try {
                    jQuery.ajax({
                          url: url,
                          
                          type : 'post',
                          data: data,
                          beforeSubmit: function(){    
                                                
                    },
                    error: function(data){
                            jQuery('#added1').css({
                                      backgroundImage: 'none',backgroundColor:"#ffffff"
                        }).html('<?php echo $this->__('Error') ?>');					   
                        jQuery('#addedoverlay1').one('click',function(){
                                    hidewindow(jQuery('#added1'),jQuery('#addedoverlay1'));                    
                        });	       

                        jQuery('#hidewindow').click(function(){
                                    hidewindow(jQuery('#added1'),jQuery('#addedoverlay1'));                    
                        });
                    },
                    success : function(result ){
                        	   

                        jQuery('#added1').css({
                                      backgroundImage: 'none',backgroundColor:"#ffffff"
                        }).html(result);					   
                        jQuery('#addedoverlay1').one('click',function(){
                            hidewindow(jQuery('#added1'),jQuery('#addedoverlay1'));                    
                        });	       

                        jQuery('#hidewindow').click(function(){
                            hidewindow(jQuery('#added1'),jQuery('#addedoverlay1'));                    
                        });	   
                    },
					complete:function(result){
						inimycarousel();
					}
                    });
                } catch (e) {
                }
				}
        };	
	
  </script> 
