<!-- Tabs -->
<style type="text/css">
    .jcarousel-control {
    margin-bottom: 10px;
    margin-right: 10px;
    text-align: right;
}

.jcarousel-control a {
    font-size: 100%;
    text-decoration: none;
    padding: 0 5px;
    margin: 0 0 5px 0;
    border: 1px solid #fff;
    color: #eee;
    background-color: #4088b8;
    font-weight: bold;
}

.jcarousel-control a:focus,
.jcarousel-control a:active {
    outline: none;
}
.IC_CrossSellingContainer .qty{float:left;line-height: 22px;
    margin-right: 5px;}
</style>
<?php 
$_helper = $this->helper('catalog/output');
$typerelate = $this->getTypeRelated();
$product = Mage::getModel('catalog/product')->load($this->getProductId());

 $collection = $product->getRelatedProductCollection()
            ->addAttributeToSelect('required_options')
            ->setPositionOrder()
            ->addStoreFilter()
        ;
if($typerelate=='extras')
{
	$collection->addAttributeToFilter('relate_type',array('eq'=>'36'));
}else
{
	$collection->addAttributeToFilter('relate_type',array('eq'=>35));
}
        if (Mage::helper('catalog')->isModuleEnabled('Mage_Checkout')) {
            
            $this->_addProductAttributesAndPrices($collection);
        }
//        Mage::getSingleton('catalog/product_status')->addSaleableFilterToCollection($this->_itemCollection);
        Mage::getSingleton('catalog/product_visibility')->addVisibleInCatalogFilterToCollection($collection);

       $collection->load();

        foreach ($collection as $product) {
            $product->setDoNotUseCategoryId(true);
        }
     ?>
<?php $size = $collection->getSize();?>
<?php if($size%3 != 0){$size = ($size-$size%3)+3;}?>
<?php $pagecount = (int)$size/3;?>
<div id="addedoverlay" style='display:none'> </div>
<div id='added' style='display:none'></div>
        
<div id="mycarousel" class="jcarousel-skin-tango">
    <div class="jcarousel-control">
      <?php for($i=1;$i<=$pagecount;$i++):?>
            <a href="#"><?php echo $i?></a>
      <?php endfor;?>
    </div>

    <ul>
        <li  style="height: 531px;">
        <?php $i=0;foreach($collection as $_product):?> 
			<?php $_product->load();?>
            <div>
             <form id="product_addtocart_form<?php echo $_product->getId()?>" action="<?php echo Mage::getBaseUrl(); ?>checkout/cart/add/" method="post" style="display:block; clear:both;">    
             <div class="IC_CrossSellingContainer ContentArea">
                 <div class="infor">
                     <div class="imagep"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(166); ?>" width="166" height="166" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></div>
                     <div class="description">
                    <h2 class="product-name"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h2>
                    <div id="productimgover<?php echo $_product->getId()?>" style="display: none;"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(64); ?>" width="64" height="64" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></div>
                    <div id='productname<?php echo $_product->getId()?>' style='display:none'><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></div>
                    
                    <p class="product-sku"><?php echo $_helper->productAttribute($_product, $_product->getSku(), 'sku') ?></p>
                    <div class="std"><?php echo $_helper->productAttribute($_product, nl2br($_product->getDescription()), 'description') ?></div>
					</div>
                    
                
                 </div>
                 <div class="actions">
                     <?php $xml = "";
                            $hasAtts = 0; 
                        $productType = $_product->getTypeId();

                            if($productType == "configurable") {

								// configurable products
								$attValConfig = $_product->getTypeInstance()->getConfigurableAttributesAsArray();

								if(sizeof($attValConfig)) {

								$hasAtts++;

								foreach($attValConfig as $attValConfigSingle) {

								$xml .= '<label class="option_title">'.$attValConfigSingle['frontend_label'].": ".'</label>';

								$xml .= "<select class='option_value' name='super_attribute[".$attValConfigSingle['attribute_id']."]'>";

								foreach($attValConfigSingle['values'] as $attValConfigSingleVal) {
								$xml .= "<option value='".$attValConfigSingleVal['value_index']."'>".$attValConfigSingleVal['label']."</option>";
								}

								$xml .= "</select>";

								}
								}
                            }
							$attVal = $_product->getOptions();					
							if(sizeof($attVal)) {

								$hasAtts++;

								foreach($attVal as $optionVal) {

									$xml .= '<label class="option_title">'.$optionVal->getTitle().": ".'</label>';

									$xml .= "<select class='option_value' name='options[".$optionVal->getId()."]'>";

									foreach($optionVal->getValues() as $valuesKey => $valuesVal) {
									$xml .= "<option value='".$valuesVal->getId()."'>".$valuesVal->getTitle()."</option>";
									}

									$xml .= "</select>";

								}

							} 
                            $xml .= "<div class='clear'></div><label class=\"qty\">".Mage::helper('catalog')->__('Qty')."</label> <input style='display:block; margin-bottom:5px;' id='qty' class='input-text qty' type='text' value='1' maxlength='12' name='qty'/>";

                            echo($xml);
   
                     ?>
                     <div  style="clear:both;"></div>
                     <?php echo $this->getPriceHtml($_product, true) ?>
                    <?php if($_product->isSaleable()): ?>
                        <button type="button" title="" class="button btn-cart" onclick="productAddToCartForm<?php echo $_product->getId() ?>.submit(this)"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                        
                    <?php else: ?>
                        <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                    <?php endif; ?>
                   
                </div>
                 <div class="clear"></div>
                 <input type="hidden" name="product" value="<?php echo($_product->getId()); ?> "/>
                 </div>
        </form>
    </div>
            <?php $i=$i+1; if($i%3==0||$i==$size):?>
            </li>
            <li  style="height: 531px;">
            <?php endif;?>
        <?php endforeach;?>
                </li>
    </ul>
     
</div>
<?php $i=0;foreach($collection as $_product):?>  
    <script type="text/javascript">
				
        var productAddToCartForm<?php echo $_product->getId() ?> = new VarienForm('product_addtocart_form<?php echo $_product->getId() ?>'); 
            productAddToCartForm<?php echo $_product->getId() ?>.submit = function(button, url) {
            if (this.validator.validate()) {
                var form = this.form;
                var oldUrl = form.action;
 
                if (url) {
                   form.action = url;
                }
                var e = null;
//Start of our new ajax code
              
				if(!url){
                    url = jQuery('#product_addtocart_form<?php echo $_product->getId() ?>').attr('action');
                    url = url.replace("checkout/cart","exproduct/ajax"); 
                }
                var data = jQuery('#product_addtocart_form<?php echo $_product->getId() ?>').serialize();
                data += '&isAjax=1';
                  //alert(url+"--------"+data);
		jQuery('#addedoverlay').show();
                            jQuery('#added').show().css({
                                backgroundImage: "url('<?php echo $this->getSkinUrl('images/loading.gif')?>')"
                            });
                try {
                    jQuery.ajax({
                          url: url,
                          dataType: 'json',
                          type : 'post',
                          data: data,
                          beforeSubmit: function(){    
                                                
                    },
                    error: function(data){
                            jQuery('#added').css({
                                      backgroundImage: 'none'
                        }).html('<?php echo $this->__('Error') ?>');					   
                        jQuery('#addedoverlay').one('click',function(){
                                    hidewindow(jQuery('#added'),jQuery('#addedoverlay'));                    
                        });	       

                        jQuery('#hidewindow').click(function(){
                                    hidewindow(jQuery('#added'),jQuery('#addedoverlay'));                    
                        });
                    },
                    success : function(data,statusText,xhr ){
                        if(data.status == 'SUCCESS'){
                            if(jQuery('.block-cart')){
                                jQuery('.block-cart').replaceWith(data.sidebar);
                            }
                            if(jQuery('.quick-access .topcart')){
                                jQuery('.quick-access .topcart').html(data.topcart);
                            }     
                            msgHtml = '<div class="added-content"><div style="margin-bottom:10px;"><?php echo $this->__('Your product was successfully added to your shopping cart.') ?></div><div style="clear:both;"></div><a id="hidewindow" href="javascript:void(0);"><?php echo $this->__('Continue shopping') ?></a>&nbsp;<a href="<?php echo $this->getUrl('checkout/cart')?>"><?php echo $this->__('View cart & checkout') ?></a></div>';             
                        }else{
                            msgHtml = '<div class="added-content"><p class="error-msg" style="margin-bottom:15px;">' + data.message + '</p><a id="hidewindow" href="javascript:void(0);"><?php echo $this->__('Continue shopping') ?></a>&nbsp;<a href="<?php echo $this->getUrl('checkout/cart')?>"><?php echo $this->__('View cart & checkout') ?></a></div>';
                        }					   

                        jQuery('#added').css({
                                      backgroundImage: 'none'
                        }).html(msgHtml);					   
                        jQuery('#addedoverlay').one('click',function(){
                            hidewindow(jQuery('#added'),jQuery('#addedoverlay'));                    
                        });	       

                        jQuery('#hidewindow').click(function(){
                            hidewindow(jQuery('#added'),jQuery('#addedoverlay'));                    
                        });	   
                    }
                    });
                } catch (e) {
                }
//End of our new ajax code
                this.form.action = oldUrl;
                if (e) {
                    throw e;
                }
            }
        }.bind(productAddToCartForm<?php echo $_product->getId() ?>);

        productAddToCartForm<?php echo $_product->getId() ?>.submitLight = function(button, url){
            if(this.validator) {
                var nv = Validation.methods;
                delete Validation.methods['required-entry'];
                delete Validation.methods['validate-one-required'];
                delete Validation.methods['validate-one-required-by-name'];
                if (this.validator.validate()) {
                    if (url) {
                        this.form.action = url;
                    }
                    this.form.submit();
                }
                Object.extend(Validation.methods, nv);
            }
        }.bind(productAddToCartForm<?php echo $_product->getId(); ?>);
    //]]>
    </script>
    <?php endforeach;?>
<script type="text/javascript">
/**
 * We use the initCallback callback
 * to assign functionality to the controls
 */

function mycarousel_initCallback(carousel) {
    jQuery('.jcarousel-control a').bind('click', function() {
        carousel.scroll(jQuery.jcarousel.intval(jQuery(this).text()));
        return false;
    });

    
};

// Ride the carousel...
jQuery(document).ready(function() {
    jQuery("#mycarousel").jcarousel({
        
        initCallback: mycarousel_initCallback,
        // This tells jCarousel NOT to autobuild prev/next buttons
        buttonNextHTML: null,
        buttonPrevHTML: null
    });
});

function hidewindow(windowBox,windowOver){
            windowOver.fadeOut(400);
            windowBox.fadeOut(400).html(" ");	
        }
</script>
    