<!-- Tabs -->
<h2 class="demoHeaders">Tabs</h2>
<?php echo $this->getProductId();
$collection = Mage::getModel('exproduct/tip')->getCollection()->addFieldToFilter('product_id',array('eq'=>$this->getProductId()));
            
     ?>

<div id="tabs">
    <ul>
    <?php $i=1;foreach ($collection as $co):?>
		<li><a href="#tabs-<?php echo $i?>">Tip <?php echo $i?></a></li>
		
     <?php $i=$i+1; endforeach;?> 
	</ul>
    <?php $i=1;foreach ($collection as $co):?>
	<div id="tabs-<?php echo $i?>"><?php echo $co->getContent()?></div>
     <?php $i=$i+1;endforeach;?>    
	
       
</div>

<script type="text/javascript">
    $( "#tabs" ).tabs();
</script>
    