<?php
 /**
 * GoMage ProCart Extension
 *
 * @category     Extension
 * @copyright    Copyright (c) 2010-2014 GoMage (http://www.gomage.com)
 * @author       GoMage
 * @license      http://www.gomage.com/license-agreement/  Single domain license
 * @terms of use http://www.gomage.com/terms-of-use
 * @version      Release: 2.1
 * @since        Class available since Release 1.0
 */
 ?>
<?php if(Mage::helper('gomage_procart')->isProCartEnable()): ?>
<script type="text/javascript">
//<![CDATA[
	var GomageProcartConfig = null;
    var gomage_procart_config = <?php echo $this->getConfig(); ?>;     
    var gomage_procart_qty_template = <?php echo $this->getQtyTemplate(); ?>;
    var gomage_procart_qty_deals_template = <?php echo $this->getQtyDealsTemplate(); ?>;
    var gomage_procart_qty_cart_template = <?php echo $this->getQtyCartTemplate(); ?>;
    var gomage_procart_qty_product_template = <?php echo $this->getQtyProductTemplate(); ?>;
    var gomage_procart_qty_crosssell_template = <?php echo $this->getQtyCrosssellTemplate(); ?>;
    var gomage_procart_qty_upsell_template = <?php echo $this->getQtyUpsellTemplate(); ?>;
    var gomage_procart_qty_category_popup_template = <?php echo $this->getQtyCategoryPopupTemplate(); ?>;
    var gomage_procart_continue_text = '<?php echo $this->getContinueButtonText(); ?>';
    var gomage_procart_configure_cart = <?php echo Mage::helper('gomage_procart')->isConfigureCart(); ?>;
//]]>
</script>

<div id="gpc_confirmation_window" style="display: none;">
	<p class="gpc_msg_title">
		<span id="gpc_conf_win_qty"></span>	
		<span class="gpc_msg_x"></span>			
		<span id="gpc_conf_win_prod_name"></span>
		<span id="gpc_conf_win_was" style="display: none;"><?php echo Mage::helper('gomage_procart')->__('was') ?></span>
		<span id="gpc_conf_win_were" style="display: none;"><?php echo Mage::helper('gomage_procart')->__('were') ?></span>
		<span id="gpc_cw_add_to_cart" class="gpc_cw_add_to" style="display: none;"><?php echo Mage::helper('gomage_procart')->__('added to your cart.') ?></span>
		<span id="gpc_cw_add_to_wishlist" class="gpc_cw_add_to" style="display: none;"><?php echo Mage::helper('gomage_procart')->__('added to wishlist.') ?></span>
		<span id="gpc_cw_add_to_compare" class="gpc_cw_add_to" style="display: none;"><?php echo Mage::helper('gomage_procart')->__('added to compare products.') ?></span>
	</p>
	<div class="gpc_confirmation_window_actions">
	<button onclick="$('gpc_confirmation_window').hide(); GomageProcartConfig.overlay.hide()" class="gpc_msg_bnt gpc_msg_bnt_cs"><span><span id="gpc_confirm_window_continue"><?php echo $this->getContinueButtonText(); ?></span></span></button>
	<?php if (Mage::helper('gomage_procart')->isShoppingCartDisable()) : ?>
		<button class="gpc_msg_bnt gpc_msg_bnt_ptc" onclick="setLocation('<?php echo $this->getUrl('checkout/onepage'); ?>')"><span><span id="gpc_confirm_window_checkout"><?php echo $this->getCheckoutButtonText(); ?></span></span></button>
		<script type="text/javascript">
		//<![CDATA[			
			var gomage_procart_goto_data = <?php echo Mage::helper('core')->jsonEncode(array(
                                            					'cart' => array('text' => $this->getCheckoutButtonText(),
                                                                                'onclick' => "setLocation('" . $this->getUrl('checkout/onepage') . "')"),
                                                                'wishlist' => array('text' => $this->getWishlistButtonText(),
                                                                                'onclick' => "setLocation('" . $this->getUrl('wishlist') . "')"),
                                                                'compare' =>  array('text' => $this->getCompareButtonText(),
                                                                                'onclick' => "$('gpc_confirmation_window').hide(); GomageProcartConfig.overlay.hide();popWin('" . $this->helper('catalog/product_compare')->getListUrl() . "','compare','top:0,left:0,width=820,height=600,resizable=yes,scrollbars=yes');"),   
                                                                        ));   
                                            ?>			
		//]]>
		</script>
	<?php else: ?>
		<button class="gpc_msg_bnt gpc_msg_bnt_ptc" onclick="setLocation('<?php echo $this->getUrl('checkout/cart'); ?>')"><span><span id="gpc_confirm_window_checkout"><?php echo $this->getCartButtonText(); ?></span></span></button>
		<script type="text/javascript">
		//<![CDATA[			
			var gomage_procart_goto_data = <?php echo Mage::helper('core')->jsonEncode(array(
                            									'cart' => array('text' => $this->getCartButtonText(),
                                                                                'onclick' => "setLocation('" . $this->getUrl('checkout/cart') . "')"),
                                                                'wishlist' => array('text' => $this->getWishlistButtonText(),
                                                                                'onclick' => "setLocation('" . $this->getUrl('wishlist') . "')"),
			                                                    'compare' =>  array('text' => $this->getCompareButtonText(),
                                                                                'onclick' => "$('gpc_confirmation_window').hide(); GomageProcartConfig.overlay.hide();popWin('" . $this->helper('catalog/product_compare')->getListUrl() . "','compare','top:0,left:0,width=820,height=600,resizable=yes,scrollbars=yes');"),   
                                                                        ));   
                                            ?>
		//]]>
		</script>
	<?php endif; ?>
	</div>
</div>
<?php endif; ?>