			<h3 class="featuredcategory_list_head"><?php echo $this->__('Featured Categories') ?></h3>
            <?php
                $catCollection=$this->getFeaturedCategoryCollection();
                echo("<ul id='featured_category'>");
				$i=0;
				foreach($catCollection as $cat)
				{
					$i++;
					echo("<li><a href='". $cat->getUrl()."'>".$this->getFeaturedImage($cat)."</a></li>");
					if($i>=5) break;
				}
				echo("</ul>");
            ?>
            <h3 class='featuredcategory_list_head' ><?php echo $this->__('All Categories') ?></h3>
                <?php $this->generateListCharacter();?>
                <ul id="featured_list">
					<?php
						$begin=$this->getRequest()->getParam('begin');
						$cats=$this->getFeaturedCategoryBeginBy($begin);
						if(count($cats))
						{
							foreach($cats as $cat)
							{
								echo("<li><a href='". $cat->getUrl() . "' title='" . $cat->getName() . "'>" .$cat->getName() ."</a></li>");
							}
						}else{
							echo $this->__('No Category !');
						}
					?>
					
				</ul>
			<div class="featuredcategory-by-magestore">
                <a href="http://www.magestore.com"><?php echo $this->__('By Magestore'); ?></a>
				-
                <a href="http://www.magestore.com/magento-extensions.html/"><?php echo $this->__('Magento extensions');?></a>                
            </div>

                