.edit .drop
{
    background-color: #FFFFFF;
    border: 2px dashed grey;
    color: #808080;
    font-size: 13px;
    margin: 5px 0;
    padding: 6px;
    text-align: center;
}

.edit .drop.hover
{
    color: #090;
    border-color: #090;
    border-style: solid;
    /*box-shadow: inset 0 3px 4px #888;*/
}

.edit .progress .progress-bar
{
    margin: 0 0 8px;
    border: 1px solid gray;
    background: white;
    width: 100%;
}

.edit .progress .progress-bar .complete
{
    background: #EA7601;
}
