<?php
/**
* @author Amasty Team
* @copyright Copyright (c) 2010-2013 Amasty (http://www.amasty.com)
*/
?>

<script type="text/javascript">
Event.observe(window, 'load', function(){
    oeditGrid  = new amOgrid(<?php echo $this->getColumnsProperties(); ?>, '<?php echo $this->getSaveUrl(); ?>', <?php echo $this->getStoreId(); ?>, '%b %d, %Y', '<?php echo Mage::getDesign()->getSkinUrl('images/grid-cal.gif'); ?>');
});

attachDeleteUrl = '<?php echo $this->getUrl('orderattach/adminhtml_order/delete'); ?>';
attachReloadUrl = '<?php echo $this->getUrl('orderattach/adminhtml_order/reload'); ?>';
attachHTML5 = '<?php echo Mage::getStoreConfig('amorderattach/general/html5'); ?>';

</script>
<div id="amorderattach_edit_note" style="position: absolute; top: 0px; left: 0px; border: 1px solid gray; background-color: white; padding: 2px; font-size: 10px; display: none;">
    <?php echo $this->__('Click to edit this cell right on the grid.'); ?>
</div>
