<?php
 /**
 * GoMage LightCheckout Extension
 *
 * @category     Extension
 * @copyright    Copyright (c) 2010-2014 GoMage (http://www.gomage.com)
 * @author       GoMage
 * @license      http://www.gomage.com/license-agreement/  Single domain license
 * @terms of use http://www.gomage.com/terms-of-use
 * @version      Release: 5.6
 * @since        Class available since Release 2.4
 */
?>
<div class="glc-fieldset-help">
    <h4>
        <?php echo Mage::helper('gomage_checkout')->__('<strong style="color:#EA7601;">GoMage LightCheckout</strong> <a target="_blank" href="http://www.gomage.com/faq/extensions/lightcheckout/"><strong>Help</strong></a>')?>
    </h4>    
</div>