<?php
 /**
 * GoMage LightCheckout Extension
 *
 * @category     Extension
 * @copyright    Copyright (c) 2010-2014 GoMage (http://www.gomage.com)
 * @author       GoMage
 * @license      http://www.gomage.com/license-agreement/  Single domain license
 * @terms of use http://www.gomage.com/terms-of-use
 * @version      Release: 5.6
 * @since        Class available since Release 1.0
 */
?>
<h2 class="glc-title"><span class="glc-number">&#x2714;</span><strong><?php echo $this->__('Order Review');?></strong></h2>

<div class="totals">
	<?php echo $this->getChildHtml('info');?>
</div>
<?php if (Mage::getStoreConfig('rewards/general/layoutsactive')): ?>
	<div class="glc-rewards-points">	
		<?php echo $this->getChildHtml('gomage.rewards.points'); ?>
	</div>
<?php endif; ?>