<?php
     
     $_helper = $this->helper('catalog/output'); 
    
?>

<?php if (($_products = $this->getProductCollection()) && $_products->getSize()): ?>
	<div class="block bestselling">
		<div class="block-title">
		<?php 
?>
			<strong>
				<span><?php echo $this->__('Best Selling')?></span>
			</strong>
		</div>
		<div class="block-content">
			<div class="newproducts">
				
				<div class="carousel" id="bestselling">
					<div class="slider">
						<?php 
							$_arrProductIds = array(); 
							$_arrIndex = 0;
						?>
						<?php $i=0; foreach ($_products->getItems() as $_product): $i++; ?>
							<?php
								if($_arrIndex > 5) break;
								$_allowShow = false;
								$simpleProductId = $_product->getId();
								$parentIds = Mage::getResourceSingleton('catalog/product_type_configurable')->getParentIdsByChild($simpleProductId);
							?> 
							
							<?php if(count($parentIds) > 0){ ?>
								<?php 
									$_cfgProduct = Mage::getModel('catalog/product')->load($parentIds[0]); 
									if(count($_arrProductIds) > 0){
										if(!in_array($_cfgProduct->getId(),$_arrProductIds)){
											$_arrProductIds[$_arrIndex] = $_cfgProduct->getId();
											$_arrIndex += 1;
											$_allowShow = true;
										}
									}else{
										$_arrProductIds[$_arrIndex] = $_cfgProduct->getId();
										$_arrIndex += 1;
										$_allowShow = true;
									}
								?>
								<?php if($_cfgProduct->isVisibleInSiteVisibility() && $_allowShow && ($_arrIndex < 6)) {?>
								<div class="item slide <?php if(($i == 4 && $_cfgProduct->getSize() < 5) || ($i == $_cfgProduct->getSize()) ) echo 'last'?>"> 
									<?php echo $this->getReviewsSummaryHtml($_cfgProduct, 'short') ?>          
									<a href="<?php echo $_cfgProduct->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_cfgProduct->getName()) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_cfgProduct, 'small_image')->resize(210) ?>" width="100" height="100" alt="<?php echo $this->htmlEscape($_cfgProduct->getName()) ?>" /></a>
									<div id="productimgover<?php echo $_cfgProduct->getId()?>" style="display: none;"><img src="<?php echo $this->helper('catalog/image')->init($_cfgProduct, 'small_image')->resize(64); ?>" width="64" height="64" alt="<?php echo $this->stripTags($this->getImageLabel($_cfgProduct, 'small_image'), null, true) ?>" /></div>	
									<div id='productname<?php echo $_cfgProduct->getId()?>' style='display:none'><?php echo $_helper->productAttribute($_cfgProduct, $_cfgProduct->getName(), 'name') ?></div>
									
									<div class="new-description">
										<h2 class="product-name"><a href="<?php echo $_cfgProduct->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_cfgProduct->getName()) ?>"><?php echo $this->htmlEscape($_cfgProduct->getName()) ?></a></h2>
										<?php 
											echo $this->getLayout()->createBlock('callforprice/listprice')->setProduct($_cfgProduct)->setPrefix('')->toHtml();
										?>            
									
										<?php $product = Mage::getModel('catalog/product')->load($_cfgProduct->getId());?>
										<?php if($product->isSaleable()): ?>
											<button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart <?php echo Mage::app()->getLocale()->getLocaleCode(); ?>" onclick="setLocation('<?php echo $this->getAddToCartUrl($_cfgProduct) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
										<?php endif; ?>
										
										<?php echo "<!-- price: " . Mage::getModel('directory/currency')->format($_cfgProduct->getPrice(),array('display'=>Zend_Currency::NO_SYMBOL),false) . " -->"; ?>
										<div style="clear: both;"></div>
									</div>     
								</div>
								<?php } ?>
							<?php }else{ ?>
								<?php
									$_arrProductIds[$_arrIndex] = $_product->getId();
									$_arrIndex += 1;
									$_allowShow = true;
								?>
								<?php if($_product->isVisibleInSiteVisibility() && ($_arrIndex < 6)) {?>
								<div class="item slide <?php if(($i == 4 && $_products->getSize() < 5) || ($i == $_products->getSize()) ) echo 'last'?>"> 
									<?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>          
									<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(210) ?>" width="100" height="100" alt="<?php echo $this->htmlEscape($_product->getName()) ?>" /></a>
									<div id="productimgover<?php echo $_product->getId()?>" style="display: none;"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(64); ?>" width="64" height="64" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></div>	
									<div id='productname<?php echo $_product->getId()?>' style='display:none'><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></div>
									
									<div class="new-description">
										<h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>"><?php echo $this->htmlEscape($_product->getName()) ?></a></h2>
										<?php 
											echo $this->getLayout()->createBlock('callforprice/listprice')->setProduct($_product)->setPrefix('')->toHtml();
										?>            
										
										<?php $product = Mage::getModel('catalog/product')->load($_product->getId());?>
										<?php if($product->isSaleable()): ?>
											<button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart <?php echo Mage::app()->getLocale()->getLocaleCode(); ?>" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
										<?php endif; ?>
											
										<div style="clear: both;"></div>
									</div>     
								</div>
								<?php } ?>
							<?php } ?>
						<?php endforeach; ?>
					</div>             
				</div>
			</div>
		</div>
        <?php if($_products->getSize() > 4): ?>
            <div class="prev new-arrow">&nbsp;</div>
            <div class="next new-arrow">&nbsp;</div>  
        <?php endif; ?>
    </div>     
    <div style="clear: both;"></div>
    <?php echo "<!-- Currency Symbol: <span>".Mage::app()->getStore()->getCurrentCurrencyCode()."-".Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol()."</span> -->"; ?>
    <!--						
    <?php if($_products->getSize() > 5): ?>
        <script type="text/javascript">
            jQuery(document).ready(function() {
				jQuery('#bestselling').jcarousel({
				vertical: true,
				scroll: 2,
				auto:true
				});
			});    
        </script>    
    <?php endif; ?>
	-->
<?php endif; ?>