
<div class="block block-list block-active">
    <div class="block-title">
        <strong>
            <span>Activity Block</span>
        </strong>
    </div>
    <div class="block-content">
        <ol >
        </ol>   
    </div>
</div>
<script type="text/javascript">
    document.observe("dom:loaded", function() {
        var activityUrl = "<?php echo $this->getLastActivityUrl(); ?>";
        var objActivity = new amastyWhatsupBlock.create(activityUrl)
    });
</script>