<?php
 /**
 * GoMage LightCheckout Extension
 *
 * @category     Extension
 * @copyright    Copyright (c) 2010-2014 GoMage (http://www.gomage.com)
 * @author       GoMage
 * @license      http://www.gomage.com/license-agreement/  Single domain license
 * @terms of use http://www.gomage.com/terms-of-use
 * @version      Release: 5.6
 * @since        Class available since Release 2.0
 */
?>
<div class="glc-step address" id="gcheckout-onepage-address">
	<?php echo $this->getChildHtml('address');?>
</div>


<div class="glc-step methods" id="gcheckout-onepage-methods">
  <?php echo $this->getChildHtml('methods');?>
</div>

<div class="glc-step review" id="gcheckout-onepage-review">
  
  <?php echo $this->getChildHtml('review');?>
  
  <?php if($this->isEnabled('comments')):?>
  <div class="customer-comment">
    <label for="customer_comment"><?php echo  $this->__('Comments') ?></label>
    <textarea id="customer_comment" name="customer_comment" cols="50" rows="5"><?php echo $this->getCustomerComment();?></textarea>
  </div>
  <?php endif;?>
  
  <div class="advanced-options">
    
    <?php if (!$this->getQuote()->isVirtual()): ?>
        <div id="gomage-lightcheckout-giftmessage">
            <?php echo $this->helper('gomage_checkout/giftMessage')->getInline('onepage_checkout', $this->getQuote(), $this->getDontDisplayContainer()) ?>
            </div>
    <?php endif; ?>
    <?php if($this->getConfigData('termsandconditions/enabled')):?>
      <p class="control control-terms">
	      <input type="checkbox" value="1" id="accept_terms" name="accept_terms" class="required-entry absolute-advice radio" />
	      <label for="accept_terms"><?php echo $this->__('I accept the <a class="terms-link" href="%s" rel="#terms-block" onclick="%s">Terms and Conditions</a>', "#terms-block","checkout.showTerms();return false;");?></label>
      </p>
    <?php endif;?>
    <div class="agreements">
		<?php echo $this->getChildHtml('agreements') ?>
	</div>
    <?php if($this->getConfigData('poll_settings/display')):?>
      <?php echo $this->getChildHtml('poll'); ?>
    <?php endif;?>
  </div>
  <div id="checkout-update-section"></div>
  <?php $form_additional_info = $this->getChildHtml('form.additional.info'); ?>
  <?php if ($form_additional_info): ?>
    <ul class="form-list">
      <?php echo $form_additional_info; ?>
    </ul>
  <?php endif; ?>
  <div class="button-set" id="checkout-review-submit">
    <button <?php if(!$this->getQuote()->validateMinimumAmount()): ?>disabled="disabled"<?php endif; ?> onclick="checkout.LightcheckoutSubmit()" id="submit-btn" type="button" title="<?php echo $this->__('Place Order') ?>" class="button btn-checkout <?php if(!$this->getQuote()->validateMinimumAmount()): ?>disabled<?php endif; ?>">
      <span><span><?php echo $this->__('Place Order') ?></span></span>
    </button>
  <?php if($this->isEnabled('newsletter')):?>
    <?php if(!$this->isCustomerLoggedIn() || !Mage::getModel('newsletter/subscriber')->loadByCustomer($this->getCustomer())->getStatus()):?>
    	<?php if (in_array($this->helper->getConfigData('address_fields/newsletter'), array(1,2))): ?>    
		    <p class="control control-subscribe">
		      <input type="checkbox" value="1" id="subscribe" name="subscribe" <?php if($this->helper->getConfigData('address_fields/newsletter') == 2):?> checked="checked" <?php endif;?> />
		      <label for="subscribe"><?php echo $this->__('Subscribe to newsletter');?></label>
		    </p>		
		<?php endif; ?>        
    <?php endif;?>
  <?php endif;?>
  </div>

</div>