<?php
/**
 * Author: Hieunt
 * Date: 3/21/13
 * Time: 5:11 PM
 */
?>
<?php
$helper = Mage::helper('xwarehouse');
$warehouses = $helper->getAllWarehouse();
?>
<div>
    <span class="field-row" style="margin-left:28px;">
        <?php foreach($warehouses as $warehouse): ?>
            <input type="radio" name="warehouse_id" id="warehouse_<?php echo $warehouse['value'] ?>" class="radio" onclick="order.setWarehouseId('<?php echo $warehouse['value'] ?>')"/>
            <label for="warehouse_<?php echo $warehouse['value'] ?>" class="inline"><?php echo $warehouse['label'] ?></label>
        <?php endforeach; ?>
     </span>
</div>

