
/**
 * Product:     Shopping Cart Editor
 * Package:     Aitoc_Aiteditablecart_2.1.0_635717
 * Purchase ID: n/a
 * Generated:   2013-07-16 08:43:34
 * File path:   skin/frontend/base/default/css/aiteditablecart.css
 * Copyright:   (c) 2013 AITOC, Inc.
 */
.cart .product-options .qty-disabled {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    color: #000000;
    padding: 3px;
}