/******************************************************
 * @package Megamenu module for Magento 1.4.x.x and Magento 1.5.x.x
 * @version 1.5.0.4
 * @author http://www.9magentothemes.com
 * @copyright (C) 2011- 9MagentoThemes.Com
 * @license PHP files are GNU/GPL
*******************************************************/
.megamenu-container {
    position:relative;
}
#megamenu {
    background:url(../../images/megamenu/bg-menu.png) 0 0 repeat-x;height:48px;width:1140px;margin:0 auto; font-size:13px; }
}
#megamenu ul {
    padding: 0;
    margin: 0;
}
#megamenu ul li {
    float: left;
    position:relative;
    list-style: none outside none;
}
#megamenu li.first > div.childcontent

#megamenu ul li.root {
    height:48px;
    z-index:11;
}
#megamenu ul li.last {
    background:0 none;
}
#megamenu ul li.root a {
    line-height: 48px;
}


#megamenu ul li.first a {
    background:url(../../images/megamenu/home.png) 0 16px no-repeat;
    padding: 0  0 0 30px;
	margin-left:15px;
}
#megamenu ul li.first a:hover{background-position:0 -26px;}
#megamenu ul li a {
    z-index: 10;
    position: relative;
    color: #fff;
    text-transform:none;
    text-decoration:none;
    font-size: 20px;
	font-family:KenyanCoffeeRegular;
    font-weight: normal;
    display:block;
    cursor:pointer;
    padding: 0 16px;
}
#megamenu ul li a span {
}
#megamenu ul li.over > a {
    color:#a4f812;
}
#megamenu ul li.current > a {
    color:#a4f812;
	background-position:0 -26px;
}
#megamenu div.background {
    
    z-index: 8;
    position: absolute;
    visibility: hidden;
}
#megamenu div.background .left {
  
    height: 47px;
    float:none !important;
    margin-right: 34px;
}
#megamenu li.root > div.childcontent {
    position:absolute;
    top:48px;
    left:-10000px;
    background:url(../../images/megamenu/bg-sub.png) 0 0 repeat-x;
    z-index:99;
    text-align: left;
	border-left:4px solid #2599ef;
	-moz-box-shadow:0px 2px 5px  #d1d1d1;
    -webkit-box-shadow: 0px 2px 5px   #d1d1d1;
     box-shadow: 0px 2px 5px   #d1d1d1;
}
#megamenu .megamenu-title > img {
    float:left;
}
#megamenu .root > .megamenu-title > img {
    padding:16px 2px 0 0 !important;
}
#megamenu .megamenu-title > img.icon-megamenu {
    padding:10px 2px 0 10px;
}
#megamenu .megamenu-title > img.no-icon-megamenu {
    padding:7px 0 0 0;
}
#megamenu div.categorycontent {
    border: 1px solid #cccccc;
    background:#FFFFFF;
}
#megamenu .childcontent ul li a {
    color:#848282;
    line-height: 32px;
}
#megamenu li.over div.childcontent {
    left:0;
}
#megamenu div.childcontent ul {
    top:0;
    float:left;
    width: 100%;
}
#megamenu div.childcontent ul li {
    float:left;
    background:none;
    width:100%;	
}
#megamenu div.childcontent ul li a{background:url(../../images/megamenu/bg-sub-col2.png) 0 0 repeat-x;border-bottom: 1px solid #e9e9e9;line-height: 30px;}
#megamenu div.childcontent ul.col2 li.first a{margin: 0;padding: 0 20px;}
#megamenu div.childcontent ul li a {
    font-size:14px;
	font-family:Arial;
    text-transform:none;
    padding:0;
    display:block;
    margin: 0;
	padding: 0 20px;	
}
#megamenu div.childcontent ul li a:hover {
    color: #3f9bef;
	background:url(../../images/megamenu/bg-sub-col2.png) 0 0 repeat-x;
}
#megamenu div.childcontent ul li.group > a {
    text-transform:none;  
	color:#4ba2f1;
	font-size:20px;
}
#megamenu div.childcontent ul li.group > a:hover{color:#A4F812;}
#megamenu div.childcontent ul.col1{}
#megamenu div.childcontent ul.col1 li.group > a{padding: 7px 20px 0;background:none;border:none;font-size: 20px;font-family:KenyanCoffeeRegular;;}
#megamenu div.childcontent ul.col2 li.group > a{padding: 8px 0;margin-left:10px;background:none;font-family:KenyanCoffeeRegular;}
#megamenu div.childcontent ul.col2 li.group:hover > a{background:none;}
#megamenu div.childcontent ul.col2 li:hover > a {  background:url(../../images/megamenu/tick-sub.png) right 50% no-repeat ;}
#megamenu div.childcontent ul ul li.group > a {
    border: 0;
}
#megamenu div.childcontent ul li:hover a span {
      
}
#megamenu .sub-megamenu {
    position:absolute;
    top:0;
    left:-10000px;
    background:#FFFFFF;
    z-index:20;
	border-left: 4px solid #2599EF;
   -moz-box-shadow:0px 2px 5px  #d1d1d1;
    -webkit-box-shadow: 0px 2px 5px   #d1d1d1;
     box-shadow: 0px 2px 5px   #d1d1d1;

}
#megamenu .sub-megamenu ul a{padding:0 ;background:none !important;}
#megamenu .sub-megamenu ul li:hover a span {}
#megamenu .sub-megamenu ul li:hover a{padding:0 10px;}
#megamenu div.childcontent ul.col1 ul li.first {
    padding-top:10px;
   }
#megamenu div.childcontent ul.col1 ul li.first   img{
   
	margin-left:10px;
   }   
#megamenu  div.childcontent ul.col1 ul li.first  img:hover{
    
   }
#megamenu div.childcontent ul.col1 ul li.first p{margin:0;background:#e8e8e8;padding:6px;}   
#megamenu div.childcontent ul.col1 ul li.first p.text{background:none;margin-left:10px;color:#8d8c8c;margin-top: 5px;font-size: 13px;font-family:VNIHelveCondenseRegular;}   