<?php
$warehouses = $this->getWarehouses();
?>

<p class="switcher"><label for="stock_switcher"><?php echo $this->__('Choose Stock:') ?></label>

<select name="stock_switcher" id="stock_switcher" onchange="return switchStock(this);">
<?php if ($this->hasDefaultOption()): ?>
    <option value="0"><?php echo $this->getDefaultWarehouseName() ?></option>
<?php endif; ?>
    <?php foreach ($warehouses as $warehouse): ?>
        <option value="<?php echo $warehouse['value'] ?>" <?php if ($this->getWarehouseId() == $warehouse['value']): ?> selected="selected" <?php endif; ?>><?php echo $warehouse['label'] ?></option>
    <?php endforeach; ?>
</select>

<script type="text/javascript">
    function switchStock(obj) {
        var warehouseParam = obj.value ? 'warehouse/' + obj.value + '/' : '';
        if (obj.switchParams) {
            warehouseParam += obj.switchParams;
        }
    <?php if ($this->getUseConfirm()): ?>
        if (confirm("<?php echo $this->__('Please confirm site switching. All data that hasn\'t been saved will be lost.') ?>")) {
            setLocation('<?php echo $this->getSwitchUrl() ?>' + warehouseParam);
            return true;
        } else {
            obj.value = '<?php echo $this->getWarehouseId() ?>';
        }
        return false;
        <?php else: ?>
        setLocation('<?php echo $this->getSwitchUrl() ?>' + warehouseParam);
        <?php endif; ?>
    }
</script>
