#mt-accordion 
	{ 
		margin:0; 
		padding: 0;
	}
.side-col .box
	{
		clear:both;
	}
#mt-accordion li.level0
	{
		background: url("../images/bg-sub-col2.png") repeat-x scroll 0 100% transparent;
		border-bottom: 1px solid #E9E9E9;
        color: #757575;
        padding:5px 0;
		line-height:25px;
		font-weight:normal;
		list-style:none;
		 
	}
#mt-accordion li.nav-racquets-sub-racquets-01,
#mt-accordion li.nav-tennis-bags-sub-tennis-bags-01 {border-top: 1px solid #E9E9E9;} 
	
/* Some list and link styling */
#mt-accordion ul li
	{
		/*padding-left:10px;*/
	}
#mt-accordion ul ul li 
	{ 
		border:none !important; 
		padding: 0; margin-bottom: 0
		; 
	}
#mt-accordion ul ul
	{
		display:block !important;
	}
#mt-accordion ul ul li a,#mt-accordion ul li a
	{
		background: url("../images/tick-footer.png") no-repeat scroll 0 10px transparent;
		padding-left:20px;
		font-weight:normal;
		 margin-left: 25px;
	}
#mt-accordion ul  li a 
	{ 
		text-decoration:none;
		text-transform:none;
		color:#e5e5e5e;   
	}


/* For the xtra menu */

#mt-accordion ul ul li 
	{   
		margin-bottom: 0; 
	}
#mt-accordion ul ul li
	{
		padding-left:0px;
	}
#mt-accordion ul ul li a
	{
		background:url("../images/menu_bg_li2.gif") no-repeat scroll 0 50% transparent; 
		color: #e5e5e5;
		padding-left:15px;
		margin-left:35px;
		padding-top:5px;
		padding-bottom:5px;
	}
#mt-accordion ul ul li.nav-equipment-clacrks-sub-7-clacrks-sub-03 {margin-top:5px;}	
#mt-accordion ul ul li a:hover{background:url("../images/menu_bg_li2.gif") no-repeat scroll 0  50% transparent; }	
#mt-accordion ul ul li 
	{
		border:none;
	}
#mt-accordion span  a
	{
		width:16px;
	}
#mt-accordion li a
	{
	    background: url("../images/tick-footer.png") no-repeat scroll 0 8px transparent;
		text-transform:capitalize;
		color:#757575;
		text-decoration:none; 		
		font-size:14px;
		margin: 0 0 0 15px;
        padding: 0 15px;
		font-family:Arial;
		
	}
#mt-accordion li a:hover
	{
    background-position:0 -13px;
    color: #49ABFD;
}
		
		
	}
#mt-accordion ul
	{
		padding:0px;
	}
#mt-accordion ul ul 
	{
		float:left;
		padding:0px;
		width:100%;
	}
#mt-accordion ul,#mt-accordion ul ul,#mt-accordion ul ul ul , #mt-accordionul ul ul ul
	{
		padding:0;
		margin:0;
	}
/* Header links styling */
#mt-accordion span.head a 
	{ 
		background:url(../images/menu_down.png) no-repeat !important; 
		color:#333333;
		display:block;
		height:15px;
		margin-top:5px;
		margin-right: 15px;
		padding:0;
		width:15px;
	}
#mt-accordion span.head a:hover 
	{ 
		color: #000;
		background:url(../images/menu_down.png) no-repeat; 
		background-position: 98% 50%;		
	}
#mt-accordion span.selected a 
	{ 
		background:  url(../images/menu_up.png) no-repeat !important ; 
		background-position:98% 50% ;
		color: #fff;
		padding:0px;
	}
#mt-accordion span.selected a:hover 
	{ 
		background: #69c url(../images/menu_up.png) no-repeat; 
		background-position:98% 50%;
		color: #36a;
	}
#mt-accordion li.active a 
	{
	  background-position:0 -13px;
      color: #49ABFD;
	}
#mt-accordion li.active ul li a {
		font-weight:normal;
	    font-family:Arial;
        font-size:14px;
        color:#757575;
		background: url("../images/tick-footer.png") no-repeat scroll 0 10px transparent;
		padding-left: 15px;
	}	
#mt-accordion li.active ul li a:hover{
       color: #49ABFD;
	   padding-left: 15px;
	    background-position:0 -11px;
    }	
#mt-accordion li.active  ul li a {
		font-weight:normal;
		
	}
#mt-accordion li.active ul li.active ul li.active a {
		font-weight:normal;
	}
#mt-accordion li.active ul li.active ul li a {
		font-weight:normal;
		background: url("../images/tick-categories-hover.png") no-repeat scroll 0 50% transparent;
        color: #ED5206;	
	}
#mt-accordion li.active ul li.active a {
	background-position:0 -11px;
    color: #49ABFD;
}
#mt-accordion li a
	{
		float:left;
	}
#mt-accordion ul
	{
		float:left;
		clear:both;
		padding: 5px 0 0;
	}			
#mt-accordion li
	{
		float:left;
		width:100%;
		clear:both;
	}	
	
#mt-accordion ul li
	{
	    background: url("../images/bg-sub-col3.png") repeat-x scroll 0 100% transparent;
		
		width:210px;
		padding:5px 0;
		margin:0;
		
	}
#mt-accordion ul li.last{padding:5px 0 0;background:none;}	
#mt-accordion ul li.nav-equipment-clacrks-sub-01 {
     
    }	
#mt-accordion ul li.nav-equipment-clacrks-sub-08{
    }	
#mt-accordion ul ul li
	{
		width:219px;
	}