/* MagenThemes Products List*/
.mt-products-list
	{
		float:left;
		width:97%;
		
		
	}
.mt-products-grid
	{
		width:100%
		float:left;
	}










.mt-products-grid li.item {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #CACACA;
  border-radius: 15px;
  box-shadow: 0 12px 15px -9px rgba(0, 0, 0, 0.3);
  float: left;
  margin: 5px 14px 0 0;
  min-height: 200px;
  overflow: hidden;
  padding: 10px;
  width: 20%;
}
.mt-products-grid li.first{/*margin:5px 15px 0 5px;*/}	
.mt-products-grid li.last{margin:5px 0;}	
.mt-products-grid li.item a.product-image{margin-bottom:10px;  display: block;    text-align: center;}	
.mt-products-grid li.item  .product-name a{color:#757575;font-size:13px;text-decoration:none;font-family:verdana; font-weight:bold; }
.mt-products-grid li.item  .product-name a:hover{color:#187fd6;}
.mt-products-grid  .product-name {min-height: 55px; text-align:center;}
.mt-products-grid  .ratings{float:left;width:177px; text-align:center;}

.mt-prolist-title {background:#D8C733;position: relative; text-align:center; width:100%;}	

.mt-prolist-title h2{margin: 0;padding: 10px 0;color:#fff;font-family:KenyanCoffeeRegular;font-size:24px;line-height: 24px;}
.mt-products-grid .price-box{text-align:center;}
.mt-products-grid .mt-actions{float:left;}