.mt-more-images
    {
        position:relative;
    }
	
/* horizontal slide*/
.product-view .next, .product-view .prev
    {
        cursor: pointer;
        position:absolute;
        z-index:90;
        background-image:url(../images/hor_ctr.png);
        width:18px;
        height:58px;
    }
.product-view .next
    {
        background-position:100% 0;
        right:2px;
		top:45px !important;
    }
.product-view .next:hover{}	
.product-view .prev
    {
        left:0;
        background-position:0 0;
		top:45px !important;
    }
.product-view .prev:hover{}	
/* vertical slide */
.product-view .mt-vert-thumb .next, .product-view .mt-vert-thumb .prev
    {
        background-image:url(../images/vert_ctr.png);
        width:40px;
        height:14px;
        /*left:11px;*/
    }
.product-view .mt-vert-thumb .next
    {
        
        /*top:296px;*/
    }
.product-view .mt-vert-thumb .prev
    {
       
        top:-5px;       
    }
.product-view .product-img-box .more-views li
    {
        display:block !important;
        float:left !important;
    }
.mt-image-zoom
    {
        
    }