<div class="values">
<?php if (!$this->value): ?>
No Uploaded File
<?php else: ?>
<a href="<?php echo $this->getUrl('orderattach/adminhtml_order/download', array('file' => $this->value))?>">
    <?php echo $this->value?>
</a>
<?php endif; ?>
</div>
<div class="edit" style="display: none;">

    <?php if ($this->value): ?>
        <?php echo $this->value; ?>
        <div style="margin-top: 2px; margin-bottom: 10px;">
            <button class="scalable" type="button" onclick="javascript: attachDeleteFile(this, <?php echo $this->order_id ?>, '<?php echo $this->field; ?>', '<?php echo $this->value; ?>', 'file');event.stop();">
                <span><?php echo $this->__('Delete'); ?></span>
            </button>
        </div>
    <?php endif; ?>

    <form method="post" enctype="multipart/form-data" action="<?php echo $this->getUrl('orderattach/adminhtml_order/upload'); ?>">
        <input type="hidden" name="form_key" value="<?php echo $this->getFormKey() ?>" />
        <input type="hidden" name="field" value="<?php echo $this->field ?>" />
        <input type="hidden" name="order_id" value="<?php echo $this->order_id ?>" />
        <input type="hidden" name="type" value="file" />

        <?php if (Mage::getStoreConfig('amorderattach/general/html5')): ?>
            <div data-multiple=0 class="drop" ondragenter="FileDragHover(event)" ondragover="FileDragHover(event)" ondragleave="FileDragHover(event)" ondrop="DropFile(event)">
                Drag files here to upload
            </div>
            <div class="progress" style="display:none;"></div>
        <?php endif ?>

        <input type="file" name="to_upload" />

        <iframe name="upload_target_<?php echo $this->field.'_'.$this->order_id ?>" src="" style="display: none; width: 700px; height: 500px;"></iframe>


        <div style="margin-top: 2px;">
            <button class="scalable" type="button" onclick="javascript: attachUpload(this, '<?php echo $this->field; ?>');event.stop();">
                <span><?php echo $this->__('Upload'); ?></span>
            </button>
            <button class="scalable" type="button" onclick="javascript: attachCancel(this);event.stop();">
                <span><?php echo $this->__('Cancel'); ?></span>
            </button>
        </div>
    </form>
</div>