<?php
 /**
 * GoMage LightCheckout Extension
 *
 * @category     Extension
 * @copyright    Copyright (c) 2010-2014 GoMage (http://www.gomage.com)
 * @author       GoMage
 * @license      http://www.gomage.com/license-agreement/  Single domain license
 * @terms of use http://www.gomage.com/terms-of-use
 * @version      Release: 5.6
 * @since        Class available since Release 1.0
 */
 
 $helper = Mage::helper('gomage_checkout');
 
 if(!$this->getDontDisplayContainer()): ?>


<script type="text/javascript">
//<![CDATA[
if(!window.toogleVisibilityOnObjects) {
    var toogleVisibilityOnObjects = function(source, objects) {
        if($(source) && $(source).checked) {
            objects.each(function(item){
                if (!$(item)) return;
                $(item).show();
                $$('#' + item + ' .input-text').each(function(item) {
                    item.removeClassName('validation-passed');
                });
            });


        } else {
            objects.each(function(item){
            	if (!$(item)) return;
                $(item).hide();
                $$('#' + item + ' .input-text').each(function(sitem) {
                    sitem.addClassName('validation-passed');
                });

                 $$('#' + item + ' .giftmessage-area').each(function(sitem) {
                    sitem.value = '';
                 });

  				 <?php if ($helper->getIsAnymoreVersion(1, 5)): ?>	
                     $$('#' + item + ' .checkbox').each(function(sitem) {
                         sitem.checked = false;
                     });
                     $$('#' + item + ' .select').each(function(sitem) {
                         sitem.value = '';
                     });
                     $$('#' + item + ' .price-box').each(function(sitem) {
                         sitem.addClassName('no-display');
                     });
                 <?php endif; ?> 
                 
            });

        }

    }
}
if(!window.toogleRequired) {
    var toogleRequired = function (source, objects)
    {
        if(!$(source).value.blank()) {
            objects.each(function(item) {
               $(item).addClassName('required-entry');
            });
        } else {
            objects.each(function(item) {
                if(shippingMethod && shippingMethod.validator) {
                   shippingMethod.validator.reset(item);
                }
                $(item).removeClassName('required-entry');
            });

        }
    }
}
if(window.shipping) {

shipping.onSave = function(evt){
    new Ajax.Updater('onepage-checkout-shipping-method-additional-load', '<?php echo $this->getAdditionalUrl(); ?>', {onSuccess: function() {
          this.nextStep(evt);
    }.bind(this), evalScripts:true});
}.bindAsEventListener(shipping);

billing.onSave = function(evt){
    new Ajax.Updater('onepage-checkout-shipping-method-additional-load', '<?php echo $this->getAdditionalUrl(); ?>', {onSuccess: function() {
          this.nextStep(evt);
    }.bind(this), evalScripts:true});
}.bindAsEventListener(billing);

}
//]]>
</script>
<?php endif;?>

<?php switch ($this->getType()):  case 'onepage_checkout': ?>
    <div class="gift-messages">
        <p class="control">
            <input type="checkbox" name="allow_gift_messages" id="allow_gift_messages" value="1" onclick="toogleVisibilityOnObjects(this, ['allow-gift-message-container']);"<?php if($this->getItemsHasMesssages() || $this->getEntityHasMessage()): ?> checked="checked"<?php endif; ?> class="radio" />
			<label for="allow_gift_messages"><?php echo $helper->__('Check this checkbox if you want to add gift messages.') ?></label>
        </p>
    </div>
    <div class="gift-messages-form" id="allow-gift-message-container" style="display:none;">
        <div class="inner-box">
            <?php if (Mage::helper('giftmessage/message')->isMessagesAvailable('quote', $this->getEntity())): ?>
                <div class="whole-order">
                    <h4><?php echo $helper->__('Enter a gift message for entire order.'); ?></h4>
                    <?php if ($helper->getIsAnymoreVersion(1, 5)): ?>
                        <input type="checkbox" name="allow_gift_messages_for_order" id="allow_gift_messages_for_order" value="1" onclick="toogleVisibilityOnObjects(this, ['allow-gift-messages-for-order-container']);"<?php if($this->getEntityHasMessage()): ?> checked="checked"<?php endif; ?> class="checkbox" />
                        <label for="allow_gift_messages_for_order"><?php echo $this->__('Add gift options for the Entire Order') ?></label>
                    <?php endif; ?>
                    <div id="allow-gift-messages-for-order-container">
                        <p><?php echo $helper->__('You can leave this box blank if you do not wish to add a gift message for whole order.') ?></p>
                        <input type="hidden" name="giftmessage[<?php echo $this->getEntity()->getId() ?>][type]"  value="quote" />
                        <ul class="form-list">
                            <li class="fields">
                                <div class="field gift-from">
                                    <label for="gift-message-whole-from"><?php echo $helper->__('From') ?></label>
                                    <div class="input-box">
                                        <input type="text" name="giftmessage[<?php echo $this->getEntity()->getId() ?>][from]" id="gift-message-whole-from" title="<?php echo $helper->__('From') ?>"  value="<?php echo $this->getEscaped($this->getMessage()->getSender(), $this->getDefaultFrom()) ?>" class="input-text validation-passed" />
                                    </div>
                                </div>
                                <div class="field gift-to">
                                    <label for="gift-message-whole-to"><?php echo $helper->__('To') ?></label>
                                    <div class="input-box">
                                        <input type="text" name="giftmessage[<?php echo $this->getEntity()->getId() ?>][to]" id="gift-message-whole-to" title="<?php echo $helper->__('To') ?>" value="<?php echo $this->getEscaped($this->getMessage()->getRecipient(), $this->getDefaultTo()) ?>" class="input-text validation-passed" />
                                    </div>
                                </div>
                            </li>
                            <li class="wide">
                                <label for="gift-message-whole-message"><?php echo $helper->__('Message') ?></label>
                                <div class="input-box">
                                    <textarea id="gift-message-whole-message" onchange="toogleRequired('gift-message-whole-message', ['gift-message-whole-from','gift-message-whole-to'])" class="input-text validation-passed giftmessage-area" name="giftmessage[<?php echo $this->getEntity()->getId() ?>][message]" title="<?php echo $helper->__('Message') ?>" rows="5" cols="10"><?php echo $this->getEscaped($this->getMessage()->getMessage()) ?></textarea>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <script type="text/javascript">
                    //<![CDATA[
                        toogleRequired('gift-message-whole-message', ['gift-message-whole-from','gift-message-whole-to']);
                    //]]>
                    </script>
                </div>
             <?php endif; ?>
             <?php if($this->isItemsAvailable()): ?>
                 <h4><?php echo $helper->__('Enter a gift message for each item in your order.'); ?></h4>
                 <?php if ($helper->getIsAnymoreVersion(1, 5)): ?>
                     <input type="checkbox" name="allow_gift_messages_for_items" id="allow_gift_messages_for_items" value="1" onclick="toogleVisibilityOnObjects(this, ['allow-gift-messages-for-items-container']);"<?php if($this->getItemsHasMesssages()): ?> checked="checked"<?php endif; ?> class="checkbox" />
                     <label for="allow_gift_messages_for_items"><?php echo $this->__('Add gift options for Individual Items') ?></label>
                 <?php endif; ?>
                 <div id="allow-gift-messages-for-items-container">
                     <p><?php echo $helper->__('You can leave this box blank if you do not wish to add a gift message for the item.') ?></p>
                     <ol>
                     <?php foreach($this->getItems() as $_index=>$_item): ?>
                     <?php $_product=$_item->getProduct() ?>
                     <li class="item">
                         <div class="product-img-box">
                             <p class="product-image">
                                 <img src="<?php echo $this->helper('catalog/image')->init($_product, 'thumbnail')->resize(75); ?>" width="75" height="75" alt="<?php echo $this->htmlEscape($_product->getName()) ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>" />
                             </p>
                             <p class="number"><?php echo $helper->__('Item %d of %d', $_index+1, $this->countItems()) ?></p>
                         </div>
                         <div class="details">
                             <div class="f-fix">
                                 <h5 class="product-name"><?php echo $this->htmlEscape($_product->getName()) ?></h5>
                                 <input type="hidden" name="giftmessage[<?php echo $_item->getId() ?>][type]" value="quote_item" />
                                  <ul class="form-list">
                                     <li class="fields">
                                         <div class="field gift-from">
                                             <label for="gift-message-<?php echo $_item->getId() ?>-from"><?php echo $helper->__('From') ?></label>
                                             <div class="input-box">
                                                 <input type="text" name="giftmessage[<?php echo $_item->getId() ?>][from]" id="gift-message-<?php echo $_item->getId() ?>-from" title="<?php echo $helper->__('From') ?>" value="<?php echo $this->getEscaped($this->getMessage($_item)->getSender(), $this->getDefaultFrom()) ?>" class="input-text validation-passed" />
                                             </div>
                                         </div>
                                         <div class="field gift-to">
                                             <label for="gift-message-<?php echo $_item->getId() ?>-to"><?php echo $helper->__('To') ?></label>
                                             <div class="input-box">
                                                 <input type="text" name="giftmessage[<?php echo $_item->getId() ?>][to]" id="gift-message-<?php echo $_item->getId() ?>-to" title="<?php echo $helper->__('To') ?>" value="<?php echo $this->getEscaped($this->getMessage($_item)->getRecipient(), $this->getDefaultTo()) ?>" class="input-text validation-passed" />
                                             </div>
                                         </div>
                                     </li>
                                     <li class="wide">
                                         <label for="gift-message-<?php echo $_item->getId() ?>-message"><?php echo $helper->__('Message') ?></label>
                                         <div class="input-box">
                                             <textarea id="gift-message-<?php echo $_item->getId() ?>-message" onchange="toogleRequired('gift-message-<?php echo $_item->getId() ?>-message', ['gift-message-<?php echo $_item->getId() ?>-from','gift-message-<?php echo $_item->getId() ?>-to'])" class="input-text validation-passed giftmessage-area" name="giftmessage[<?php echo $_item->getId() ?>][message]" title="<?php echo $helper->__('Message') ?>" rows="5" cols="40"><?php echo $this->getEscaped($this->getMessage($_item)->getMessage()) ?></textarea>
                                         </div>
                                     </li>
                                 </ul>
                                 <script type="text/javascript">
                                 //<![CDATA[
                                    toogleRequired('gift-message-<?php echo $_item->getId() ?>-message', ['gift-message-<?php echo $_item->getId() ?>-from','gift-message-<?php echo $_item->getId() ?>-to']);
                                 //]]>
                                 </script>
                             </div>
                         </div>
                     </li>
                     <?php endforeach; ?>
                 </ol>
             </div>
             <?php endif; ?>
        </div>
    </div>
    <script type="text/javascript">
    //<![CDATA[
        toogleVisibilityOnObjects('allow_gift_messages', ['allow-gift-message-container']);
        <?php if ($helper->getIsAnymoreVersion(1, 5)): ?>        
            toogleVisibilityOnObjects('allow_gift_messages_for_order', ['allow-gift-messages-for-order-container']);
            toogleVisibilityOnObjects('allow_gift_messages_for_items', ['allow-gift-messages-for-items-container']);
        <?php endif; ?>        
    //]]>
    </script>
<?php break;  case 'multishipping_adress_checkbox': ?>

<?php break;  case 'multishipping_adress': ?>
    <div class="gift-messages">
        <h3><?php echo $helper->__('Gift Messages'); ?></h3>
        <p class="control">
            <input type="checkbox" name="allow_gift_messages_<?php echo $this->getEntity()->getId() ?>" id="allow_gift_messages_<?php echo $this->getEntity()->getId() ?>" value="1" onclick="toogleVisibilityOnObjects(this, ['allow-gift-message-container-<?php echo $this->getEntity()->getId() ?>']);"<?php if($this->getItemsHasMesssages() || $this->getEntityHasMessage()): ?> checked="checked"<?php endif ?> class="checkbox" /><label for="allow_gift_messages_<?php echo $this->getEntity()->getId() ?>"><?php echo $helper->__('Check this checkbox if you want to add gift messages to your items.') ?></label>
        </p>
    </div>
    <div class="gift-messages-form" id="allow-gift-message-container-<?php echo $this->getEntity()->getId() ?>" style="display:none;">
        <div class="inner-box">
            <?php if (Mage::helper('giftmessage/message')->isMessagesAvailable('quote', $this->getEntity())): ?>
                <div class="whole-order">
                    <h4><?php echo $helper->__('Enter a gift message for this address.'); ?></h4>
                    <?php if ($helper->getIsAnymoreVersion(1, 5)): ?>
                        <input type="checkbox" name="allow_gift_messages_for_order_<?php echo $this->getEntity()->getId() ?>" id="allow_gift_messages_for_order_<?php echo $this->getEntity()->getId() ?>" value="1" onclick="toogleVisibilityOnObjects(this, ['allow-gift-messages-for-order-container-<?php echo $this->getEntity()->getId() ?>']);"<?php if($this->getEntityHasMessage()): ?> checked="checked"<?php endif; ?> class="checkbox" />
                     	<label for="allow_gift_messages_for_order"><?php echo $this->__('Add gift options for the Entire Order') ?></label>
                 	<?php endif; ?>
                 	<div id="allow-gift-messages-for-order-container-<?php echo $this->getEntity()->getId() ?>">
                        <p><?php echo $helper->__('You can leave this box blank if you do not wish to add a gift message for this address.') ?></p>
                        <input type="hidden" name="giftmessage[<?php echo $this->getEntity()->getId() ?>][type]" value="quote_address" />
                        <ul class="form-list">
                            <li class="fields">
                                <div class="field gift-from">
                                    <label for="gift-message-<?php echo $this->getEntity()->getId() ?>-from"><?php echo $helper->__('From') ?></label>
                                    <div class="input-box">
                                        <input type="text" name="giftmessage[<?php echo $this->getEntity()->getId() ?>][from]" id="gift-message-<?php echo $this->getEntity()->getId() ?>-from" title="<?php echo $helper->__('From') ?>" value="<?php echo $this->getEscaped($this->getMessage()->getSender(), $this->getDefaultFrom()) ?>" class="input-text validation-passed" />
                                    </div>
                                </div>
                                <div class="field gift-to">
                                    <label for="gift-message-<?php echo $this->getEntity()->getId() ?>-to"><?php echo $helper->__('To') ?></label>
                                    <div class="input-box">
                                        <input type="text" name="giftmessage[<?php echo $this->getEntity()->getId() ?>][to]" id="gift-message-<?php echo $this->getEntity()->getId() ?>-to" title="<?php echo $helper->__('To') ?>" value="<?php echo $this->getEscaped($this->getMessage()->getRecipient(), $this->getDefaultTo()) ?>" class="input-text validation-passed" />
                                    </div>
                                </div>
                            </li>
                            <li class="wide">
                                <label for="gift-message-<?php echo $this->getEntity()->getId() ?>-message"><?php echo $helper->__('Message') ?></label>
                                <div class="input-box">
                                    <textarea id="gift-message-<?php echo $this->getEntity()->getId() ?>-message" onchange="toogleRequired('gift-message-<?php echo $this->getEntity()->getId() ?>-message', ['gift-message-<?php echo $this->getEntity()->getId() ?>-from','gift-message-<?php echo $this->getEntity()->getId() ?>-to'])" class="input-text validation-passed giftmessage-area" name="giftmessage[<?php echo $this->getEntity()->getId() ?>][message]" title="<?php echo $helper->__('Message') ?>" rows="5" cols="40"><?php echo $this->getEscaped($this->getMessage()->getMessage()) ?></textarea>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <script type="text/javascript">
                    //<![CDATA[
                        var shippingMethod = new VarienForm('shipping_method_form');
                        toogleRequired('gift-message-<?php echo $this->getEntity()->getId() ?>-message', ['gift-message-<?php echo $this->getEntity()->getId() ?>-from','gift-message-<?php echo $this->getEntity()->getId() ?>-to']);
                    //]]>
                    </script>
                </div>
             <?php endif; ?>
             <?php if($this->isItemsAvailable()): ?>
             <h4><?php echo $helper->__('Enter a gift message for each item in your order.'); ?></h4>
             <?php if ($helper->getIsAnymoreVersion(1, 5)): ?>
                 <input type="checkbox" name="allow_gift_messages_for_items" id="allow_gift_messages_for_items" value="1" onclick="toogleVisibilityOnObjects(this, ['allow-gift-messages-for-items-container']);"<?php if($this->getItemsHasMesssages()): ?> checked="checked"<?php endif; ?> class="checkbox" />
                 <label for="allow_gift_messages_for_items"><?php echo $this->__('Add gift options for Individual Items') ?></label>
             <?php endif; ?>
             <div id="allow-gift-messages-for-items-container-<?php echo $this->getEntity()->getId() ?>">
                 <p><?php echo $helper->__('You can leave this box blank if you do not wish to add a gift message for the item.') ?></p>
                 <ol>
                 <?php foreach($this->getItems() as $_index=>$_item): ?>
                 <?php $_product=$_item->getProduct() ?>
                     <li class="item">
                         <div class="product-img-box">
                             <p class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(75); ?>" width="75" height="75" alt="<?php echo $this->htmlEscape($_product->getName()) ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>" /></p>
                             <p class="number"><?php echo $helper->__('Item %d of %d', $_index+1, $this->countItems()) ?></p>
                         </div>
                         <div class="details">
                             <div class="f-fix">
                                 <input type="hidden" name="giftmessage[<?php echo $_item->getId() ?>][type]" value="quote_address_item" />
                                 <input type="hidden" name="giftmessage[<?php echo $_item->getId() ?>][address]" value="<?php echo $this->getEntity()->getId()?>" />
                                 <h5 class="product-name"><?php echo $this->htmlEscape($_product->getName()) ?></h5>
                                 <ul class="form-list">
                                     <li class="fields">
                                         <div class="field gift-from">
                                             <label for="gift-message-<?php echo $_item->getId() ?>-from"><?php echo $helper->__('From') ?></label>
                                             <div class="input-box">
                                                 <input type="text" name="giftmessage[<?php echo $_item->getId() ?>][from]" id="gift-message-<?php echo $_item->getId() ?>-from" title="<?php echo $helper->__('From') ?>"  value="<?php echo $this->getEscaped($this->getMessage($_item)->getSender(), $this->getDefaultFrom()) ?>" class="input-text validation-passed" />
                                             </div>
                                         </div>
                                         <div class="field gift-to">
                                             <label for="gift-message-<?php echo $_item->getId() ?>-to"><?php echo $helper->__('To') ?></label>
                                             <div class="input-box">
                                                 <input type="text" name="giftmessage[<?php echo $_item->getId() ?>][to]" id="gift-message-<?php echo $_item->getId() ?>-to" title="<?php echo $helper->__('To') ?>" value="<?php echo $this->getEscaped($this->getMessage($_item)->getRecipient(), $this->getDefaultTo()) ?>" class="input-text validation-passed" />
                                             </div>
                                         </div>
                                     </li>
                                     <li class="wide">
                                         <label for="gift-message-<?php echo $_item->getId() ?>-message"><?php echo $helper->__('Message') ?></label>
                                         <div class="input-box">
                                             <textarea id="gift-message-<?php echo $_item->getId() ?>-message" onchange="toogleRequired('gift-message-<?php echo $_item->getId() ?>-message', ['gift-message-<?php echo $_item->getId() ?>-from','gift-message-<?php echo $_item->getId() ?>-to'])" class="input-text validation-passed  giftmessage-area" name="giftmessage[<?php echo $_item->getId() ?>][message]" title="<?php echo $helper->__('Message') ?>" rows="5" cols="10"><?php echo $this->getEscaped($this->getMessage($_item)->getMessage()) ?></textarea>
                                         </div>
                                     </li>
                                 </ul>
                                 <script type="text/javascript">
                                 //<![CDATA[
                                     toogleRequired('gift-message-<?php echo $_item->getId() ?>-message', ['gift-message-<?php echo $_item->getId() ?>-from','gift-message-<?php echo $_item->getId() ?>-to']);
                                 //]]>
                                 </script>
                             </div>
                         </div>
                     </li>
                 <?php endforeach; ?>
                 </ol>
             </div>
             <?php endif; ?>
        </div>
    </div>
    <script type="text/javascript">
    //<![CDATA[
        toogleVisibilityOnObjects('allow_gift_messages_<?php echo $this->getEntity()->getId() ?>', ['allow-gift-message-container-<?php echo $this->getEntity()->getId() ?>']);
        <?php if ($helper->getIsAnymoreVersion(1, 5)): ?>
            toogleVisibilityOnObjects('allow_gift_messages_for_order_<?php echo $this->getEntity()->getId() ?>', ['allow-gift-messages-for-order-container-<?php echo $this->getEntity()->getId() ?>']);
            toogleVisibilityOnObjects('allow_gift_messages_for_items_<?php echo $this->getEntity()->getId() ?>', ['allow-gift-messages-for-items-container-<?php echo $this->getEntity()->getId() ?>']);
        <?php endif; ?>        
    //]]>
    </script>
    <?php break;  endswitch ?>        