<?php
 /**
 * GoMage ProCart Extension
 *
 * @category     Extension
 * @copyright    Copyright (c) 2010-2014 GoMage (http://www.gomage.com)
 * @author       GoMage
 * @license      http://www.gomage.com/license-agreement/  Single domain license
 * @terms of use http://www.gomage.com/terms-of-use
 * @version      Release: 2.1
 * @since        Class available since Release 1.1
 */
 ?>

<?php $helper = Mage::helper('gomage_procart'); ?>

<a title="<?php echo $helper->__('Subtract'); ?>" class="procart-ab procart-harr procart-larr" href="javascript:GomageProcartConfig.qtyDown(#gpc_prod_id, #verification_qty, '#deals_id')">-</a>
<input class="input-text qty procart-qty" type="text" id="gpc_prod_id_#deals_id" value="1" />
<a title="<?php echo $helper->__('Add'); ?>" class="procart-ab procart-harr procart-rarr" href="javascript:GomageProcartConfig.qtyUp(#gpc_prod_id, #verification_qty, '#deals_id')">+</a>
